[2017-12-07 00:52] chardos commented on #272
Thanks for the replies guys.

What about the use case where a bundle includes both DOM dependent modules, and non-DOM dependent modules? I have a "component library" that has a bunch of react modules being compiled, but also a config file that needs to be accessed by DefinePlugin in another module. In my case, fixing the check would allow me to require just the single file I need.

Can we implemen

[2017-12-07 10:56] evilebottnawi commented on #277
@taven-liu IE7 is deprecated, also webpack@3 don't support IE7, i think it is not ok support this browser. How solve this? Use polyfill, example https://gist.github.com/chrisjlee/8960575. Thank for issue.

[2017-12-07 10:56] #277 closed

[2017-12-07 11:15] evilebottnawi commented on #280
@qq20004604 do you read https://github.com/webpack-contrib/style-loader#url note? Also can you describe what you expect.
Also source maps don't work because you use:
[code]
Just cache ` sourceMap: true`, because `css-loader` generate source maps, `style-loader` just add their for link. Thank for issue!

[2017-12-07 11:15] #280 closed

[2017-12-07 11:16] evilebottnawi commented on #271
@kud seems bug in Firefox, can you create minimum reproducible test repo?

[2017-12-07 11:25] evilebottnawi commented on #283
@qq20004604 hm, you are right, let's fix it

[2017-12-07 12:03] kud commented on #271
I'm sorry, this is a @webpack-contrib-services / css-loader issue in fact.

[2017-12-07 12:10] kud commented on #271
You can see my issue here: https://github.com/webpack-contrib/css-loader/issues/640

However, I don't see the point yet of sourceMap on THIS loader? Can you explain it to me please? O:)

[2017-12-07 12:20] evilebottnawi commented on #271
@kud `css-loader` generate source maps, but you can not want to insert them, honestly it does not make much sense, but this is a standard practice for all loaders what can generate source maps.

[2017-12-07 12:24] evilebottnawi commented on #134
@niksy yes, it is technical difficulty, but if you have idea how to solve this PR welcome

[2017-12-07 12:27] evilebottnawi commented on #207
Closed in favor https://github.com/webpack-contrib/style-loader/issues/256

[2017-12-07 12:27] #207 closed

[2017-12-07 12:29] evilebottnawi commented on #278
@Panoplos can you create minimum reproducible test repo?

[2017-12-07 12:37] kud commented on #271
I mean source maps for style-loader, not css-loader where I can see the point as it shows the url of the css file.

Or maybe did you make a mistake with the name of the loader you typed?

[2017-12-07 12:38] evilebottnawi commented on #271
@kud oh yes, it is type, i mean `style-loader`

[2017-12-07 12:40] evilebottnawi commented on #271
@kud when you use `sourceMap: true` for `style-loader` - you say what `style-loader` should insert soucr map url or content to `style` tag

[2017-12-07 12:43] evilebottnawi commented on #259
Confirm, let's fix it.

[2017-12-07 12:48] kud commented on #271
Ooooooooh, okay. Thank you!

[2017-12-07 12:48] #271 closed

[2017-12-07 13:01] evilebottnawi commented on #259
@webpack-bot move to webpack-contrib/css-loader

[2017-12-07 13:30] evilebottnawi commented on #259
@michael-ciniawsky seems problem not in `style-loader`, this problem in `css-loader` inside `postcss-modules-scope`, but need investigate. I think we should move this issue from `style-loader`

[2017-12-07 14:24] evilebottnawi commented on #214
Seems bug already fixed https://github.com/webpack-contrib/style-loader/blob/master/lib/urls.js#L57 and https://github.com/webpack-contrib/style-loader/blob/master/lib/urls.js#L65, in `style-loader` we have invalid regex to parse `url`.

@michael-ciniawsky unfortunately, it will not test right now, because jsdom don't have implement `createObjectURL` and `revokeObjectURL`.

I close the issue, if s

[2017-12-07 14:24] #214 closed

[2017-12-07 14:33] evilebottnawi commented on #255
@michael-ciniawsky seems we don't have `insertAt` and other option for `url`, we should fix schema for validate options.

[2017-12-07 15:02] evilebottnawi commented on #261
@Lenic just `children: true` to `CommonsChunkPlugin`, but seems it is issue in `webpack` inside `CommonsChunkPlugin`. Feel free to open issue in `webpack`. Thank you.

@webpack-bot move to `webpack/webpack`.

[2017-12-07 15:04] #261 closed

[2017-12-14 07:41] deemstone opened #287 "export an 'onload' callback"
**request a *feature***

Let me know  when the css file loaded.

**What is the current behavior?**

require()  and wait , and dont know how long to wait...

**What is the expected behavior?**

Whatever callback style, promise / callback / event ....
Example:
[code]

**If this is a feature request, what is motivation or use case for changing the behavior?**

We use style-loader in async loaded chun

[2017-12-14 09:34] evilebottnawi commented on #283
Done in https://github.com/webpack-contrib/style-loader/pull/285

[2017-12-14 09:34] #283 closed

[2017-12-15 17:23] budarin commented on #216
It might help you to remove stylesheet by id

[2017-12-30 13:27] Manidos opened #289 "The loader doesn't return contents of stylesheet"
With the following configuration I can't get ahold of the contents of `style.css`.
`console.log(style)` gives me an empty object `{ }`. Is it a bug or a normal behaviour?

**webpack.config.js**
[code]
**src/index.js**
[code]

[2018-01-03 09:09] xgqfrms-gildata commented on #55
# `output.publicPath` & `output.path`

https://github.com/gildata/RAIO/issues/276#issuecomment-354964693

[2018-01-07 05:13] fabbballin opened #291 "Style updates in non-root SCSS files causes full browser refresh (reproduction repo link included)"
**Do you want to request a *feature* or report a *bug*?**
Bug/Config issue (unsure)

**What is the current behavior?**
Full browser refresh on styles change

**What is the expected behavior?**
Styles injected into page without page refresh

**Please mention other relevant information such as your webpack version, Node.js version and Operating System.**
**Created a repo to reproduce the issue:** ht

[2018-01-07 05:20] fabbballin commented on #289
Try this as your import statement: `import styles from './style.css'`

[2018-01-07 05:24] fabbballin commented on #289
Do you have any styles defined in style.css? `{}` implies no styles and is expected behavior.

[2018-01-07 23:39] fabbballin commented on #291
I was able to get this working properly by adding the following to my component:
[code]
but, I'm using this as a temp patch until I have a solid solution. Any help would be appreciated.

[2018-01-08 06:09] michael-ciniawsky commented on #289
That's normal behavior since the CSS will be added via a `<style></style>` to the DOM and is therefore removed from the module exports. The empty `{Object}` is for locals (CSS Modules) if you use them

[2018-01-08 06:09] #289 closed

[2018-01-09 02:12] austinwalter commented on #256
Is there a way to user insertInto if the HTML element it would insert into isn't created until the application is launched? I'm using this with a chrome extension content script and so I don't have access to the DOM immediately.

[2018-01-12 00:29] MatthewJNewton opened #292 "Cannot find module error css file when using webpack as a script with style-loader"
(node v6.9.5)

[code]

[code]

[code]

[code]

[code]

steps to replicate:
[code]

then open directoryB/out/index.html in the browser

result: "Error: Cannot find module "./foo.css"
expected: loading css style and getting a blue page

Note that, if out/index.html , app.js and foo.cs are inside directoryA instead, then running node poc.js actually yields the expected result, however outside, webpac

[2018-01-12 19:36] t-kelly opened #293 "FOUC creates unreliable JS style calculations on page load"
@michael-ciniawsky in https://github.com/webpack-contrib/style-loader/pull/221#issuecomment-296822622

[Related](https://github.com/facebookincubator/create-react-app/pull/591#issuecomment-250054180)

Style-loader uses a `<link>` to include styles when sourcemaps are enabled. Since injecting a `<link>` tag into the page via JS, after page-load, results in the the stylesheet being downloaded asynch

[2018-01-13 06:43] michael-ciniawsky commented on #293
`v1.0.0` of `style-loader` will always use inline maps instead of a `<link>` tag (which should mitigate this a bit), but if the project exceeds a certain size and the `style-loader` needs to add a lot of `<style>` tags, it's likely to result in FOUC aswell at some point. I really don't know what else can be done here from our side to avoid FOUC altogether or to mitigate this further. As you alread

[2018-01-16 17:25] rosenfeld commented on #200
@stonebk, could this issue be reopened, please?

Passing `node: false` or `node: {Buffer: false}` doesn't significantly change the overhead. Using `extract-text-webpack-plugin` is often not desired when creating SPA's using client-side routing, since the initial CSS would be minimal and the remaining ones would be loaded as needed, in combination with lazy loading techniques. If we extract all CSS

[2018-01-16 18:29] stonebk commented on #200
@rosenfeld I have no control over the ticket or the project, I was just correcting the property name for the configuration. You might want to open a new ticket.

[2018-01-16 18:34] rosenfeld commented on #200
Oh, sorry, that's right, I intended to mention @michael-ciniawsky instead. Michael, would you mind reopening the ticket?

[2018-01-16 19:28] robbie-hinman commented on #55
It seems with css sourceMaps enabled, even with publicPath set, styles (including bg images) are not applied.  But what is odd is that I can see them in the inspector.  If I turn the style off and on again _then_ the style is applied.

The below shows the page on initial load, showing a body background of paleturquoise in the dev console but the displayed background is white.
![image](https://user

[2018-01-17 01:55] t-kelly commented on #293
What if style-loader and HMR worked in tandem with ExtractTextPlugin?

You could use the ExtractTextPlugin to inline a `<link>` tag in the HTML for initial page load -- that way it loads synchronously. Then let HMR take over for business as usual?

[2018-01-19 03:38] lslvxy opened #294 "CSS background img path error"
[code]
error message
`Module not found: Can't resolve 'money_vline.png' in '/Users/xxx/WorkSpace/antd-demo/src/component/Money'`

it seem like lost a `/`

if i set
[code]
it works

[2018-01-20 20:32] rosenfeld commented on #200
Please ignore my comments. I just noticed that my webpack setup was incorrect and that the commons-chunk plugin wasn't set up correctly. Now that I fixed it I can confirm that the overhead can be added only to the commons chunk as I was expecting it to.

[2018-01-25 11:16] sudheer27 opened #297 "Angular5 - ERROR: Expected 'styles' to be an array of strings."
Angular5 - ERROR: Expected 'styles' to be an array of strings.

**This is my error console.**
   Uncaught Error: Expected 'styles' to be an array of strings.
    at assertArrayOfStrings (compiler.js:2528)
    at CompileMetadataResolver.getNonNormalizedDirectiveMetadata (compiler.js:14979)
    at CompileMetadataResolver._getEntryComponentMetadata (compiler.js:15868)
    at eval (compiler.js:15349)

[2018-01-25 11:30] evilebottnawi commented on #297
@sudheer27 can you create minimum reproducible test repo?

[2018-01-26 20:42] michael-ciniawsky commented on #297
The `err` looks unrelated to `style-loader`, please reopen this issue in the appropriate `angular` repo instead

[2018-01-26 20:42] #297 closed

[2018-01-26 20:45] michael-ciniawsky commented on #293
We are reworking the CSS Pipeline in general, `webpack` may even get 'native'  CSS support out-of-the-box in the near future, which makes things you mentioned possible. I'm closing this issue here, since there is nothing we can really do in the scope of `style-loader` atm

[2018-01-26 20:45] #293 closed

[2018-01-26 20:48] michael-ciniawsky commented on #292
`style-loader` uses the `request` (filepath) where the file was located during build time (`bundling`), you are likely have issue with your file structure

[2018-01-26 20:48] #292 closed

[2018-01-26 20:55] #259 closed

[2018-01-26 21:26] michael-ciniawsky commented on #256
Closed by #279, released in [v0.20.0](https://github.com/webpack-contrib/style-loader/releases/tag/v0.20.0) 🎉

[2018-01-26 21:26] #256 closed

[2018-01-26 21:32] michael-ciniawsky commented on #278
What does `withStyles(styles,  { withTheme: true })(Main)` do

[code]

What's the output of `console.log(styles)` ? This is likely an issue somewhere else in your setup...

[2018-01-27 08:52] kimown commented on #216
Really need this feature, like `webpackChunkName`, so we can distinguish source of styles.

[2018-01-30 12:03] robaweb commented on #268
Looks like i found this error in commit
https://github.com/webpack/webpack/commit/27e4d14a312d5f8bdf4118c2c028fb80b5df5f4b

[2018-01-30 12:11] evilebottnawi commented on #268
@robaweb can you create issue in `webpack/webpack`?

[2018-01-31 09:59] wxlworkhard commented on #265
Why use `<link>` replace `<style>` when `sourceMap: true` ? `<link>` cannot load `url()` asset on Chrome.

Why not just use
[code]
and

[code]
in addStyles.js file. This is simple and have no problem.

[2018-02-05 00:20] sasssssha opened #301 "style-loader does not working after css is extracted."
Greetings
My style-loader is set as fallback and in dev mode extract-text-plugin is disabled.
What is interesting, when I don't bundle my project and extract all files in dist folder, everything works fine, I can see `<style></style>` tag(which is arranged right after link to compiled css). But when I build my project and try to run it in dev mode, everything is extracted in dist folder, and I see

[2018-02-05 01:16] sasssssha commented on #301
I temporary solved this problem by removing `dist` folder before running in dev mode but problem still exists.

[2018-02-05 02:28] michael-ciniawsky commented on #301
I don't fully understand your config, could please show your `webpack.config.js` ?  `extract-text-webpack-plugin` 's `fallback` only 'works' in case extracting fails.

[2018-02-05 03:00] sasssssha commented on #301
[code]

[2018-02-05 03:23] michael-ciniawsky commented on #301
[code]

Don't use the `disable` option, it's bad practice in general and won't work in your case

[2018-02-05 03:23] #301 closed

[2018-02-05 03:37] sasssssha commented on #301
The problem still appears, the same thing. if css is extracted, style loader is not working

[2018-02-05 04:14] michael-ciniawsky commented on #301
Both at the same time is not possible. Why do you want to load the styles twice ? Please always include your current `webpack.config.js` so it's easier to follow

[2018-02-05 04:19] sasssssha commented on #301
I return plain html from the server(in future it will be necessary because of server-rendering) and styles are included.
When I use dev mode, i want to use style tag. When I bundle files, I want to have compiled sass, included in my returned string. So, I simply include css from dist folder to my returned html. If exists - okay, include it, if no - we have style tag. But when I have compiled dist

[2018-02-05 04:22] sasssssha commented on #301
For some reason I can't use style tag in presence of css file.

[2018-02-05 04:32] michael-ciniawsky commented on #301
If the `extract-text-webpack-plugin` is used/applied the `style-loader` code won't be added to the bundle and there are no `<style></style>` tags injected via JS because the CSS is already extracted into a separate file. It's an either `<style>` or <link href="bundle.css">`. The option name `fallback` maybe misleading here, it's only used if `extract-text-webpack-plugin` throws an `{Error}` during

[2018-02-05 04:40] sasssssha commented on #301
Why style loader does not work if css exists is not clear for me

[2018-02-05 04:54] sasssssha commented on #301
Yep

[2018-02-05 05:01] sasssssha commented on #301
oh, it's working now.
I simply changed
[code]

to

[code]

Many thanks for your attention, Michael

[2018-02-07 11:39] alextrastero commented on #216
I'm using this:
[code]
It renders, however for some strange reason the style is not applied to the page...

[2018-02-08 08:01] wxlworkhard opened #302 "sourceMap: true <link> tag cannot load url() asset on Chrome"
Why use `<link>` replace `<style>` when `sourceMap: true` ? `<link>` cannot load `url()` asset on Chrome.

Why not just use
[code]
and

[code]
in addStyles.js file. This is simple and have no problem.

[2018-02-13 14:15] robertjk opened #303 "style-loader breaks source maps in Firefox 59"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

When I have `style-loader` in my CSS loaders chain, the source maps do not work in Firefox. I see  error messages in the Developer Tools console like the one below. Setting `convertToAbsoluteUrls: true` doesn't change the situation.

`Source map error: Error: sourceMapURL could not be parse

[2018-02-13 14:31] evilebottnawi commented on #303
@robertjk Thanks!

[2018-02-13 15:26] evilebottnawi commented on #303
@robertjk Confirm, let's investigate, maybe bug in firefox

[2018-02-13 15:28] robertjk commented on #303
@evilebottnawi What do you mean by "Confirm"? Yes, it may be a bug in Firefox, as in Chrome everything works fine.

[2018-02-13 15:31] evilebottnawi commented on #303
@robertjk Confirm is mean it are not you local or configuration or configuration problems :smile:

[2018-02-13 15:34] robertjk commented on #303
@evilebottnawi Oh, I get it :).

[2018-02-13 15:40] evilebottnawi commented on #303
Maybe we should search better way for https://github.com/webpack-contrib/style-loader/blob/master/lib/addStyles.js#L366

[2018-02-15 12:12] evilebottnawi commented on #287
@deemstone can you send PR?

[2018-02-16 18:40] evilebottnawi commented on #302
@wxlworkhard Can you describe your problem more verbosely, better create minimum reproducible test repo?

[2018-02-23 05:12] wxlworkhard commented on #302
Set `sourceMap: true`.

HTML file content is
![image](https://user-images.githubusercontent.com/8287140/36578235-d7c6573a-1896-11e8-8c37-f6d6dfb5c446.png)

CSS files content are
![image](https://user-images.githubusercontent.com/8287140/36578602-4e17fbbc-1899-11e8-855d-da820b39b392.png)
and
![image](https://user-images.githubusercontent.com/8287140/36578626-6d7381f2-1899-11e8-841b-47616f08b4b7.png

[2018-02-24 09:22] thomasyxy opened #305 "The browser can't found -webkit-box-orient at extract mod"
It will happen when I open extract.

## my code:

[code]

## result:

[code]

webpack: 3.10.0
style-loader: 0.19.1

[2018-02-24 09:59] #305 closed

[2018-02-24 12:43] k3lh4m commented on #123
For anyone that struggled with a similar problem, check this out.

Hope it helps other people out

https://stackoverflow.com/questions/41516346/error-expected-styles-to-be-an-array-of-strings/#43867625

[2018-03-06 11:19] madjam002 opened #306 "__webpack_nonce__ support or alternative way of solving CSP?"
I'm looking at using Webpack on a site which requires strict Content Security Policy headers.

I'm setting `window.__webpack_nonce__` but it doesn't seem to be adding a `nonce` attribute to `style` elements created by style-loader. Looking at webpack#3210 it only seems to be adding a nonce attribute to generated script elements? Is there some additional work required in style-loader to support non

[2018-03-06 11:26] madjam002 commented on #306
Just to add as well, I've noticed some discussion in #155 regarding CSP, but the way that custom attributes has been implemented there isn't suitable for nonce values as nonce values need to be secure cryptographically generated random strings for each page load and not hard coded into the build

[2018-03-06 15:57] pixeldrew commented on #216
+1 would like this to help debug styling issues

[2018-03-06 16:00] evilebottnawi commented on #216
@pixeldrew PR welcome :+1:

[2018-03-06 16:02] alextrastero commented on #216
Don't use:
[code]

But maybe:
[code]

?

[2018-03-09 09:14] winterbe opened #307 "Webpack 4: incorrect peer dependency"
Hi,

when using `style-loader` with Webpack 4 you get this warning:

`warning "style-loader > schema-utils@0.4.3" has incorrect peer dependency "webpack@^2.0.0 || ^3.0.0".`

Could you please bump version of dependency `schema-utils` to `^0.4.5` in order to fix this issue?

Thanks.

[2018-03-09 10:55] michael-ciniawsky commented on #307
Will do when I gave a few minutes, PR welcome

[2018-03-09 11:13] winterbe commented on #307
See PR #308

[2018-03-09 11:38] #307 closed

[2018-03-13 03:43] efronic commented on #123
@k3lh4m Thanks for the post. I have done it but I am getting this error with matchMedia:

[code]
Here is my component:
[code]
How can it be fixed?

[2018-03-14 13:47] garygreen commented on #134
This is annoying because using the `singleton` option really helps improves rendering performance when developing so I tend to always have it enabled purely for that reason. See https://developers.google.com/web/fundamentals/performance/rendering/avoid-large-complex-layouts-and-layout-thrashing for more info.

If that can be avoided in some way and have sourcemaps too, that would be ideal (maybe n

[2018-03-15 15:14] evilebottnawi commented on #303
In firefox@59 all works fine. Seems bug in firefox. Only `wds` failed, but not related to `style-loader`.

[2018-03-15 15:20] evilebottnawi commented on #302
@wxlworkhard all resources loaded in all browsers. Maybe you have invalid `publicPath` for fonts, check you configuration. Also please create reproducible test repo if problem still exists. Thanks!

[2018-03-15 15:20] #302 closed

[2018-03-15 15:29] evilebottnawi commented on #291
@fabbballin friendly ping, problem still exists? Not found reproducible repo

[2018-03-16 15:29] jwbay commented on #306
The way aphrodite solves this is to look for an existing style tag before generating one. In their case something like `<style data-aphrodite>`. This effectively solves CSP because you can provide a style tag with a nonce already attached.

[2018-03-17 02:00] mikehdt commented on #303
I'm not sure what you mean by "In firefox@59 all works fine" -- I'm seeing `style-loader` sourcemaps failing in both Firefox 59 and current dev version 60?

[2018-03-20 02:27] redeyes2015 commented on #303
I think "Only `wds` failed" may not be accurate.

With the [example repo](https://github.com/robertjk/webpack-firefox-source-map-error) provided by the issue opener, I ran:

[code]

Firefox 58 and Firefox 60 (Developer Edition) both print "Source map error".

[2018-03-22 23:42] yazdog8 opened #309 "Styles not rendering or updating in Webpack 4"
Style loader version: 0.20.3
Webpack: 4.2.0
Node: 9.7.1

In my build structure, I'm using style loader along with the babel-plugin-react-css-modules plugin to babel. Expected behavior is that it will render the styles I import on each section. For example...if I have my Admin.js page, and I import admin.module.scss, it should render those styles.

![screen shot 2018-03-22 at 4 34 51 pm](https://us

[2018-03-23 23:41] jpaulsen-apixio commented on #309
Upon further debugging it seems like this is caused by the css in the DOM not matching the CSS output, so I think style-loader is working as it should. One thing I've noticed is that the bootstrap include seems to be repeated in each module.

[2018-03-23 23:43] yazdog8 commented on #309
Upon further debugging it seems like this is caused by the css in the DOM not matching the CSS output, so I think style-loader is working as it should. One thing I've noticed is that the bootstrap include seems to be repeated in each module.

[2018-03-28 07:58] 13146595984 opened #310 "About the same settings 【style-loader】and【css-loader】"
I also set both，but [https://www.npmjs.com/package/css-loader](url) ，
`require('./test.css').toString()`
This can no longer be used，Can I still get the css string?

[2018-04-03 10:59] marem-bzh opened #312 "[Webpack 4, style-loader 0.20.3] Styles not imported in <head> tag"
I started using style-loader a few days ago to include it in a boilerplate for my JavaScript projets and my teams.

Everything seemed fine in development mode, but everytime I build my projects for production, absolutely no CSS is included in `<style></style>`.

Here's my configuration :
https://gist.github.com/marem-bzh/3ed3f98bca42b0c762ef48faae5dd88e

I didn't provide my **webpack.dev.js**, as

[2018-04-05 13:18] Vasikaran opened #313 "inesertInto not working with insertAt"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Throwing issue when I use these at the same time.

**If the current behavior is a bug, please provide the steps to reproduce.**
My gist to explain this issue. https://gist.github.com/Vasikaran/a1bfc07cfbb5f1eb603af06f1f7f1673

**What is the expected behavior?**
Check insertInto's type then handle that by t

[2018-04-15 16:37] caimaturo commented on #303
The same is happening to me. It's breaking my Vue app on Firefox only (works fine on Chrome, Edge and Safari). I'm also using CSS variables as mentioned [here](https://github.com/webpack-contrib/css-loader/issues/640).

Firefox version: 59.0.2
Node.js verison: 9.5.0
`webpack` version: 4.4.1
`style-loader` version: 0.20.3

[2018-04-15 17:31] evilebottnawi commented on #303
I think it is firefox bug, somebody can take care this issue and create report to firefox bugs tracker?

[2018-04-16 07:12] redeyes2015 commented on #303
I think this is the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1451274,
and it directs to https://github.com/mozilla/source-map/issues/275.

The issue is:

So, one must at least write `/*# sourceMappingURL=//somedomain/some.map` and Blob URL could never pass.

It seems to be a long way for a fix to eventually land in Firefox. 😢

[2018-04-17 09:05] Nouzbe opened #315 "The type attribute of the appended tag could be configurable"
**Do you want to request a *feature* or report a *bug*?**

Request a feature

**What is the current behavior?**
The attributes of the style or link tag that is appended to the DOM are configurable thanks to the `attrs` options, except for `type` which is always set to "text/css"

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
The ty

[2018-04-17 09:10] evilebottnawi commented on #315
@Nouzbe PR welcome

[2018-04-17 09:49] evilebottnawi commented on #315
Done in https://github.com/webpack-contrib/style-loader/pull/316#pullrequestreview-112739346, in near time we release this. Thanks!

[2018-04-17 09:50] #315 closed

[2018-04-17 09:52] evilebottnawi commented on #312
@marem-bzh can you create minimum reproducible test repo?

[2018-04-17 09:53] evilebottnawi commented on #310
@13146595984 can you describe what you want more verbosely?

[2018-04-17 09:54] Nouzbe commented on #315
Thank you, that was efficient 💪

[2018-04-17 09:56] evilebottnawi commented on #309
@yazdog8 problem still exists? Please don't put configuration in issue, better use gist for this. Thanks!

[2018-04-17 13:41] faceyspacey commented on #309
@yazdog8 what was the exact issue? im still getting this. I had it working. But then it stopped, and I have no idea what caused it to break down.

[2018-04-17 16:00] yazdog8 commented on #309
There were a couple of issues. One of the big ones was that I have a production version of the react-optimize babel plugin. One of the packages in it 'transform-react-inline-elements' needs to be run after the babel-plugin-react-css-modules and it wasn't. So the css name and the class name were never in sync. Here's my current babelrc:

[code]

You might also want to check that your generateScoped

[2018-04-17 20:32] CurtisHumphrey commented on #309
I have the same issue. the css-loader and babel-plugin-react-css-modules is not generating the same has and I don't know why yet.  The only other babel plugin I have is 'transform-runtime'

[2018-04-17 22:36] Offirmo commented on #312
@marem-bzh a silly possibility, but that happened to me :) : did you properly import your CSS from your JS file? If not, there is no way webpack will pick it.

Just in case.

[2018-04-19 02:42] JohnnyKrds commented on #123
You have a style file without full extension.

It should be something like: "./app.component.scss"
But it's "./app.component."  -> notice that the "scss" is missing.

Rename your file to proper extension and update the .ts file that references it.

Best regards.

[2018-04-19 22:05] rcorichard commented on #312
I'm having the same problem and started since I migrated to webpack 4.

[2018-04-20 17:36] iamdavidfrancis commented on #306
Has there been any progress on this? I'm also working on a site with a strict CSP.
 It doesn't seem like it would be a huge PR to support __webpack_nonce__

[2018-04-20 17:58] evilebottnawi commented on #306
PR welcome :+1:

[2018-04-20 19:56] Whoaa512 opened #318 "Deprecation warning with valid options"
Running my webpack build with `process.traceDeprecation = true` and I get this

[code]

My style loader config looks like this

[code]

When I change my config to this it goes away:
[code]

[2018-04-20 20:02] Whoaa512 commented on #318
My bad, didn't update to latest version.

[2018-04-20 20:02] #318 closed

[2018-04-24 22:42] pattiereaves opened #320 "Aborting CSS HMR due to changed css-modules locals when using react-hot-loader"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When using the latest version of style-loader and react-hot-loader, the page will reload every time a change is made to a css file (regardless of the change being to a property or a selector). It provides the following error when doing a full page reload: `Aborting CSS HMR due to changed css-modules lo

[2018-04-25 10:58] amourzenkov-sc commented on #312
I've had the same problem.  In my case the issue was not with "style-loader" but with `"sideEffects": false` in *package.json* - which is applicable in `mode: 'production'` only.  See [Webpack Tree Shaking](https://webpack.js.org/guides/tree-shaking/) for details.

[2018-04-25 11:13] evilebottnawi commented on #312
Somebody can create minimum reproducible test repo? We have use `style-loader` in dev and prod mode and all works fine.

@amourzenkov-sc Also remove `singleton` options. Because `style-loader` self determine when we have old browser https://github.com/webpack-contrib/style-loader/blob/892cba5ad5d654e1db027b96f82caf683cbd29bb/lib/addStyles.js#L77.

In future major release this option will be remove

[2018-04-30 16:57] galvarez421 commented on #121
I am experiencing a potentially related issue. Given a file like this:

styles.js:

[code]

I can see in the `<head>` that the Blob links are inserted in the correct order, however the computed styles in Chrome dev tools do not reflect this. For example, if I set an `<h2>` style in app.scss, the style will not take precedence over a Bootstrap h2 style even though it should (same specificity, but s

[2018-05-02 19:10] labriola opened #321 "Transform not applied during HMR update"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
on HMR, defined transform functions are not applied to the reloaded content

**If the current behavior is a bug, please provide the steps to reproduce.**
Defined a style-loader, use webpack dev server, and make a change to the css. The css will be injected raw and never passed through the transform fun

[2018-05-03 20:53] labriola opened #324 "If transform function yeileds a falsey value, it is ever allowed to yield css for the same module in subsequent HMRs"
Discovered this while fixing 321.

In addStyles() addStyle/updateStyle once a transform function evaluates to false, a noop function is assigned to that handle that module from this point forward. Should the transform function on the net HMR yield something truthy, it's too late and the CSS will never be re-evaluated.

I took a stab at fixing it, but it is going to require a lot more refactoring d

[2018-05-03 20:55] evilebottnawi commented on #324
@labriola can you provide links on function? Also do you have ideas how we can fix it?

[2018-05-03 21:17] labriola commented on #324
https://github.com/webpack-contrib/style-loader/blob/e4fa68a19d2390e265e27ec60ae928bf80a41228/lib/addStyles.js#L248

Basically, instead of returning a function that does nothing, we need to return something that can still handle an update and retest if the transform will in fact produce something truthy. Ideally, we would also want to do this without running the function multiple times, which is t

[2018-05-05 16:49] evilebottnawi commented on #310
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-05 16:49] #310 closed

[2018-05-08 19:09] mightym commented on #269
This is an interesting issue I lately stumbled over too. The fact that the JS injects the styles is a general problem for me too. It is very common to initially hide elements via css tranform. Like for example a navigation bar. And its a common practice to add a css transition on that element to animate it in and out. I realized on my latest react project using webpack style-loader and css modules

[2018-05-08 21:39] budarin opened #326 "style-loader/useable: There is a need to be able to control the order of inserting styles."
**Do you want to request a *feature* or report a *bug*?**

Issue

**What is the current behavior?**
When call stylesheet.use() - styles added on to page in order as they were added - one after previous

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
React has a reverse order of calling the component so there may be a conflict of sty

[2018-05-09 08:55] evilebottnawi commented on #326
@budarin I think it is out of scope `style-loader`, please create minimum reproducible repo with steps in readme (actual and expected behavior). Thanks!

[2018-05-09 20:09] budarin commented on #326
Hi!

here it's [repo](https://github.com/budarin/style-loader-usable-sample)
please try

[2018-06-02 22:58] axelson commented on #287
Is there any work-around for this besides a setTimeout with a large delay?

[2018-06-11 10:31] mvoica opened #327 "style-loader/useable: passing insertInto through options"
a while ago, the option to have insertInto as a function instead of a string was added to the style-loader. And this is exactly what I needed - and it works great. Then I tried using this with /useable, and I noticed that in index.js we have this:

if (typeof options.insertInto === "function") {
		insertInto = options.insertInto.toString();
	}
...
"options.insertInto = " + insertInto + ";",
"var u

[2018-06-12 00:50] searene commented on #254
I solved it by adding `.js` in `extensions`, but could anyone tell me why I need it when I'm only using typescript and css?

[2018-06-12 20:28] gavinlynch commented on #269
same, @mightym.
And for my case, I often both create custom components or use libraries that rely on CSS-defined element dimensions when doing calculations for various things. It's a great way to avoid hardcoded values and so when a designer can tweak component styles without fear of breaking the component and involving a dev.

[2018-06-12 20:39] mightym commented on #269
@gavinlynch give https://github.com/webpack-contrib/mini-css-extract-plugin a try. this will help you to have a more "classic" setup with an external css file

[2018-06-17 08:41] grommett opened #328 "Allow importing code to determine where styles are inserted"
This is a feature request.

### Problem

As far as I can tell, the style loader only allows for styles to be inserted into one location, either the `<head>` or where specified in the `inserInto` string or function.

This approach does not work with composed/nested custom elements, as each can have their own shadow dom. If, for example,  `insertInto` specifies the root custom element the styles are

[2018-06-19 09:49] Deathangel908 opened #329 "Source maps don't work"
I'm trying to configure source maps, but ithey doesn't work:
**webpack.config.js**;
[code]
***main.css**
[code]

![image](https://user-images.githubusercontent.com/1336703/41589934-78373f2c-73be-11e8-9f1d-e10518da2e88.png)

What I expect to see there is `main.css:2`

[Here's the minimal github example](https://github.com/Deathangel908/sass-loader-css-modify-issue) . To reproduce:
 - npm install
 -

[2018-06-19 09:55] evilebottnawi commented on #329
@Deathangel908 please add option ` sourceMap: true,` for `css-loader`, feel free to feedback

[2018-06-19 09:55] #329 closed

[2018-06-19 10:08] Deathangel908 commented on #329
Ok thank you, my bad, but this was tricky.

 Maybe we should consider adding a note to README.md? Atm `sourceMap` present in `style-loader` section, but it's required only by `css-loader`.  Also other loaders like [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin) don't require `sourceMap` to be present on `css-loader` to make it work.

 This could save other fol

[2018-06-19 10:09] evilebottnawi commented on #329
@Deathangel908 PR welcome

[2018-06-22 15:30] tpolovyi commented on #320
I've faced the same issue while using `style-loader v0.21.0` alongside with `webpack-hot-middleware`.
[Here](https://github.com/tpolovyi/style-loader-demo) is a small demo repo where this bug is reproduced.

[2018-06-24 23:10] budarin commented on #326
@evilebottnawi
I'm sorry, but is there any news?

[2018-06-27 11:19] NewPrototype opened #330 "How do you configure the global stylus file?"
Some global variables are configured, and I think other stylus can use them, how do I do that?

[2018-06-27 11:44] evilebottnawi commented on #330
@NewPrototype how stylus related to style-loader?

[2018-06-27 16:56] heyflo commented on #303
I'm having the same problem with webpack 4 (lastest version) and firefox dev edition (lastest version too).
I tried for some hours to implement correct sourcemaps for my dev environment with webpack and I just could not solve it. Just to find out it's a known issue and it's working perfectly on Chrome.

Here is what I get :
![firefox-sourcemaps-webpack4](https://user-images.githubusercontent.com/3

[2018-06-28 01:47] NewPrototype commented on #330
Hello, I'm in webpack configuration loader to parse of stylus, but I don't know how to configure global stylus file, currently used are introduced each stylus global stylus file, but it is not simple

[2018-07-04 14:46] evilebottnawi commented on #330
style-loader not related to `stylus` or other preprocessors, please create issue in `stylus-loader` repo, thanks!

[2018-07-04 14:46] #330 closed

[2018-07-04 14:47] evilebottnawi commented on #278
@Panoplos friendly ping, problem still exists?

[2018-07-10 12:15] akki-jat opened #332 "[Bug Report] Raise error when export default used instead of module.exports"
**What is the current behavior?**
Raise error when export default used instead of module.exports.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Just use export default instead of module.exports

**What is the expected behavior?**
Should not raise error

**Please mention other relevant information such as your webpack version, Node.js version and Operating S

[2018-07-10 13:33] sokra commented on #332
Looks like a configuration problem. What's your loader configuration?

[2018-07-10 13:45] akki-jat commented on #332
Hi @sokra, here is my loader configuraion

[code]

[2018-07-12 16:36] msz commented on #312
I'm having the same issue, and removing `"sideEffects": false` from `package.json` as @amourzenkov-sc suggested fixes it.

[2018-07-12 21:52] Davidriquelme opened #334 "card-body padding sets to 0 when build. During dev, everything looks normal"
**What is the current behavior?**
class card-body sets to 0 when npm run build.
![image](https://user-images.githubusercontent.com/12628676/42661033-f7171878-85fa-11e8-916f-2bb35b9c8e27.png)

During npm run dev, class-body is just fine.
![image](https://user-images.githubusercontent.com/12628676/42661151-55801766-85fb-11e8-8ccd-310ab47936c4.png)

**If the current behavior is a bug, please provide

[2018-07-12 22:23] Davidriquelme commented on #334
solved. bug was in my side.

[2018-07-12 22:23] #334 closed

[2018-07-13 00:05] AlexanderLoshkarov opened #335 "'style-loader/url' doesn't load the styles when configured with 'file-loader' and 'css-loader'"
**What is the current behavior?**

'style-loader/url'  doesn't load the styles when configured with 'file-loader' and 'css-loader'

 has this content:

[code]

contains:

`<div>Hello World</div>`

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

contains:

`.template-hOne-19pIQ { font-weight: bold; color: red; }`

`<div class

[2018-07-13 10:37] evilebottnawi commented on #335
@AlexanderLoshkarov and what you expected? All works as expected

[2018-07-13 12:21] AlexanderLoshkarov commented on #335
@evilebottnawi I expect to see css class names and styles in *.css, but in fact there is JavaScript code.
Is that the expected result?

[2018-07-13 12:44] evilebottnawi commented on #335
@AlexanderLoshkarov `css-loader` makes from `css` `js` module (resolving `url` and `@import`), `style-loader` just load this module in browsers using `blob`.

if you want send something to style-loader you should export this in loader before. You can look on `css-loader` and create own based on their logic. All bundlers work using same logic - `css` -> `js` -> `loader/extract`

[2018-07-13 12:46] evilebottnawi commented on #335
Also don't use `style-loader/url`, it is load `js` module into `link` (no export provided) https://github.com/webpack-contrib/style-loader#url

[2018-07-13 13:44] AlexanderLoshkarov commented on #335
@evilebottnawi sorry for my uncertain questions I'm a bit new in this stack.
But the only way I see as of now to have a modular css is to use

but this tandem expose the styles into `<style>css styles come here</style>` and obviously after some while I will end up with index.html full of css styles, which I don't want to.

Is there any solution to put those styles into the file and expose `<link h

[2018-07-13 17:31] elliottregan commented on #303
Anyone find a temporary workaround? Any chance a plugin could reformat the URL to work?

[2018-07-13 17:42] zetaraku commented on #303
@elliottregan It is a problem in Firefox, so you can just use Chrome for now.

[2018-07-19 11:01] #335 closed

[2018-07-19 23:31] Souhail-5 commented on #312
If by removing the `"sideEffects"` property your issue is resolved, it means that your CSS is considered as a "side effect" by webpack (which is not bad).

To **keep the Tree Shaking while resolving your issue**, keep the `"sideEffects"` property to `false` in your `package.json` and add a specific rule for CSS files in your `webpack.prod.js` config:

[code]

For more information:

ℹ️ **Tree Shaki

[2018-07-26 08:06] bolonio commented on #109
@creeperyang Thanks, that solves it :)

[2018-07-27 14:11] akki-jat commented on #332
@evilebottnawi and @sokra, any response on this?

[2018-07-29 07:04] brigand commented on #320
@lydell this seems related to https://github.com/webpack-contrib/style-loader/pull/298 and there's a repro case linked here.

It also works for me when adding a local on 0.19.1, and your change was published in 0.20. I'm using [babel-preset-react-hmre](https://www.npmjs.com/package/babel-preset-react-hmre).

[2018-07-30 05:14] bcanseco commented on #328
Having the exact same issue, this would be an awesome feature!

[2018-07-30 07:21] akki-jat commented on #332
@evilebottnawi here is the repo to reproduce the bug.
[https://github.com/akki-jat/style-loader-bug--332](https://github.com/akki-jat/style-loader-bug--332)

[2018-07-30 15:12] grommett commented on #328
@bcanseco
If you're interested I played with this idea and actually got it working. I'm not sure if it meets your use case, but have a look at the code in the repo I was playing with it in.

**Loader files are here**: https://github.com/grommett/web-components/tree/master/html-loader-css-modules/loaders

**Usage(webpack.config)** here:
https://github.com/grommett/web-components/blob/master/html-lo

[2018-08-02 08:58] evilebottnawi commented on #332
@akki-jat right now not, very busy, feel free to investigate and send fix

[2018-08-02 09:19] akki-jat commented on #332
@evilebottnawi I already added fix for this. [https://github.com/webpack-contrib/style-loader/pull/333](https://github.com/webpack-contrib/style-loader/pull/333)

[2018-08-07 19:40] jackson-elfers opened #337 "[Bug Report] Incorrect style loading while running webpack-dev-server on Chrome (Windows 10)"
Node: v10.8.0
Webpack: v4.16.5
OS: Windows 10
Browser: Chrome
(I've updated to the best of my abilities)

Report:
After a recent Chrome update while running webpack-dev-server importing style particularly screen width and text appear incorrectly. After building the project and opening the build it appears normally. While running webpack-dev-server on Microsoft Edge width and text appear normally.

[2018-08-08 14:46] pvdstel opened #339 "[Bug] No const support in older browsers"
Occurs in v0.22.0.

**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
`TypeError: undefined is not an object (evaluating 'e.setAttribute').`

In fc24512b395a8a3fd4074d88cd3f7b195f0bcef2, support for nonces was added. The nonce variable is declared using `const`. This `const` is causing errors in browsers not supporting it.

The Webpack-minif

[2018-08-08 14:49] evilebottnawi commented on #339
Already fixed https://github.com/webpack-contrib/style-loader/pull/338, release will be soon

[2018-08-08 14:49] #339 closed

[2018-08-08 15:02] michael-ciniawsky commented on #339
Fixed #338 and released in [`v0.22.1`](https://github.com/webpack-contrib/style-loader/releases/tag/v0.22.1) 🎉

[2018-08-09 02:01] wokejacqueline commented on #303
This is still happening to me in Firefox 61.02.  Is this a confirmed Firefox bug?  It's been happening since 59 for me. No issues in Safari.

[2018-08-09 08:51] DiesIrae commented on #256
Neat! But I'm blocked the same way @austinwalter is: I create the shadow root programmatically at the beginning of my script :
[code]
but it gets inserted after style-loader execution of insertInto, so I get the error: `Couldn't find a style target. This probably means that the value for the 'insertInto' parameter is invalid.`. Do you see a workaround?

[2018-08-09 21:13] herodrigues commented on #256
@austinwalter @DiesIrae  I'm not using `style-loader` anymore because of this issue, but I did this on a Chrome extension I'm working on.
In this example, I use [raw-loader](https://github.com/webpack-contrib/raw-loader) plugin in my webpack config file.

[code]

Of course this code goes after the DOM is loaded.

[2018-08-10 20:07] elliottregan commented on #303
@wokejacqueline This issue over in the main Webpack repo has some more info than this issue has: https://github.com/webpack/webpack/issues/1194 I haven't found any devTool option that works, even though others have.

There are three or four projects that could offer a fix, but it seems like the project maintainers keep saying "the issue is over there"...for the last three years or so.

[2018-08-15 11:18] edmorley opened #340 "Bump style-loader version to 1.0"
Hi!

Would it be possible to bump style-loader's version to 1.0?

The reason being is that new features are being added as minor version bumps (eg `0.22.0` added a new feature but no breaking changes compared to `0.21.0`) - but the semver spec says that for versions under 1, these minor version bumps have to be treated as breaking changes.

This means that I can't just refresh my lockfile to pick

[2018-08-15 11:33] evilebottnawi commented on #340
@edmorley in our plans release `1.0.0` in this month. We should remove some legacy options and refactor code. It is already in roadmap.

/cc @michael-ciniawsky let's start work on this, `css-loader` will be release in nexr future

[2018-08-15 17:11] michael-ciniawsky commented on #340
I'm +1 one on this in general, but with dropping some weird options beforehand etc

@evilebottnawi We should use Github Projects (per repo and/or org) or the like to define a roadmap and then start working on it.

A general (roughly) process about how we organize should be put in place imho, but lets discuss via slack separately :)

[2018-08-19 22:37] plondon commented on #306
I think this can be closed now since #319 has been merged and included in 0.22.0

[2018-08-19 22:42] plondon commented on #306
Also fyi @madjam002 you'll want to just set `__webpack_nonce__` and **not** `window.__webpack_nonce__`. Also do not try to do this with hot module reloading.

[2018-08-20 09:52] evilebottnawi commented on #306
@plondon can you send PR to README about this?

[2018-08-22 19:10] asumaran commented on #320
I'm also getting the same error.

"style-loader": "^0.20.3",
"webpack-hot-middleware": "^2.22.2",

[code]

[2018-08-25 21:34] pczern commented on #320
Same error

[2018-08-27 10:38] henrikbjorn commented on #320
We have also started to see this since upgrading to webpack 4 and related loaders etc.

[2018-08-27 16:37] #327 closed

[2018-09-01 04:28] zeakd commented on #320
same error

- "webpack-serve": "^2.0.2
- "webpack": "^4.16.5"
- "style-loader": "^0.22.1"

This occurs when create selector, and add properties to empty selector.
[code]

[code]

HMR still works when adding new properties to selector which have one or more properties.
[code]

[2018-09-01 10:49] brewster1134 opened #343 "/url using css payload as href"
when trying to use the url style loader, the contents of the css file gets used as the href value

`<link rel="stylesheet" type="text/css" href="body{&#10;  background: red; }&#10;">`

my configuration is pretty basic...

[code]

adding a break to the code, the `url` arguments that gets passed to `addStyleUrl` is actually an array instead of what should be a string

[code]

[2018-09-01 16:38] felixfbecker commented on #340
Could all other non-breaking releases please be released as only bumping the patch version? Tools consider minor version increments in 0.x.x versions breaking versions.

[2018-09-01 22:39] brewster1134 commented on #343
is this a very recent change? the readme streses using css-loader, so i imagine this will be a high priority fix?

[2018-09-01 23:02] michael-ciniawsky commented on #343
Nope

https://github.com/webpack-contrib/style-loader#url the example there uses the `file-loader`

Please provide more info about your (intended) setup I think there is a underlying misunderstanding here, I'm not following want you are trying to achieve. Use cases for `style-loader/url` should be rare, one might use it to add a static (legacy) Stylesheet or the like, but it's normally not needed.

[2018-09-01 23:39] brewster1134 commented on #343
you are absolutely right... i was used to seeing css-loader mentioned so often, that i didnt notice file-loader was used for only the /url examples. i also just noticed you responded to my issue under mini-css-extract, so i will try to combine the questions :)

so my intention is, on production at least, to not make loading css dependent on javascript running. which i thought meant needing `mini-c

[2018-09-02 00:43] michael-ciniawsky commented on #343
If you do it manually in JS it still depends on JS being able to run ? 🙃 I'm not sure it s possible to avoid this, besides using a traditional link `<a href="path/to/route.html"></a>` which is likely not what you want here :)

You may need the [`html-webpack-plugin`](https://webpack.js.org/plugins/html-webpack-plugin) to add **sync** JS/CSS Chunks (in any case)

**App.js**
[code]

**async.js**
[co

[2018-09-02 07:14] brewster1134 commented on #343
wow that is extremely helpful... thank you!
i didnt follow you on the manual stuff tho... i think there might be confusion as to when i want to extract the css. i would like to extract the css at compile/build time, which was the idea behind adding a link tag to a css file the is extracted and served. this way, with either style-loader/url or mini-css-extract, the js doesnt have to run and inject

[2018-09-02 10:06] michael-ciniawsky commented on #343
Forget about the manual stuff as it only allows you to implement the same logic already provided by the `mini-css-extract-plugin` && `html-webpack-plugin` but in worser way in this case. You extract the CSS at build time with the `mini-css-extract-plugin` and you could add those manually, but it will be very inconvenient to do so e.g when using filename hashes (`app.bundle.32564.js`) in production

[2018-09-02 10:07] michael-ciniawsky commented on #343
https://webpack.js.org is also always your friend 😛

[2018-09-02 10:07] #343 closed

[2018-09-13 09:38] sherryChen0206 commented on #269
In my react project I get the same isssue. I start render in window.onload funtion.`const render = (Component) => {
	ReactDOM.render(
		<AppContainer>
			<Router>
				<Component />
			</Router>
		</AppContainer>,
		document.getElementById('root')
	);
};
window.onload = () => {
	render(FrameView);
};`

[2018-09-13 09:54] mightym commented on #269
@sherryChen0206 use the plugin I proposed
https://github.com/webpack-contrib/mini-css-extract-plugin its currently the only way to control it via a external css file. And to ensure that the CSS is loaded before the JS

[2018-09-15 23:01] coreyward commented on #320
I'm also seeing the behavior that @zeakd detailed where HMR with CSS modules works fine part of the time (specifically, as long as the changes do not result in a selector being added or a selector without any declarations having one or more added). This is despite not actually using any variables at all, which makes the message rather confusing.

Running style-loader v0.21.0.

[2018-09-16 09:47] brewster1134 opened #344 "dynamic css namespace option"
i was looking for a way to nest imported css into a unique namespace/parent css class/id. i have a problem enforcing properly isolating css from various components, and looking for a programmatic way to prevent cross-contamination.

something like...

###### **_foo.css_**
[code]

###### **_foo.js_**
[code]

that would render...

[code]

[2018-09-17 10:09] evilebottnawi commented on #344
please use `postcss-loader` and https://github.com/radvalentin/postcss-prefix-selector#readme plugin for this purpose

[2018-09-17 10:09] #344 closed

[2018-09-17 11:12] x-yuri opened #346 "Does style-loader still takes sourceMap option?"
**Do you want to request a *feature* or report a *bug*?**

Supposedly, documentation bug.

From what I can see, `style-loader` adds source map whenever it is [present][1] these days. Regardless of the value of `sourceMap` option. If that's the case the documentation and validation needs to be updated.

[1]: https://github.com/webpack-contrib/style-loader/blob/v0.23.0/lib/addStyles.js#L386-L389

**

[2018-09-17 11:34] evilebottnawi commented on #346
@x-yuri `sourceMap: false` should don't add source map, can you create minimum reproducible test repo?

[2018-09-17 18:12] x-yuri commented on #346
@evilebottnawi [Here][1] you are.

[1]: https://github.com/x-yuri/example-style-loader-source-map

[2018-09-17 21:28] githubflub commented on #320
Fix this please.

[2018-09-18 05:12] lydell commented on #320
Just to give some context:

## Before https://github.com/webpack-contrib/style-loader/pull/298, _without_ react-hot-loader

Changing anything in a CSS file caused a full page reload! Super sad!

## After https://github.com/webpack-contrib/style-loader/pull/298, _without_ react-hot-loader

Changing properties in CSS hot reloads! Yay!

But if classes are added, removed or changed the whole page is r

[2018-09-18 05:45] lydell commented on #320
I took a closer look at @tpolovyi's demo (from https://github.com/webpack-contrib/style-loader/issues/320#issuecomment-399481480) (https://github.com/tpolovyi/style-loader-demo) and it does not involve react-hot-loader at all!

The difference compared to my demo used to test the PR (https://github.com/lydell/css-hmr-bug/tree/fix) is that I use webpack-dev-server while @tpolovyi uses webpack-dev-mi

[2018-09-18 09:49] mancontr commented on #287
When using React, there is only one render for a whole component tree, but each component might be in a separate file and have a require for its styles. If we want to make sure all styles from a chunk are applied before rendering that chunk's tree, it might be useful to have something like an "all styles from chunk have been applied" event we can catch globally, in addition to what might be implem

[2018-09-19 20:15] sdeleeuw commented on #256
@herodrigues
Thanks! This worked for me as well.

[2018-09-26 12:43] budarin commented on #326
Hi!
are there any solutions to this problem?

[2018-09-28 02:54] jcmcneal commented on #109
@creeperyang your changes solve this issue. You should open a PR with your changes and hopefully they'll get merged in!

[2018-10-03 15:56] kud opened #348 "Respect semver?"
Hello,

I'd like to know if it's possible to respect semver in your versions?

Because:

<img width="794" alt="image" src="https://user-images.githubusercontent.com/655838/46422909-a0d04d00-c735-11e8-9652-ab7410e16f8f.png">

[2018-10-03 16:07] evilebottnawi commented on #348
@kud we respect semver, just version less than 1.0.0, please read https://semver.org/

[2018-10-03 16:07] #348 closed

[2018-10-03 16:09] kud commented on #348
Well it depends on what you think about this part: https://semver.org/#how-do-i-know-when-to-release-100

But maybe I should report this to npm-check so.

[2018-10-03 16:14] evilebottnawi commented on #348
@kud right now we have good api, but it is not stable, in theory we can change api, but it is unlikely, we don't start with `1.0.0` due historical reason

[2018-10-08 13:22] akki-jat commented on #332
thanks @michael-ciniawsky & @evilebottnawi .

[2018-10-08 13:22] #332 closed

[2018-10-17 18:19] michaelblackstock opened #349 "addStyles.js change breaks yui compress."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2018-11-08 15:59] gianpesto commented on #287
@axelson you could use something like this:

in ur webpack.config
`
...
{
    loader: 'style-loader',
    options: {
        attrs: { 'data-styles-loaded': 'true' }
    }
},`

wait for styles
`
export default function waitForStyles(){
  return new Promise( (resolve, reject) =>{

    const interval = setInterval( () =>{
      let counter = 0;

      if (typeof document.querySelector('[data-styles-l

[2018-11-21 09:56] jinyang1994 opened #351 "How to to inject the style into a virtual Iframe"
With https://github.com/ryanseddon/react-frame-component or some other tech we're still working on.

#135 It doesn't seem to have solved the problem

[2018-11-21 10:12] evilebottnawi commented on #351
Why it is doesn't work for you? Please provide example and config where it is not work

[2018-11-21 10:18] jinyang1994 commented on #351
I have multiple iframe, I want to insert into it head. The right way to use it?

[2018-11-21 10:19] evilebottnawi commented on #351
@jinyang1994 just add `id` and difference `class` to `iframe`

[2018-11-21 10:19] jinyang1994 commented on #351
[code]

How to insert into multiple iframe?

[2018-11-21 10:20] evilebottnawi commented on #351
You need more complex logic here if you have multiple `iframe`, sorry i can't write logic for you

[2018-11-21 10:22] jinyang1994 commented on #351
[code]

[code]

Use it like this?

[2018-11-21 10:35] jinyang1994 commented on #351
![image](https://user-images.githubusercontent.com/15340367/48835789-034fdc00-edbc-11e8-93e5-ea518b6adf60.png)
But it is not working. I'm going to create a simple example, wait a minute.

[2018-11-21 11:48] jinyang1994 commented on #351
My simple example is here [Example](https://github.com/jinyang1994/example)

[2018-11-27 01:45] jinyang1994 commented on #351
It still doesn't solve my problem

[2018-11-27 01:45] #351 closed

[2018-11-27 04:03] wusiquan opened #352 "blob links seem applied to the dom after js execution occasionally"
hi, I found the sentence in README

then I enabled the `soruceMap` option, see the page in the latest Chrome(70.0.3538.110) when **developing**.

and js seems executed before the css applied to the dom `occasionally`, for instance, the page I write used `swiper` plugin, which calculate the `slideSize` would get the wrong size `occasionally`
is it a chrome's bug? or the blob related problem?

[2018-11-27 10:19] evilebottnawi commented on #352
@wusiquan It can happen, you need load styles first when init swiper, use `import().then().catch()` for this. Looks `swiper` use `height` or `width` styles to calculate something

[2018-11-27 14:21] wusiquan commented on #352
@evilebottnawi Thank you for your replying.
I tried the `import()` way, `Promise('./index.scss', './swiper.scss').all(() => new Swiper(...))`
but this time the `swiper` *always* calculate the wrong value...

After digging into the waterfall, I found the parse blob stylesheet section was hehind the execution
![waterfall](https://raw.githubusercontent.com/wusiquan/wusiquan.github.io/master/watherfal

[2018-11-27 15:19] wusiquan commented on #352
ok, please wait a while...I'll paste the repo link url

[2018-11-27 16:11] wusiquan commented on #352
all right, the [repo](https://github.com/wusiquan/style-loader-issue-352) has been created

[2018-11-27 16:15] evilebottnawi commented on #352
@wusiquan thanks!

[2018-11-27 16:30] wusiquan commented on #352
@evilebottnawi the same thanks to you. Hope it can help you reproduct.

[2018-11-28 06:57] navotgil commented on #254
WHY WHY OMG WHY!!!
I spent so much time on that one...
I guess there should be some kind of resolved extensions dependency mechanism

[2018-11-29 18:20] alejandropinson opened #353 "App in shadow root losing styles"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

I've a component that is mounted and unmounted in a Shadow Root, I've configured the style-loader to inject the styles with the insertInto property in the shadow root, when it first loads it correctly injects the styles, but when the component is unmounted and mounted again (dinamically with JS, no pa

[2018-12-05 02:18] njleonzhang opened #354 "[Question] what's the meaning of the double ! in style-loader source code?"
I know I should not ask question here, but I have asked this question in [stackoverflow](https://stackoverflow.com/questions/53611811/whats-the-meaning-of-the-double-in-style-loader-source-code), but none answer it till now. Would you please take a look to the [question](https://stackoverflow.com/questions/53611811/whats-the-meaning-of-the-double-in-style-loader-source-code), thanks very much.

[2018-12-05 10:06] evilebottnawi commented on #354
You can read information here (https://webpack.js.org/configuration/module/#rule-enforce), better create these issues in webpack docs repo, thanks

[2018-12-05 10:06] #354 closed

[2018-12-05 11:13] njleonzhang commented on #354
@evilebottnawi tnx very much for your response

[2018-12-07 16:44] Epskampie commented on #303
A solution is ditching `style-loader` and moving to [css-hot-loader](https://github.com/shepherdwind/css-hot-loader)

`npm install css-hot-loader mini-css-extract-plugin --save-dev`

If your config was this:

    {
        test: /\.css$/,
        use: [
            {
                loader: 'style-loader',
                options: { sourceMap: enableSourcemap },
            },
            {

[2018-12-07 16:59] evilebottnawi commented on #303
@Epskampie you very very very increase build time, you don't need extract css in dev env

[2018-12-07 17:22] Epskampie commented on #303
Build time seems OK here, but my project is not huge yet. If you have a better solution that works on firefox i'd love to hear it. :-D

[2018-12-07 17:42] Epskampie commented on #303
Good to hear, if there is anything i can do to help, let me know!

[2018-12-11 16:32] qingyun1029 commented on #312
I had the same problem.

{
  "devDependencies": {
    "style-loader": "^0.23.1",
    "webpack": "^4.27.1"
  }
}

[2018-12-11 17:02] evilebottnawi commented on #312
@qingyun1029 please create minimum reproducible test repo

[2018-12-12 03:52] redeyes2015 opened #355 "Not working in Chrome 71 Headless mode"
**Do you want to request a *feature* or report a *bug*?**

A bug ... of Chrome 71 Headless mode.

**What is the current behavior?**

The default behavior in Chrome would use blob URLs to inject styles,
and thus not working in Chrome 71 headless mode.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

I just want to leave a notice here

[2018-12-12 09:41] evilebottnawi commented on #355
@redeyes2015 just add `blob` polyfill, maybe we can auto detect and load polyfill when it is necessary

[2018-12-12 12:20] qingyun1029 commented on #312
@evilebottnawi

Thanks !  I rewrote a small [example](https://gitee.com/qingyun1029/webpack-for-multiple-page-demo), built and still did not generate style tags, on the HTML page.

1. git clone git@gitee.com:qingyun1029/webpack-for-multiple-page-demo.git
2. npm install
3. npm run build

[2018-12-12 12:23] evilebottnawi commented on #312
@qingyun1029 thanks, in near future we will refactor `style-loader` and i think we fix this problem

[2018-12-12 14:01] renchap commented on #355
This is a known bug in Chrome 71 (https://bugs.chromium.org/p/chromium/issues/detail?id=902918&desc=2), I am not sure it is worth it to include a workaround in `style-loader`.

[2018-12-12 14:14] evilebottnawi commented on #355
@redeyes2015 thanks for link

[2018-12-17 12:57] rafaeldeoliveira commented on #352
this also happens in a project I'm working on

[2018-12-17 15:41] budarin commented on #326
is there anyone here?

[2018-12-17 15:44] evilebottnawi commented on #326
@budarin no right, now, refactoring `style-loader` will be after holidays and we can solve this

[2018-12-17 15:45] evilebottnawi commented on #326
Anyway feel free to send a PR with PoC for better communication and implementation

[2018-12-17 15:59] budarin commented on #326
thanks for good news :)

[2018-12-18 15:08] flut1 commented on #352
I encountered this as well in a VueJS project. After vue has rendered the page (in the `mounted()` hook) I can see that the `<style>` tags have been inserted with blobs, but the styles are not applied to the page yet. If I wait a single tick (`setTimeout` of 0) the styles have been applied

Setting `sourceMap` to false also resolves the issue for me

[2018-12-19 19:18] modestotech opened #356 "Css included in bundles js files instead of in style tag"
**What is the current behavior?**
Instead of getting styles in a style tag, I get all styles included in the bundles js file.

**If the current behavior is a bug, please provide the steps to reproduce.**
Production works good, I get the minified css as expected, but style-loader has no effect. Even if I remove style-loader, I still get the css into the bundled `app.js` file.

[code]

**What is the

[2018-12-20 13:49] modestotech commented on #356
[Here](https://github.com/modestotech/css-test) you are. Run with buildTest to build and serve the content on a local server. The css gets included in the bundled js file.

[2018-12-20 13:50] evilebottnawi commented on #356
@modestotech expected, what you want? `css-loader` transpile `css` into `js` modules and `style-loader` insert this in `style` tag

[2018-12-20 13:53] modestotech commented on #356
I expect the css to be injected in a style tag in `index.html`. The screenshot below shows that there is no style tag.

![image](https://user-images.githubusercontent.com/31730051/50288687-e5cb6c00-0466-11e9-8170-24af5469ce86.png)

Have I misunderstood the functioning?

[2018-12-20 13:58] evilebottnawi commented on #356
@modestotech it is include `style` tag in runtime time (when `app.[hash].js`) was loader `style` tag should be appear

[2018-12-20 14:19] modestotech commented on #356
I don't get it to appear. See [this](https://streamable.com/ffvf7) video.

[2018-12-20 15:30] modestotech commented on #356
Oh, my bad :) Thanks

[2018-12-20 15:30] #356 closed

[2018-12-22 07:36] shikelong commented on #148
How to fix it without change style-loader's source code? I meet the some issue.

[2018-12-23 08:59] stoneshower opened #357 "`npm i style-loader` does not work"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`npm i style-loader` does not work and I cannot install style-loader

Log:
60 verbose argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "style-loader" "--save"
61 verbose node v10.6.0
62 verbose npm  v6.1.0
63 error Cannot read property 'match' of undefined
64 verbose exit [ 1, true ]

[2018-12-24 09:42] evilebottnawi commented on #357
@stoneshower looks problem on `npm` side, we can't help here, you can try update `npm` or remove caches (`npm cache clean`)

[2018-12-24 09:42] #357 closed

[2018-12-24 14:02] beshanoe commented on #320
@lydell, can you please explain again why do we need to do full reload when we added a new rule?
here's my use case:
[code]
[code]
 Before your PR, I could add a new class `.Bar` to the `Button.css` and then added it to my div's className. None of that was causing full-page reload. And now it broke completely since we use `webpack-hot-middleware`(as a lot of people).
My opinion that it's worth a h

[2018-12-24 15:55] beshanoe commented on #320
@evilebottnawi here it is https://github.com/beshanoe/style-loader-hmr-issue

[2018-12-24 15:56] evilebottnawi commented on #320
@beshanoe thanks, after holiday we will refactor `style-loader` (and solve this issue too)

[2018-12-26 10:06] lydell commented on #320
@beshanoe If you first add `className={styles.Foo}` in your JS and _then_ define `.Foo` in your CSS the page needs to be reloaded, right? Unless you're using react-hot-loader? But maybe I didn't think it through enough? The previous behavior was to _always_ reload the page if CSS modules was enabled. I changed it to _sometimes_ reload. But maybe it makes sense to _never_ reload?

[2018-12-27 17:45] beshanoe commented on #320
@lydell yeah I understand there are bunch of edge cases and I can't say for sure which solution gonna cover them all, but when using react-hot-loader with CSS modules and webpack-hot-middleware, it worked before and now it doesn't, at least because apparently webpack-hot-middleware doesn't support reloading on throwed error.
I think your change makes total sense if it fixes HMR for those who don't

[2018-12-27 19:45] beshanoe commented on #320
@lydell actually I was completely ignoring the fact that HMR was turned off for css modules before, so for those who uses them only in react app with RHL, current fix is to provide `hmr: false` to `style-loader`:
[code]

[2018-12-31 20:18] bradharms opened #358 "Chrome MacOS HMR causes hanging"
**Do you want to request a *feature* or report a *bug*?**
This is a bug report.

**What is the current behavior?**
Dev panel may or may not report the change was detected. The browser tab becomes unresponsive and CPU usage becomes very high, and the only way to stop it is to use the Chrome task manager; reload/stop does nothing, tab cannot be closed. Resizing the dev panel shows that the area behi

[2019-01-03 01:10] rachelslurs opened #359 "Issue replicating behavior from webpack 2 -> 4"
**Do you want to request a *feature* or report a *bug*?**
Report a bug, possibly!

**What is the current behavior?**
When running a build, my inline CSS isn't being generated and inserted into the DOM as it did before updating versions

**If the current behavior is a bug, please provide the steps to reproduce.**
I've created a repo to compare my old and new package.json as well as my webpack confi

[2019-01-03 20:05] 4WakeStudio commented on #352
Same problem here :/.
Any better fix found?

[2019-01-04 12:19] evilebottnawi commented on #359
@rachelslurs please create reproducible test repo and desribe in README, what you actually have and what you exptected.

[2019-01-04 15:11] bradharms commented on #358
I haven't had a chance to find any code that can cause it which I can publicly share but I do know that the issue only occurs if the browser dev panel is open for 2 or more consecutive HMR updates.

[2019-01-04 15:14] evilebottnawi commented on #358
@bradharms using other problems and/or os doesn't cause this problem right?

[2019-01-04 15:38] bradharms commented on #358
correct

[2019-01-04 15:55] evilebottnawi commented on #358
@bradharms hm, if you find how we can reproducible problem feel free to feedback, maybe we can find a workaround

[2019-01-04 19:57] Cyrus-d commented on #320
@evilebottnawi this is the boilerplate that I have modified to reproduce the problem, please look into the webpack/modules.js for configurations:

[https://github.com/Cyrus-d/webpack-react-boilerplate](https://github.com/Cyrus-d/webpack-react-boilerplate)

This is what happens:

[Test](https://raw.githubusercontent.com/Cyrus-d/webpack-react-boilerplate/master/image8.gif)

hope it helps.

[2019-01-04 20:48] beshanoe commented on #320
Hey @Cyrus-d
I see you used hmr option in the wrong place, you've put it inside css-loader's option here:
https://github.com/Cyrus-d/webpack-react-boilerplate/blob/fefcf42626e2573e36ba2239fca3a44244e235d7/webpack/modules.js#L34
instead of style-loader's options here:
https://github.com/Cyrus-d/webpack-react-boilerplate/blob/fefcf42626e2573e36ba2239fca3a44244e235d7/webpack/modules.js#L41

[2019-01-05 11:01] Cyrus-d commented on #320
@beshanoe thanks for pointing that out, actually at first, I did had hmr option under style-loader, but it caused react rerender the app, look into it closely I have noticed that the react hot loader was configured incorrectly. so yes, setting hmr to false indeed solved the problem.

Thanks for the help.

[2019-01-05 17:15] flut1 commented on #352
@4WakeStudio  Not a real fix but a workaround. We now have a little util function that returns a Promise when all stylesheets have loaded. You can use that to delay code that depends on the styles being applied.

[code]

See:
https://github.com/riccoarntz/vue-skeleton/blob/5c6e393abeb352df3c9f17b3a8a6ba411d80559e/src/util/waitForStyleSheetsLoaded.ts

[2019-01-15 10:55] jimousse opened #361 "options.insertTo (function or selector) is used before React component is mounted"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
I'm using React and I have a component that has an id `test`.
I'm using the style-loader this way:
[code]
When `insertInto` is run, my react component is not mounted yet, therefore `document.querySelector('#test')` returns always null.

**What is the expected behavior?**
I'd like `insertInto`

[2019-01-15 11:21] evilebottnawi commented on #361
@jimousse out of scope loader, you can use `import('style.css').then(() => {})` when you need include styles

[2019-01-15 22:10] sungkang opened #362 "ES3 parsing compatibility, Expected identifier error"
Getting an "expected identifier" error in `function addStyle(obj, options)`.

I see  `options.transform.default(obj.css)` instead of `options.transform["default"](obj.css)`.
This seems to break for IE8

versions:
webpack: 4.28.4
style-loader: 0.23.1

[2019-01-16 08:16] evilebottnawi commented on #362
@sungkang we don't support `IE8`, anyway it is easy fix so PR welcome

[2019-01-16 14:23] sungkang commented on #362
sure no problem

[2019-01-24 14:38] mikestopcontinues commented on #320
Hey, where are we at with this issue? I've downgraded for the time being, but I sure would like to get back on the update track and still have hmr.

[2019-01-28 00:20] adomoshe commented on #141
Hey, I just had this same problem with the css files overriding eachother when mounting different pages using React Router. I came up with the following:

`import React, { Component } from 'react';

class Hangman extends Component {
...
  componentWillMount() {
    require('../../assets/css/Hangman.css')
  }
...
}`

I am new to development and definitely to React so please feel free to correct me

[2019-01-29 08:39] eyaylagul commented on #234
this work for me
[code]

[2019-01-30 10:02] mbalaam commented on #303
Firefox Nightly 67 seems to have a fix in place for this issue

[2019-01-30 12:18] Alxandr opened #365 "URL replacement hangs on bad CSS urls"
**Do you want to request a *feature* or report a *bug*?**

improvement

**What is the current behavior?**
If you have a particulary bad `url` expression, generally due to misconfigured webpack loaders, `css.replace` hangs indefinitely with 100% CPU usage (latest chrome on windows).

**If the current behavior is a bug, please provide the steps to reproduce.**

I had a bug in my loader setup that pr

[2019-01-30 12:19] evilebottnawi commented on #365
@Alxandr what is version of `css-loader` you use? Can you create minimum reproducible test repo?

[2019-01-30 13:52] Alxandr commented on #365
**webpack.config.js**:
[code]

**index.js**:
[code]

**index.css**:
[code]

**index.html**:
[code]

**package.json**:
[code]

I ran `npx webpack-dev-server --hot` and navigated to `localhost:8080`. Not sure whether or not the `--hot` is required.

[2019-01-30 13:56] evilebottnawi commented on #365
@Alxandr thanks

[2019-02-04 10:11] ovidijusr opened #366 "remove type="text/css" from inline css load"
**What is the current behavior?**
when i use style-loader in webpack for inline loading I get inline style which looks like this:
[code]
**What is the expected behavior?**
ability to remove type attribute from style tag
[code]

**If this is a feature request, what is motivation or use case for changing the behavior?**
I'm currently getting warnings from w3c about using this optional tag:

Tried to

[2019-02-04 10:57] evilebottnawi commented on #366
Feel free to send a PR

[2019-02-16 23:47] achilsowa commented on #335
I'm having the same problem as @AlexanderLoshkarov . When I use style-loader + css-loader [ for css ] and file-loader for [ for font] I can extract the font in the css file, but file is added in <style /> tag.

On the other hand if I use style-loader/url + file-loader the css is now included in <link /> ( which is what I want) but the fonts are no more extracted from css files.

So is it possible

[2019-02-28 07:34] jordanbtucker opened #369 "options.transform is a string, not a function"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

Error `options.transform should be a string` is thrown when `options.transform` is a function.

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack.config.js

[code]

**What is the expected behavior?**

The [documentation](https://github.com/webpack-contrib

[2019-03-04 09:06] evilebottnawi commented on #369
Yep, it is bug

[2019-03-14 16:54] adeka commented on #312
that's bizarre. never would have guessed thats why my css wasn't building.

[2019-03-15 12:11] slavafomin commented on #254
Hey there! I've got the same issue today. Could someone please explain why `.js` extension must be used in the `resolve.extensions` configuration option? Is it because the loader adds some JavaScript code to the generated bundle?

I also think the notice should be added to the README.

[2019-03-26 11:19] evilebottnawi commented on #359
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-03-26 11:19] #359 closed

[2019-03-26 11:19] evilebottnawi commented on #358
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-03-26 11:19] #358 closed

[2019-03-26 11:21] #337 closed

[2019-03-26 11:24] evilebottnawi commented on #278
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-03-26 11:24] #278 closed

[2019-03-26 11:24] #212 closed

[2019-03-27 15:49] sahilchopra commented on #141
Any solution for this?

[2019-03-28 14:09] bernardodomingues-hotmart commented on #353
Hey @alejandropinson, care to share your solution?

I am currently suffering from the exact same problem.

[2019-03-28 16:45] alejandropinson commented on #353
@bernardodomingues-hotmart
I had to manually inject the styles in the ShadowRoot each time the component its mounted. I previously had JS injected inline styles (the component is using lazy loading/code splitting) and had to disable it to generate a single stylesheet:

`new ExtractTextPlugin({ filename: 'styles.css', allChunks: true }),`

Note: We left Shadow Dom implementation as it is not fully

[2019-03-28 19:16] bernardodomingues-hotmart commented on #353
Huh, my solution was actually way simpler. My app is a UMD module rendered inside a third-party page. All that it took was forcing the redownload of the bundle, by removing it from the `window` object whenever the user navigated away from the page. Something like:

[code]

[2019-04-15 16:19] akdetrick commented on #216
What if the `attrs` option accepted webpack placeholders via `interpolateName` from [loader-utils](https://github.com/webpack/loader-utils#interpolatename)?

[code]

[2019-04-15 16:20] evilebottnawi commented on #216
PR welcome

[2019-04-21 17:59] tenorius commented on #312
I'm having the same problem:
"devDependencies": {
    "style-loader": "^0.23.1",
    "webpack": "^4.30.0",
}
The sideEffects tip did not work for me. Any other suggestions?

[2019-05-19 09:17] midsbie opened #379 "reduce the difference in api between normal and lazy imports"
* Operating System: Ubuntu Linux latest LTS
* Node Version: 11.15
* NPM Version: 6.7.0 (yarn 1.13.0)
* webpack Version: 4.31.0
* style-loader Version: 0.23.1

### Expected Behavior
Enabling `style-loader/useable` loader whilst using CSS modules results in CSS modules not working.

### Actual Behavior
Whenever `style-loader/useable` is used, CSS modules are ignored as if `css-loader:modules = false

[2019-05-22 21:48] kevinkace commented on #201
Is this still being worked on?

[2019-05-23 10:09] evilebottnawi commented on #379
Please create minimum reproducible test repo

[2019-05-23 10:10] evilebottnawi commented on #379
Looks like a bug

[2019-06-07 22:32] ogonkov commented on #303
Seems fixed as of Firefox 67.0.1

[2019-06-18 08:53] HighWarmModel opened #380 "I need help"
In the development environment, I introduced the CSS file into the JS file, but it was a style rendered by js, which led to incorrect calculation of dom.
eg:[https://github.com/seafronthu/webpack4-multi-page](url)
In index.js, `document.querySelector('.ljb').offsetTop //  It's not the right value before CSS rendering`
How can I solve this problem?

[2019-06-18 09:08] evilebottnawi commented on #380
Please open new issue with issue template and step to reproduce, thanks

[2019-06-18 09:08] #380 closed

[2019-06-25 03:02] ke1vin1993 commented on #352
Not occasionally. Only safari works correctly with blob links now

[2019-06-26 15:15] o4dev commented on #351
Why is this closed? Was anybody able to solve this?

[2019-07-12 11:53] utlime commented on #158
Hey @michael-ciniawsky,
could you please reopen this issue. I have the same problem, I created question on stackoverflow, but seems no answers =\
https://stackoverflow.com/questions/56966623/how-to-use-style-loader-useable-and-style-loader-url-together

[2019-07-13 11:10] weilinzung opened #381 "Replace original Style link to blob one"
### Feature Proposal

We have a Jekyll project, during local development that `main.css` would be missing(404) because Webpack has not generated the final CSS file. Would be nice if style-loader could replace the original style link to the blob one.

### Feature Use Case

`<link id="main-style" rel="stylesheet" href="/css/main-bundle.css">` 404-> during local development

Just give an new option t

[2019-07-13 13:34] evilebottnawi commented on #381
https://github.com/webpack-contrib/mini-css-extract-plugin

[2019-07-13 13:34] #381 closed

[2019-07-13 13:54] weilinzung commented on #381
@evilebottnawi it is quite slow if doing that on local development.

[2019-07-13 13:56] evilebottnawi commented on #381
@weilinzung it is impossible without plugins, we can fix problem with perf

[2019-07-23 13:26] alshdavid commented on #306
What's the status with this?

Can I use style_loader with a nonce?
Is there anything special I need to do?
Will it read my window.__webpack_nonce__?
Will it work with dynamic imports?

[2019-07-23 13:36] plondon commented on #306
Yes

Make sure the files where you set the nonce is one of the very first imports in the project:
See: create-nonce.js (https://github.com/blockchain/blockchain-wallet-v4-frontend/blob/development/packages/blockchain-wallet-v4-frontend/src/create-nonce.js#L4) is then imported from the first main entry point index.js (https://github.com/blockchain/blockchain-wallet-v4-frontend/blob/0477f60e62b3635e

[2019-07-23 13:43] evilebottnawi commented on #306
@plondon maybe you can send a PR to docs ? :smile: anyway thanks for answer

[2019-07-25 12:40] #265 closed

[2019-07-25 12:40] #352 closed

[2019-07-25 14:37] vlasenko commented on #352
@evilebottnawi Thanks, could you also publish `style-loader` with the #383 fix merged?

[2019-07-25 14:41] evilebottnawi commented on #352
@vlasenko we have some tasks for new release, so just wait, i think we can do release on next week

[2019-07-27 12:58] evilebottnawi commented on #309
Please open issue in babel-plugin-react-css-modules

[2019-07-27 12:58] #309 closed

[2019-07-27 12:59] evilebottnawi commented on #362
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

We drop support IE8 and IE7 for next major release

[2019-07-27 12:59] #362 closed

[2019-07-27 18:00] anshul2209 commented on #256
@austinwalter  @DiesIrae , were you guys able to find a work around ? I am currently struggling with this.

[2019-07-29 11:35] evilebottnawi commented on #362
Anyway let's fix it

[2019-07-29 11:41] evilebottnawi commented on #361
Answer above, also we have `usable` api for this case

[2019-07-29 11:41] #361 closed

[2019-07-29 11:42] evilebottnawi commented on #340
Will be doe in near future (this week), thanks for issue

[2019-07-29 11:42] #340 closed

[2019-07-29 11:45] evilebottnawi commented on #328
We have useable api, i think we need improve this, adding more option for `style.use()` or maybe implement new api, it should be easy, so PR welcome, anyway will be implemented for `2.0.0` version

[2019-07-29 11:46] evilebottnawi commented on #365
Changing url was removed, so all should be work fine

[2019-07-29 11:46] #365 closed

[2019-07-29 11:47] evilebottnawi commented on #134
It is limitation for `singleton` and can be unfortunately won't fix, we need update docs about it

[2019-07-29 13:24] #346 closed

[2019-07-29 14:04] evilebottnawi commented on #355
Closed due bug in chrome, we can't do something on our side, anyway if you have idea(s), PR welcome

[2019-07-29 14:04] #355 closed

[2019-07-29 14:36] evilebottnawi commented on #369
option transform was removed without replacement

[2019-07-29 14:36] #369 closed

[2019-07-29 14:36] evilebottnawi commented on #324
option transform was removed without replacement

[2019-07-29 14:36] #324 closed

[2019-07-29 14:36] evilebottnawi commented on #321
option transform was removed without replacement

[2019-07-29 14:36] #321 closed

[2019-07-29 14:46] evilebottnawi commented on #291
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-07-29 14:46] #291 closed

[2019-07-29 18:58] evilebottnawi commented on #313
Already fixed in master

[2019-07-29 18:58] #313 closed

[2019-07-29 21:45] saculbr commented on #379
I created a minimal reproducible test repo https://github.com/saculbr/useable-export-minimal-repo

and, **when using modules** all class names are exported inside a *locals* variable

this behavior is not documented

![DeepinScreenshot_select-area_20190729183816](https://user-images.githubusercontent.com/4311885/62084605-14e16180-b230-11e9-969e-ce6e1f57d0fd.png)

![DeepinScreenshot_select-area_201

[2019-07-30 05:19] miguel-guedes commented on #379
Thanks for the repro, @saculbr -- been lacking the time! :+1:

[2019-07-30 10:14] evilebottnawi commented on #366
Done in https://github.com/webpack-contrib/style-loader/pull/399

[2019-07-30 10:14] #366 closed

[2019-07-30 12:54] evilebottnawi commented on #379
It is not bug, expected, because `css` modules can contains `ref`/`unref`/`unser`/`use` class name we need export this in `locals`, we need documented this

[2019-07-30 14:12] evilebottnawi commented on #328
For better compatibility with css modules from w3 spec (not to be confused with css-modules from `css-loader`), we need export `styles` as `String` and do:

[code]

[2019-07-30 17:35] elliottregan commented on #303
Fingers crossed the next release has working sourcemaps... 🤞

[2019-08-01 12:52] #306 closed

[2019-08-02 15:45] evilebottnawi commented on #255
Done in https://github.com/webpack-contrib/style-loader/pull/413, now you can use any custom logic for insert

[2019-08-02 15:45] #255 closed

[2019-08-02 15:47] evilebottnawi commented on #312
Here docs about sideEffects https://webpack.js.org/guides/tree-shaking/, anyway if you have problem, please open new issue with **reproducible test repo**, thanks

[2019-08-02 15:47] #312 closed

[2019-08-02 15:47] evilebottnawi commented on #312
Also it is related more to webpack than style-loader

[2019-08-03 14:58] evilebottnawi commented on #326
I think we need new api for this case, let's do it for 2.0.0, anyway feel free to send a PR if you need this as soon as possible

[2019-08-03 15:26] evilebottnawi commented on #134
In theory it is possible, but it is create overload in runtime code because we need merge source maps and it is not cheap for client computer, also we don't recommend use singleton due it is only for old browsers, if you have problem with performance using multiple tags better open issue with reproducible example (also you should consider extracting css). Sorry, mark as won't fix. Anyway we are op

[2019-08-03 15:26] #134 closed

[2019-08-03 15:40] evilebottnawi commented on #201
Also we should generate hmr code inside `inject*` code only when hmr enabled

[2019-08-05 09:42] evilebottnawi commented on #379
Problem:
- normal usage exports locals in imported object
- lazy usage exports locals under `locals` property of imported object

We need reduce change between this.

[2019-08-05 17:31] #320 closed

[2019-08-06 10:36] minhtranite commented on #303
I just update to version `1.0.0` and it still not working. here is my loaders config:

[code]

[2019-08-06 10:37] evilebottnawi commented on #303
@robertjk please create minimum reproducible test repo, i think bug on firefox side

[2019-08-06 10:40] minhtranite commented on #303
I think so, Thank you! The warning message on Firefox are gone but source map still not work.

[2019-08-06 10:42] evilebottnawi commented on #303
@mikehdt yep, source maps still not work in firefox :disappointed: try to search bug in their bug tracker

[2019-08-06 11:08] evilebottnawi commented on #303
Firefox bug:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1451274
- https://bugzilla.mozilla.org/show_bug.cgi?id=1543896 (previously we use blob)

Sorry we can't do something on our side here, please write to firefox bug tracker

[2019-08-06 14:22] Austaras commented on #303
works fine for me in Firefox after 1.0 release

[2019-08-06 14:29] evilebottnawi commented on #303
@Austaras it is strange, can you provide example?

[2019-08-06 15:05] Austaras commented on #303
@evilebottnawi [this repo](https://github.com/Austaras/boilerplate/tree/4e0fda5085d1c44e3796d80e13176ab630b05477)
Firefox 69.0b10-1

[2019-08-06 15:12] evilebottnawi commented on #303
@Austaras thanks, maybe firefox fix bug in latest release, i have problems on `68.0.1 (64-bit)`

[2019-08-06 15:14] minhtranite commented on #303
@Austaras I clone and run you example on Firefox nightly but it still not work

<img width="1675" alt="Screen Shot 2019-08-06 at 10 10 45 PM" src="https://user-images.githubusercontent.com/5418628/62552067-3b8a4280-b897-11e9-9d70-48f051d4addc.png">

[2019-08-06 15:27] Austaras commented on #303
@minhtranite
that's wired. It works in Firefox 58 in my machine. Did you turn on enable sourcemap in developer tool?
![pic](https://user-images.githubusercontent.com/15013925/62553003-2c0ff700-b8a1-11e9-87ec-e63d33bcf7e5.png)

[2019-08-09 14:18] bn4z commented on #303
Hi! If the info can help: I'm using **Firefox 69.0b11 (64-bit)** on Windows 10. Upgrading from style-loader **0.23.1** to **1.0.0** removed the message `Source map error: TypeError: Invalid URL: .` in the console.

[2019-08-09 16:43] phaistonian opened #422 "HMR does not work as of 1.0.0"
- Operating System: OSX
- Node Version: Latest
- NPM Version: Latest
- webpack Version: Latest
- style-loader Version: 1.0.0

### Expected Behavior
HTR to work as before 1.0.0

### Actual Behavior

`Ignored an update to unaccepted module` kind of errors are thrown and full-reload takes place whenever a change is made in content passed to style-loader.

### How Do We Reproduce?

Not sure - I guess

[2019-08-09 16:58] evilebottnawi commented on #422
yes, because you use css modules and previously behavior break some cases, it was invelid solution and we revert this

From changelog:

We implement new HMR api for webpack@5 and it will be possible, right now it is won't fix

[2019-08-09 16:59] evilebottnawi commented on #422
@phaistonian anyway please create reproducible test repo to ensure it is situation described above

[2019-08-09 17:11] phaistonian commented on #422
So, HMR will be working as it should when webpack 5 is released and until then we should revert to a version < 1.0, yes?

[2019-08-09 17:20] evilebottnawi commented on #422
@phaistonian hmr works fine if you don't use `css modules`, if you use `css modules` you will get full reload with style-loader, if you revert to old version you get invalid hmr behavior what potentially break app in some places in dev mode, anyway please create minimum reproducible test repo

[2019-08-09 17:24] phaistonian commented on #422
@evilebottnawi  Will try to - once I get some free time.

Thank you.

[2019-08-09 17:30] evilebottnawi commented on #422
@phaistonian should work, maybe bug, wait reproducible test repo and help you

[2019-08-16 20:40] laino commented on #422
It's also broken for me. Just using ``style-loader``, ``css-loader``, ``sass-loader``. With default settings.

[2019-08-20 15:36] evilebottnawi commented on #422
PLEASE create minimum reproducible test repo, message like `It's also broken for me` is not help

[2019-09-03 03:51] george-norris-salesforce opened #425 "insertInto docs"
Be rad if there was documention on `insertInto`.

[2019-09-03 03:53] george-norris-salesforce commented on #425
or is already deprecated? `options has an unknown property 'insertInto'. These properties are valid:`

[2019-09-03 10:29] evilebottnawi commented on #425
It was removed, please read CHANGELOG

[2019-09-03 10:29] #425 closed

[2019-09-19 08:28] Yegorich555 opened #426 "Option injectType: 'linkTag' doesn't work"
- Operating System: Windows 10x64
- Node Version: 10.11.0
- NPM Version: 6.7.0
- webpack Version: 4.35.3
- style-loader Version: 1.0.0

### Expected Behavior
Style-loader should integrate styles into a links without errors

### Actual Behavior
Style-loader can't upload styles when we set ``` options:{ injectType:'linkTag'}``` and browser-console-error is

### Code
Please use the following git-repo

[2019-09-23 10:52] evilebottnawi commented on #426
Something wrong with configuration, instead link, you have part of CSS

[2019-09-23 12:12] Yegorich555 commented on #426
Looks like such using ```@import ...``` inside css doesn't work with linkTag option:
[code]

[2019-09-23 18:47] evilebottnawi commented on #426
@Yegorich555 Don't use `linkTag` with `css-loader`, `linkTag` only for css files loaded using `file-loader` https://github.com/webpack-contrib/style-loader#linktag

[2019-09-24 06:23] Yegorich555 commented on #426
Ok. I see - I just wanted to use link-tag option for improving debugging - it's helpful when you see the real path in a browser...
Thanks for spending time. If you add more details into README it can be helpful for other users.

[2019-09-24 06:23] #426 closed

[2019-09-24 10:06] evilebottnawi commented on #426
@Yegorich555 yep, anyway feel free to send a PR to docs too

[2019-09-24 15:36] mgreystone opened #427 "Hot Reloading ignores __webpack_nonce__"
- Operating System: Alpine (Docker)
- Node Version: 10.16.3
- NPM Version: 6.9.0
- webpack Version: 4.37.0
- style-loader Version: 1.0.0

### Expected Behavior

When hot-reloading is enabled, `style-loader` should add `<style>` elements with a `nonce` attribute. The value of the `nonce` attribute should be the value of `__webpack_nonce__`.

### Actual Behavior

`<style>` elements do not contain th

[2019-10-28 00:15] yurii-github commented on #426
is it possible to use scss and load style as static file?

I'm new and cannot get it. I have next config in webpack

[code]

[2019-10-28 00:20] yurii-github commented on #426
nevermind. this looks ok
[code]

[2019-10-29 02:08] loganfsmyth commented on #303
I looked into this on the Firefox side, and I'm not sure I'd consider this a Firefox bug, but rather a case where Chrome may have more fallbacks to handle invalid sourcemaps. We can certainly look into potentially handling this, but the map as it stands does not contain valid `sources` for this context.

In the case of the example provided in the initial post, the `extract-text-webpack-plugin` exa

[2019-10-29 07:23] doktordirk commented on #256
i used the url-loader:
my-component.html
[code]
my-component.scss
[code]
webpack.config.js
[code]

[2019-10-31 01:44] elliottregan commented on #303
@loganfsmyth Thanks for doing all this research. I had a feeling it was a Webpack bug, because source maps have worked in Gulp and every other build tool I've used.

Anybody know how we can get this escalated to someone who can merge PRs? The last PR for webpack-contrib that I got involved in has been sitting open since 2017. 🙄

[2019-10-31 09:53] alvaro-escalante commented on #303
For me in turned out to be the React Developer tools add on, the moment I disabled it, the source maps changed from inline to the proper sass partial. It works with this set up:
[code]

[2019-11-13 10:13] Yegorich555 commented on #422
I agree. Previous version of style-loader works fine even with css-modules. HMR in the version 1.0.0 doesn't work as expected only with css-modules. I'm frustrated of this. Css-modules mustHave for me and I can't work without HMR at all. And I've never had **potentially breaking app in some cases in dev mode** with previous versions. Can it be fixed for the latest version?
The repo for reproducing

[2019-11-14 18:10] evilebottnawi commented on #422
@Yegorich555 previously version style-loader didn’t work correctly, even if everything seemed to be right for you, technically it was done incorrectly and led to problems in many places, it can be fixed only introducing new hot api, and in theory can be done for webpack@5. What is problem? Refreshing is very fast

[2019-11-15 05:30] Yegorich555 commented on #422
The main problem is not in the speed of refreshing but in refreshing in general. For example I'm developing some view or component which is deeply nested and with refreshing everything is lost. And I need go to the exact view by clicking 4 times (on some buttons) and filling forms and submitting 2 forms, for example. You can imagine how much time I spend with such refreshes (during the css bug-fix

[2019-11-15 09:17] phaistonian commented on #422
So, to recap:

- We can't have hot-reloading with `1.0.0`
- We might have it again when Webpack 5 is a released via a new API

yes?:)

[2019-11-15 09:36] evilebottnawi commented on #422
@phaistonian yes, or we can implement new api in webpack@4 and implement this in `1.0.0`

[2019-11-15 09:39] phaistonian commented on #422
@evilebottnawi  I am not sure it makes much sense developing (i.e in local environment) and not having HMR on css. It's definetely a deal-breaker in our cases and that's why we downgraded to the previous version across all our repos.

My suggestion is to do so and support webpack 5 later - if more work is needed.

[2019-11-15 09:43] evilebottnawi commented on #422
@phaistonian I will have a discussion with sokra about it, maybe we can return this faster than you think, in my todo

[2019-11-28 10:39] 4iAmAve opened #428 "Using injectType linkTag with webpack leads to url being an esModule"
- Operating System: Windows 10/Ubuntu 19/MacOS latest
- Node Version: latest
- NPM Version: latest
- webpack Version: 4.41
- style-loader Version: 1.0.0

### Expected Behavior

The injected link tag should reference the correct link URL.

### Actual Behavior

The passed `url` parameter into the link tag function is an esModule (for whatever reason) as follows:

[code]

Hence the appended `<link />

[2019-11-28 10:49] evilebottnawi commented on #428
Thanks for issue :+1:

[2019-11-28 11:02] 4iAmAve commented on #428
Shall I provide a PR?

[2019-11-28 11:22] evilebottnawi commented on #428
@4iAmAve no need, i already WIP on this :+1:

[2019-11-28 12:07] #428 closed

[2019-11-28 12:08] evilebottnawi commented on #427
Sorry for delay, i will look on this in near future

[2019-11-28 12:20] 4iAmAve commented on #428
@evilebottnawi

Thanks a lot. That went fast. :)

[2019-11-30 14:28] Acksop opened #430 "Build not ok with injectType of style-loader"
- Operating System: Linux Mint 19.2
- Node Version: v8.10.0
- NPM Version: 3.5.2
- webpack Version: 4.41.2
- style-loader Version: ^1.0.1

### Expected Behavior

npm run Build -->OK!

### Actual Behavior

https://gist.github.com/Acksop/f5c39cb60d416b5660f3ea8df542c60c

### Code
`webpack.config.js`
https://gist.github.com/Acksop/9ba4bfc40ab3996d95cd4b9d3ae1546b

[code]

[2019-12-02 10:26] evilebottnawi commented on #430
`linkTag` should be used with `file-loader`, please read docs, thanks

[2019-12-02 10:26] #430 closed

[2019-12-09 15:48] evilebottnawi commented on #431
Better implement that on `style-loader` side

[2019-12-14 14:20] Acksop commented on #430
thanks, i'm a newbie with npm ... I just begin to understand how it works. so thank for your help !

[2019-12-16 10:57] mike-shtil commented on #328
This looks like an elegant approach, however `import styles from './custom-square.css'` would only return a map of key:classname, not the compiled CSS string. Am I missing something?

[2019-12-16 11:17] evilebottnawi commented on #328
@mike-shtil it is only return css nothing more, for better w3c compatibility with css modules spec (do not confuse with css modules from css-loader)

[2019-12-16 22:41] teamco opened #433 "ReferenceError: document is not defined"
- Operating System: MacOs Catalina
- Node Version: 13.x
- webpack Version: 4.2
- style-loader Version: 1.0.1

Some strange error during build:
`Entrypoint main = main.js main.js.map
[0] multi webpack-hot-middleware/client?path=/__webpack_hmr&timeout=20000
...
[./node_modules/webpack-hot-middleware/client.js?path=/__webpack_hmr&timeout=20000] (webpack)-hot-middleware/client.js?path=/__webpack_hmr&t

[2019-12-17 09:45] evilebottnawi commented on #433
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-12-17 09:45] #433 closed

[2019-12-17 20:25] teamco opened #439 "ReferenceError: document is not defined"
- Operating System: MacOs Catalina
- Node Version: 13.3.0
- NPM Version: 6.13.2
- webpack Version: 4.41.2
- style-loader Version: 1.0.1

### Expected Behavior
Successfully compiled code

### Actual Behavior
ReferenceError: document is not defined

### Code

[code]

[code]

### How Do We Reproduce?
**package.json** script
webpack --mode development --config webpack.server.config.js && webpack --mod

[2019-12-18 09:18] evilebottnawi commented on #439
Don't use style-loader in environment where document is unavailable

[2019-12-18 09:18] #439 closed

[2019-12-20 13:24] evilebottnawi commented on #431
You can use `import * as style from './myStyle.css';` with `styleTag` and `lazyStyleTag` and all works fine, closing

[2019-12-20 13:24] #431 closed

[2019-12-20 20:07] davidlougheed opened #445 "v1.1.0 broke ant-design style loading"
- Operating System: Ubuntu 18.04
- Node Version: 10.17
- NPM Version: 6.13.4
- webpack Version: 4.41.4
- style-loader Version: 1.1.1

### Expected Behavior

`ant-design` styles show up as normal.

### Actual Behavior

some styles do not get loaded.

### Code
https://gist.github.com/davidlougheed/4d97bf9107a13dfb84c0f492624783e1

Project: https://github.com/c3g/chord_web

### How Do We Reproduce?

[2019-12-20 20:24] obartra commented on #445
I'm running into similar visual changes when updating from 1.0.2 to 1.1.0

[2019-12-20 20:40] nickbrit commented on #445
Looks like `style-loader 1.1.x` ignores files with the same name in different folders.
**home.react.js:**
`import 'pages/home/styles.scss';`

**about.react.js:**
`import 'pages/about/styles.scss';`

Only one of `styles.scss` will be imported.

[2019-12-20 20:45] davidlougheed commented on #445
In c7d6e3a3fba63a76e8f342d84e00b69af92c7ebc an ID system is added; I haven't looked closely but that seems to indicate to me that file names are being incorrectly used as complete IDs @nickbrit

[2019-12-21 15:03] wang-fu commented on #445
it`s looks like cached style by  id in  [https://github.com/webpack-contrib/style-loader/blob/master/src/runtime/injectStylesIntoStyleTag.js#L61](url)

[2019-12-21 19:12] crobinson42 opened #446 "v1.1.0 broke loading styles"
#445 says v1.1.0 broke "Ant Design"... well it actually broke bundling any css/scss in the webpack build process.

No css is bundled with the below configs for v1.1.0.

**Rolling back to v1.0.2 fixes this issue.**

[code]

[2019-12-22 03:16] yangshun commented on #445
This is the PR responsible: https://github.com/webpack-contrib/style-loader/pull/443

[2019-12-22 03:46] yyzclyang opened #447 "v.1.1.1 throw error when accessing the page"
- Operating System: macOS 10.14.6
- Node Version: 12.14.0
- NPM Version: 6.13.4 (yarn 1.19.1)
- webpack Version: 4.41.3
- style-loader Version: 1.1.1

### Expected Behavior
`style-loader` operating normally

### Actual Behavior

After I upgraded from 1.0.2 to 1.1.1, webpack compiles, but I get an error (`Uncaught RangeError: Invalid array length`) when accessing the webpage.When I downgrade 1.0.2,

[2019-12-22 04:30] yangshun commented on #445
After some investigation, I found that `loaderUtils.stringifyRequest()`  does this:

[code]

[code]

The ID produced is the same, for two different CSS module files.

[2019-12-22 17:42] saranchandru commented on #447
The same issue is happening with the 1.1.0 version as well.

[2019-12-23 05:10] syberon commented on #447
Yes, i confirm this too. After updating to 1.1.1 from 1.0.2 i get the same error.

[2019-12-23 11:35] evilebottnawi commented on #447
Somebody can create reproducible test repo?

[2019-12-23 11:36] evilebottnawi commented on #446
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-12-23 11:36] #446 closed

[2019-12-23 11:37] evilebottnawi commented on #445
WIP on this

[2019-12-23 12:31] evilebottnawi commented on #445
I am very tired and my depression kills me, if somebody want to investigate and fix it, feel free to send a PR, i will do it tomorrow, i can't do it today, sorry guys

[2019-12-23 12:37] yangshun commented on #445
We appreciate your efforts in maintaining and pushing the webpack ecosystem to greater heights. Please take care!

[2019-12-24 04:26] cenfun commented on #445
we have same issue.

[2019-12-24 06:16] yyzclyang commented on #447
here https://github.com/yyzclyang/style-loader-test-repo

[2019-12-24 07:54] evilebottnawi commented on #447
Problem in configuration, you should not use MiniCssExtractPlugin.loader and `style-loader` together, please fix it using:
[code]

[2019-12-24 07:58] evilebottnawi commented on #447
I will fix it for current version to avoid breaking change, but it doesn't work for next version

[2019-12-24 08:20] #447 closed

[2019-12-24 08:57] DemonCloud commented on #445
new version style-loader 1.1.1 will lose to load less css module

same issue here.

but version 1.0.2 works

[2019-12-24 10:05] yyzclyang commented on #447
thank you !

[2019-12-25 02:07] otakustay commented on #445
I can confirm this issue prevents relative import of css files to load into DOM, this id used in `addModulesToDom` function looks like:

[code]

Noticed that the last segment is `./index.less`, a relative path which can be conflict with other components

[2019-12-25 08:23] erdalstk commented on #445
Also effects DraftJs Editor Plugins css imports.

[2019-12-25 09:30] evilebottnawi commented on #445
Today i am working on the problem, sorry for delay

[2019-12-25 12:58] #445 closed

[2019-12-25 13:00] evilebottnawi commented on #445
Done https://github.com/webpack-contrib/style-loader/releases/tag/v1.1.2, please leave feedback, it is big refactoring so sometimes bugs happen

[2019-12-25 13:01] evilebottnawi commented on #446
Should be solved https://github.com/webpack-contrib/style-loader/releases/tag/v1.1.2, please leave feedback

[2019-12-25 13:13] davidlougheed commented on #445
thanks for taking a look!

[2019-12-25 14:34] ybiquitous commented on #445
Thank you!

[2019-12-25 17:36] Hypnosphi opened #450 "1.1.2 injects the same stylesheet more than once"
- Operating System: macOS Catalina
- Node Version: 12.13.1
- NPM Version: 6.12.1
- webpack Version: 4.41.4
- style-loader Version: 1.1.2

### Expected Behavior

Each stylesheet gets injected only once

### Actual Behavior

Stylesheet gets re-injected each time it's imported from another stylesheet

### How Do We Reproduce?

https://github.com/Hypnosphi/style-loader-duplicates

[code]

Open http://

[2019-12-25 17:45] evilebottnawi commented on #450
It is expected, you have two `./common.css` imports:
- https://github.com/Hypnosphi/style-loader-duplicates/blob/master/a.css#L1
- https://github.com/Hypnosphi/style-loader-duplicates/blob/master/b.css#L1

It is required for right order, for example you can include on `a.css` or `b.css` content:
[code]

Without double including we break css `@import` logic (described in css spec)

[2019-12-25 17:47] evilebottnawi commented on #450
For example, you have:

**index.html**

[code]

**order-1.css**

[code]

**order-2.css**

[code]

recreate that example and look in dev tools, each `@import` applies to style

[2019-12-25 17:48] evilebottnawi commented on #450
Yes, it was changed because before it was invalid

[2019-12-25 19:21] Hypnosphi commented on #450
I see. May there be a sense in keeping only the _last_ include, as it overrides all the previous ones anyway?

[2019-12-25 19:29] Hypnosphi commented on #450
Actually, changed order is what led me to discovering this issue. E.g., if you add this to `a.css`

[code]

`<div class="foo bar" />` will still be blue, because `common.css` comes once again from `b.css` import. But it's the same with native `@import`, so I got the point.

[2019-12-26 09:34] evilebottnawi commented on #450
@Hypnosphi

It is potential unsafe and broke how `@import` should works

Right, it’s good that you found this problem, the same styles may seem like a mistake, but this is the correct insertion algorithm, I can spend time and provide you with examples when the previous algorithm broke the import logic, yes it increases the page size a bit, but we should use the correct logic instead of a small red

[2019-12-26 18:06] krail commented on #450
In my case it ruins everything. I am using `css-modules/compose`.

Something like that:

common.css:
[code]

1.css:
[code]

2.css:
[code]

[code]

And now we will have `yellow` background color for `el1` instead of expected `red`.
Because 'composed' styles has been inserted twice.

[code]

Second common style has override `.selector1` background color.

[2019-12-27 10:17] jeffijoe commented on #450
@evilebottnawi I have the same issue due to using CSS Modules `composes`. I built a reproduction repo here: https://github.com/jeffijoe/webpack-css-dupe-bug

[2019-12-27 10:23] evilebottnawi commented on #450
Yep, it is bug, looking for solution

[2019-12-27 10:33] evilebottnawi commented on #450
Problem what css `@import` have other order logic than css modules `composes`, and if we return previous behavior we break logic for css `@import`, but new behavior break logic for `composes`, maybe we can mark `composes` modules and do other logic

[2019-12-27 10:34] jeffijoe commented on #450
I think that makes sense. 😄

[2019-12-27 13:04] Hypnosphi commented on #450
What about `@value`? Should it behave as `@import`, or as `composes` do?

[2019-12-27 13:21] evilebottnawi commented on #450
@value like `@import` and should works fine

[2019-12-27 14:44] Hypnosphi commented on #450
I'm asking because in our codebase, we mostly import a classname as `@value` before composing:

[code]

[2019-12-28 12:04] tluanga34 commented on #143
Your comment just saved me.

[2019-12-30 14:25] evilebottnawi commented on #450
I found solution, I can not be in time because of the holidays (but I will try to make it in time ), I really apologize

[2019-12-30 14:26] jeffijoe commented on #450
@evilebottnawi thank you for your hard work! Enjoy the holidays!

[2020-01-07 15:05] Kasensil opened #454 "Question about insertAt in options of style-loader"
Thank you for reading my question! I am a beginner, in the process of learning encountered a little problem I hope you can explain!Why can't I implement this using '**insertAt**' as the webpack documentation says instead of inserting my style at the top of the 'head' using the function in the project(as you wrote in the documentation)? In the webpack documentation, 'insertAt' is an option paramete

[2020-01-07 15:08] anikethsaha commented on #454
Its `insert` , not `insertAt`.
ref this https://github.com/webpack-contrib/style-loader#insert

[2020-01-07 15:14] Kasensil commented on #454
But I don't want to use **insert** to change the position of the insert tag but their position in the 'head' tag, so the default is bottom and I want to change it to top

[2020-01-07 15:16] Kasensil commented on #454
So is **insert** the same thing as **insertAt**?

[2020-01-07 15:18] anikethsaha commented on #454
I am not sure where you saw insertAt.? can you share the link where you saw that ?

as far as `insert` is a concern, it will change the position of inserting the tag as per the option passed.

[2020-01-07 15:23] Kasensil commented on #454
In a Chinese document... Is this out of date?[https://www.webpackjs.com/loaders/style-loader/#insertat](url)

[2020-01-07 15:28] anikethsaha commented on #454
strange !!
Yup, thats wrong/outdate
Also, if you want to refer the webpack's Chinese docs , refer this one https://webpack.docschina.org/

[2020-01-07 15:28] Kasensil commented on #454
[https://www.webpackjs.com/loaders/style-loader/#insertat](url)
In a Chinese document... Is this out of date?

[2020-01-07 15:29] anikethsaha commented on #454
Yess. They didnt update the changes.

[2020-01-07 15:33] Kasensil commented on #454
Thank you very much! So insertAt doesn't work anymore, does it?

[2020-01-07 15:35] anikethsaha commented on #454
no, if you are on latest version of `style-loader` it wont work. use `insert`

[2020-01-07 15:38] Kasensil commented on #454
Very grateful! Thank you so much!

[2020-01-07 15:39] anikethsaha commented on #454
Glad to help 😃

[2020-01-07 15:50] anikethsaha commented on #454
you can close this issue

[2020-01-07 16:02] Kasensil commented on #454
ok😄

[2020-01-07 16:08] Kasensil commented on #454
ok😄

[2020-01-07 16:08] #454 closed

[2020-01-08 15:26] jquense commented on #450
I'm not sure how the old behavior was incorrect, It looks wrong when you write normal css imports but that's not the expected behavior of modules or the dependencies in webpack. In general we usually assume that a required module is only imported the _first_ time as is the case with JS. It's impossible now for dependeny order to be correct for css files that depend on each other.

Consider this ca

[2020-01-08 15:29] jquense commented on #450
I guess all i'm saying is, trying to match the css import spec seems lik the wrong thing to do, at least as a default. I don't think it's possible for css to interoperate with js in the way webpack has defined without it treating css imports with the same rules as the rest of the dependency graph

[2020-01-08 15:45] Hypnosphi commented on #450
@jquense Imports from JS seem to work as they did before: https://github.com/Hypnosphi/style-loader-duplicates/tree/import-from-js

<img width="260" alt="Screenshot 2020-01-08 at 16 43 15" src="https://user-images.githubusercontent.com/6651625/71992743-32cadd80-3236-11ea-84f5-edb5a1abf88d.png">

[2020-01-08 16:01] jquense commented on #450
Hmm interesting! I'm definitely not seeing that, maybe i can turn it into a repro,

[2020-01-08 16:03] jquense commented on #450
O i see, yeah the trigger is css-modules, BUT in our case it's absolutely due to a `@value` import, so i'd add that they are intend a problem here as well not just `composes`

[2020-01-08 17:11] jquense commented on #450
@evilebottnawi does it make sense to have an additional concept in css-loader that marks things as  dependencies but not css imports? TBH it seems strange that `style-loader` doesn't just insert the style for the single file it's loader, instead b/c `css-loader` returns it's css _as well_ as any of it's dependencies, `style-loader` seems to assume that the js entry for a css import results in a co

[2020-01-09 09:50] evilebottnawi commented on #450
@jquense it is bug, i will fix it in near future, there was a vacation and I unfortunately did not have time, sorry

[2020-01-09 15:49] jquense commented on #450
no worries, i've realized i'm in the same boat for old versions as well. Please don't rush, enjoy vacation.

[2020-01-15 04:14] weilinzung opened #455 "After v0.23.1, it is not working correctly with BroswerSync Style Injection"
Issues are so 🔥

With older version `v0.23.1`, default with Webpack would create `blob` link type style injection. Which works great with `BroswerSync` auto-style injection without FULL-PAGE reload. With the latest `style-loader` version, `BroswerSync` would full reload the page when CSS is updated.

- Operating System:
- Node Version: v11.13.0
- NPM Version: 6.7.0
- webpack Version: 4.41.5
- styl

[2020-01-15 11:11] evilebottnawi commented on #455
Please open issue in `BroswerSync`

[2020-01-15 11:11] #455 closed

[2020-01-17 15:16] evilebottnawi commented on #450
Partial fixed, but some cases still broken (it was broken in previous versions too):
- same `@import` in two difference files collapsed in one so order can be potential invalid, we should fix it in css-loader, maybe add 4th argument for all `@import`, it is allow to distinguish css modules import from `@import`
- When you use HMR and remove `@import` then insert new `@import` it can create an inva

[2020-01-17 15:18] evilebottnawi commented on #450
Please test https://github.com/webpack-contrib/style-loader/releases/tag/v1.1.3 and put feedback here, should be work fine in 99% cases

[2020-01-17 15:26] krail commented on #450
My case https://github.com/webpack-contrib/style-loader/issues/450#issuecomment-569104644 looks like is solved. Will test it additionally. Thank U!

[2020-01-21 23:40] amid2887 opened #457 "Invalid placement of "CSS @import rules" when injectType is singletonStyleTag."
- Node Version: 10.17.0
- NPM Version: 6.11.3
- webpack Version: 4.41.5
- style-loader Version: 1.1.3

### Expected Behavior

CSS `@import` rule should be placed at the very top of CSS, before any rules.

### Actual Behavior

CSS `@import` rule is placed between styles.

### How Do We Reproduce

[Playground with example](https://codesandbox.io/s/objective-brook-nqzsn).

You have a few css files.
[

[2020-01-22 10:42] tmkn opened #458 "Custom attributes setting doesn't respect media"
- webpack Version: 4.41.5
- style-loader Version: 1.1.13

I'm updating style-loader from 0.20.3 to 1.1.13
One of the changes I needed to do was to rename attr to attributes, however this doesn't write out the media attribute anymore (they are written out with with injectType: linkTag but not with the default setting aka injectType: styleTag ):
[code]
to
[code]
### Expected Behavior
style tags cont

[2020-01-22 12:35] evilebottnawi commented on #458
I will fix it, but my recommendation do not use the `media` attribute and refactor a code base using `@media {}` and code splitting, in next major release setup the `media` attributes will has no effect

[2020-01-22 12:37] evilebottnawi commented on #457
We prepare next major release and will remove `singleton` support so better start to migrate on `styleTag`

[2020-01-22 21:22] amid2887 commented on #457
Okaaay...

[2020-01-22 21:22] #457 closed

[2020-01-26 11:55] chybisov commented on #422
@evilebottnawi do you have any updates on this? :) Thank you!

[2020-01-27 10:09] evilebottnawi commented on #422
@chybisov right now no, sorry, we have new HMR api for webpack@5, maybe we should start to backport it for webpack@4

[2020-01-27 21:32] Hypnosphi commented on #450
Thanks @evilebottnawi. It mostly works, but not in a case when B composes from A, and C composes from both A and B:

I updated https://github.com/Hypnosphi/style-loader-duplicates to reproduce this case. `<div class="${baz}">baz</div>` should be red, but it's blue

[2020-01-28 14:22] evilebottnawi commented on #450
@Hypnosphi please update `css-loader` to `^3.4.2`, we have some regression on `css-loader` side, thanks!

[2020-01-28 16:16] Hypnosphi commented on #450
I can confirm that it's fixed with `style-loader@1.1.3` and `css-loader@3.4.2`

[2020-01-28 16:18] evilebottnawi commented on #450
Let's keep open for some other edge case (https://github.com/webpack-contrib/style-loader/issues/450#issuecomment-575667070), I think I will fix it in next week, anyway thanks for the issue

[2020-01-29 18:34] krail opened #459 "esModule option behaviour"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- style-loader Version:

### Expected Behavior

When `esModule` option set `true` all css imports has to have module syntax in bundle.

### Actual Behavior

Only one import has module syntax. Other has common-js syntax.

### Code

[code]

[code]

Looks like this code break it:
https://github.com/webpack-contrib/style-loader/blob

[2020-01-30 10:21] evilebottnawi commented on #459
Yes, it is expected and it will be breaking change in next version

[2020-01-30 10:21] #459 closed

[2020-01-31 16:57] Grsmto commented on #303
@alvaro-escalante does that mean it's a React Dev Tools issue? I searched but I didn't find any issue reported on their repo.

[2020-02-01 02:14] elliottregan commented on #303
It's not a React Dev Tools problem. This issue has more info and discussion: https://github.com/webpack/webpack/issues/1194

[2020-02-02 19:35] alvaro-escalante commented on #303
Actually even thou it was React dev tools that affected my sourcemaps on firefox, it turned out to be a setting on my package.json that trigger the the style-loader to not work properly.

It was the -D flag on dev script. Once I remove that it worked well with this

[code]

[2020-02-04 23:51] elliottregan commented on #303
I am not using a `-D` flag, and I can't find it mentioned in the docs. I've only seen that for `npm i -D package-name`.

Any idea what that could have been interpreted as?

It's confusing me because this doesn't really match what others have discovered, unless it is triggering some unexpected behavior. There are definitely race conditions that cause it to work occasionally, and maybe an errand fla

[2020-02-11 19:49] egucciar commented on #422
As we're using a new api introduced in 1.x, we unfortunately cannot downgrade `style-loader` to get HMR. Any advice would be greatly appreciated to get this.

[2020-03-03 13:41] flipcc opened #461 ""ReferenceError: document is not defined" when using require() from html file"
**Edit: Changed config to browser target in response to [this comment](https://github.com/webpack-contrib/style-loader/issues/461#issuecomment-593957042). Problem persists.

- Operating System: Windows10
- Node Version: v12.14.0
- NPM Version: 6.13.4
- webpack Version: 4.41.5
- style-loader Version: 1.1.3

### Expected Behavior

Require the css file from index.html and have webpack -> file-loader

[2020-03-03 13:44] evilebottnawi commented on #461
Do not use `style-loader` and `file-loader`, use `style-loader` for browsers target and `file-loader` for node target

[2020-03-03 13:51] flipcc commented on #461
@evilebottnawi Combination of *css-loader* and *style-loader* does also not work. But you are still right in your remark concerning the build target. I updated my issue description and linked to your comment.

[2020-03-03 13:57] evilebottnawi commented on #461
The error `document is not defined` say that your environment is not a browser where `document` is unavailable. Why you include `${require('../style/main.css')}` in html? `HtmlWebpackPlugin` generated `script` and `link` tags by itself, you don't need it

Your problem is not same

[2020-03-03 14:07] flipcc commented on #461
@evilebottnawi Ok, i understand your question. So till now we had a line like `import './style/main.css` in our every index.js/js entry script. But the line felt never right in this place. So I got the task of moving the import from the index.js/entry script into the head of the index.html file. I constructed the above example case, where index.js/the entry script is clear, but now the error about

[2020-03-03 14:17] evilebottnawi commented on #461
Can you clarify what do you want? If you need extract styles, please use https://github.com/webpack-contrib/mini-css-extract-plugin.

The `template` option for the `HtmlWebpackPlugin` plugin requires interpolate variables on node side, but you use `style-loader` and it is include browsers code for the node environment (`${require('../style/main.css')}` transforms into `browser` code), so you got t

[2020-03-03 14:19] flipcc commented on #461
Ah ok. Yeah of course require-->node! Thank you so much. Really had a blind spot there.
Have a nice day.

[2020-03-03 14:19] #461 closed

[2020-03-08 10:43] wind4gis commented on #422
I can't use style-loader hot update, it sends an empty array by websocket while I modify the scss...is there anything we can do or only the way downgrading to v0.23.1 ??

[2020-03-08 11:03] wind4gis commented on #422
emm...I use the `"@hot-loader/react-dom": "^16.12.0"` and `"react-hot-loader": "^4.12.19"`, and I downgrade to v0.23.1...but hmr still not work, whatever I use normal css or css module...

[2020-04-09 02:16] babyhuangshiming opened #462 "cssText will drop css vars in ie9 and ie10"
[code]
in the applyToTag method, if my css has something like {backgroundColor: var(--backgroundColor)} css vars thing,  cssText will dropped the css vars in ie9 and ie10，so we can't use cssVarsPonyfill thing, so base on that, can export a option's function before style.styleSheet.cssText = css; so i can do something myself to make the code looks normal in ie9 and ie10

[code]

[2020-04-09 05:49] mahaina commented on #462
Because of a theme changing scenario, we need to change css variables at runtime.
We want to use a [css-vars-ponyfill](https://github.com/jhildenbiddle/css-vars-ponyfill/) to support legacy IE versions. But I needs the stylerules to be appended to dom or give us a chance to transform the css at runtime

[2020-04-17 01:55] simpleshadow commented on #256
Now in 2020, was having this issue with `style-loader`. Switched `to-string-loader` (as suggested by @simonLouvet) and got it working.

Also tried `raw-loader` but wasn't working with `postcss-loader`.

Building a Chrome extension where style encapsulation is necessary for an overlayed `react` app injected via content script. Shadow DOM has been the only successful way of isolating styles for our

[2020-04-21 19:56] chybisov commented on #422
@evilebottnawi great news! Will you be able to implement this in the near future? Thank you!

[2020-04-21 22:51] Timer commented on #422
I believe something along these lines would fix the behavior for webpack 4.43+:
[code]

[2020-04-22 10:42] evilebottnawi commented on #422
I will implement it today

[2020-04-22 10:43] evilebottnawi commented on #462
IE 9  and IE 10 is officially outdated, why do you need it?

[2020-04-22 16:07] evilebottnawi commented on #422
Release will be tomorrow, need write a lot of tests

[2020-04-24 12:26] #422 closed

[2020-04-24 12:28] evilebottnawi commented on #422
Do not forget that change locals (for example change `@value v-color: red;` to `@value v-color: blue;`) still require full page reloading, because we don't know your logic in component(s), for react you can use `react-hot-loader`

[2020-04-26 03:37] Liar0320 commented on #459
Is it working properly now。
I also have the same problem now。

[2020-04-26 19:06] phaistonian commented on #422
It seems that the issue is still there - for me.

Changing a .styl file still triggers a full-page reload whereas this was not the case in version < 1.0.0.

[2020-04-27 07:40] phaistonian commented on #422
@evilebottnawi As noted in my previous comment, I had to downgrade to 0.23.1 - again.

It seems the newest version did not the trick.

[2020-04-27 10:01] chybisov commented on #422
@phaistonian for css and scss file it works great.

[2020-04-27 10:03] phaistonian commented on #422
@chybisov  I am quite sure this has nothing to do with stylus (and stylus loader) because the input to style loader is always CSS (string).

[2020-04-27 10:43] evilebottnawi commented on #422
@phaistonian Please create reproducible test repo

[2020-04-28 02:30] phaistonian commented on #422
@evilebottnawi Busy times down here - so it might take a while.

Note that the error, this time, is not `Ignored an update to unaccepted module` but that webpack does not know how to handle an update on a module or on one of its parents.

[2020-04-28 04:30] rhendric opened #467 "lazyStyleTag breaks HMR"
- Operating System: Arch Linux
- Node Version: v13.13.0
- NPM Version: 6.14.4
- webpack Version: 4.43.0
- style-loader Version: 1.2.0

### Expected Behavior

When a CSS stylesheet is loaded via `style-loader` and `injectType: 'lazyStyleTag'`, and HMR is enabled, updating the stylesheet file should result in the style being hot replaced in the browser, regardless of the current state of the `use`/`

[2020-04-28 11:29] evilebottnawi commented on #422
@phaistonian Sorry without reproducible test repo I can't help

[2020-04-28 11:47] evilebottnawi commented on #467
Thanks for the issue, it is bug, WIP

[2020-04-28 13:31] #467 closed

[2020-04-28 17:12] rhendric commented on #467
Thank you for a fast fix and release! 1.2.1 works for me.

[2020-05-08 11:47] tec27 commented on #427
A workaround to this that seems to work for me is to set the value via a `DefinePlugin`, e.g.

[code]

This results in all usages in all files being replaced with the reference to the window field, even when hot reloading. This plugin is before `HotModuleReplacementPlugin` for me, unsure if that makes a difference or not.

[2020-05-08 19:06] weschege commented on #461
@flipcc could you please explain this comment "require-->node!" I am having a similar issue with my webpack implementation.

[2020-05-09 01:56] mahaina commented on #462
We found there are still outdated browsers request. And we don't want to lose them...

[2020-05-09 16:47] flipcc commented on #461
With 'blind spot' or 'require--->node' I am referring to the fact, that I wrote `import ... `, as my mind was still in the web browser. But now with webpack I was working on the server-side/in Node.js. And this means I did have to use `require ...`.

Of course there is a new version of Node.js that supports import/ES Modules, but it is not a LTS version.

Hope this helps.

[2020-05-10 06:54] oustn commented on #216
Simple temporary solution without modily the lib（version 0.23.1）：

- ./build/loader.js

[code]

- webpack config

[code]

The loader output code will be like:

[code]

The element in header:

![image](https://user-images.githubusercontent.com/16217347/81492797-6a719100-92cd-11ea-92b7-776882a675e7.png)

[2020-05-12 05:39] davidbwaters opened #469 "Not splitting style tags, incomplete output, missing styles"
- Operating System: Windows 10
- Node Version: 14.1.0
- NPM Version: 6.14.4
- webpack Version: 4.43.0
- style-loader Version: 1.2.1

### Expected Behavior

All imported CSS would be inlined and split between style tags.

### Actual Behavior

In production mode, all the CSS is included in a minified block.  When in development mode, the code is formatted normally but most of it is missing.  If I lo

[2020-05-12 12:51] evilebottnawi commented on #469
What is missing? One css module === one style tag, no splitting

[2020-05-12 13:29] davidbwaters commented on #469
If you clone and open the index of the dev version. inspect it and you'll see most styles aren't inserted

[2020-05-12 13:33] evilebottnawi commented on #469
What styles are missing?

[2020-05-12 13:34] davidbwaters commented on #469
![image](https://user-images.githubusercontent.com/5247627/81698011-6d869180-9433-11ea-8edc-86fa143ba00b.png)

[code]

[2020-05-12 13:34] #469 closed

[2020-05-20 10:55] tooltonix commented on #427
I had the same problem - first fixed with this solution.

[2020-05-20 11:08] tooltonix opened #470 "Identify StyleTag via an attribute"
Hello,

I currently have the problem that we use two CSS files:
the first one is for the mobile version and the second one for the desktop version, which uses a media query. Both files get different media queries, so I have to identify them during the development process in Webpack. So I used a very old [fork ](https://github.com/bukuta/style-loader#attrs) from the StyleLoader, which could pass th

[2020-05-20 11:10] evilebottnawi commented on #470
Duplicate https://github.com/webpack-contrib/style-loader/issues/216, please don't ignore the issue template

[2020-05-20 11:10] #470 closed

[2020-05-28 11:10] webpack-bot opened #471 "CSP, inline style nonce not set"
# Bug report

**What is the current behavior?**
On page load `__webpack_nonce__` has a value, in `injectStylesIntoStyleTag.js` adding nonce to inline style is not done and it fails to add inline style at line 130 in very strange fashion. Although at line 110 `__webpack_nonce__` has a value, after ternary operation nonce is undefined. Please check image from debuger https://snipboard.io/cqfYLC.jpg

[2020-05-28 11:10] evilebottnawi commented on #471
@sasha-3ap Can you create reproducible test repo?

[2020-05-28 11:55] sasha-3ap commented on #471
@evilebottnawi I will close this issue as I found working solution that does not rely on `__webpack_nonce__`.

[2020-05-28 12:00] evilebottnawi commented on #471
@sasha-3ap Maybe we have a bug on our side, will be great to get more information to avoid problems for other developers

[2020-05-28 12:12] sasha-3ap commented on #471
@evilebottnawi It is not easy to setup test repo because of specific setup we have with nginx serving app with csp headers and generating nonce. But if there is a way I would be happy to show the case in online session.

[2020-05-28 13:11] evilebottnawi commented on #471
@sasha-3ap Maybe you can capture a video?

[2020-05-31 10:49] Sympath opened #472 "”insertAt: top“ throws an exception when packaging"
[code]
When learning webpack, If I want to put the compiled CSS at the top of the page, like the document configuration, it will fail to pack
[code]
But I have the same configuration as the official website, so I am confused, is there any solution?

[2020-06-01 11:31] evilebottnawi commented on #472
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please read docs - https://gith

[2020-06-01 11:31] #472 closed

[2020-06-08 04:57] nicomfe commented on #450
Im using scss modules, getting duplicate inline css with these versions

"style-loader": "1.2.1"
"css-loader": "3.5.3"
"sass-loader": "8.0.2"

Please let me know if you need other info

[2020-07-02 11:45] evolverine commented on #430
Sure, but this way one can't process the urls inside the css, no? Or am I missing something?

[2020-07-02 12:21] evolverine commented on #430
Found a solution to my issue, using [extract-loader](https://webpack.js.org/loaders/extract-loader/)

[code]

[2020-07-20 21:58] erezactionbar commented on #216
any news regards webpack placeholders? I'm tryinig to insert the file name as a source attribute and [name] is being ignored...

[2020-07-25 16:48] evilebottnawi commented on #471
Closing due to inactivity. If you still have an issue, please open a new issue with reproducible test repo. Sorry, I can't reproduce

[2020-07-25 16:48] #471 closed

[2020-07-25 16:52] evilebottnawi commented on #287
Sorry out of scope `style-loader`, we don't create `link` tag, so no `onload`, if you need to loading styles asynchronously you can use `import().then()`

[2020-07-25 16:52] #287 closed

[2020-07-25 16:59] evilebottnawi commented on #303
Still broken :disappointed:

[2020-07-25 17:06] evilebottnawi commented on #303
Sorry for delay, looks reasonable https://github.com/webpack-contrib/style-loader/issues/303#issuecomment-547223707, I will look at this deeply

[2020-07-25 20:18] loganfsmyth commented on #303
@evilebottnawi Are you sure it's still broken? I think https://bugzilla.mozilla.org/show_bug.cgi?id=1607639 has fixed this. When I run the reproduction example, I see SCSS files in the style editor in FF.
<img width="686" alt="Screen Shot 2020-07-25 at 1 17 17 PM" src="https://user-images.githubusercontent.com/132260/88465612-739ef100-ceff-11ea-96fa-621cbb5bf4f5.png">

[2020-07-27 12:52] evilebottnawi commented on #303
Strange, I reproduce this problem on FF? Can you provide version of FF?

[2020-07-27 12:58] mbalaam commented on #303
@evilebottnawi I found I had less problems with Firefox if I set this in my plugin settings:

`     new webpack.SourceMapDevToolPlugin({
        filename: false, //inline all source maps - best Firefox compatability
      }),
`

[2020-08-02 02:30] minhtranite commented on #303
It seems that now it's works on Firefox 79

![image](https://user-images.githubusercontent.com/5418628/89114049-a4a09800-d4a2-11ea-8b55-c0e59680cb01.png)

[2020-08-05 15:11] dangreen opened #475 "Incorrect handling of esModule option"
[code]

`loaderUtils.getOptions` doesn't copy options, just returns original object (`loaderContext.query`).

`esModule` option will be removed after first loader call, so farther calls will produce commonjs exports.

It breaks `require` imports:

[code]

Reproduction of this bug can be unstable, I think it caused by webpack's internal optimizations.

[2020-08-05 15:15] evilebottnawi commented on #475
Please use the issue template in future

[2020-08-05 15:17] dangreen commented on #475
I think I can make PR with fix.

[2020-08-05 16:33] evilebottnawi commented on #475
Fixed in the master

[2020-08-05 16:33] #475 closed

[2020-08-05 16:34] dangreen commented on #475
@evilebottnawi How soon release with this fix will published?

[2020-08-05 16:36] evilebottnawi commented on #475
I hope near future, we want to do mini-css-extract-plugin and style-loader releases together (set `esModule: true`), otherwise it can create problems for developers

[2020-08-05 16:39] dangreen commented on #475
👌

[2020-08-06 19:32] scottdotjs opened #477 "Document relationship to css-loader"
Documentation Is:

- [X] Missing
- [ ] Needed
- [X] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

The documentation says "It's recommended to combine mini-css-extract-plugin with the css-loader" without any further explanation. Why is it recommended, what happens if you do, what happens if you don't?

### Your Proposal for Changes

Please add an explanation. Thank you!

Note: I opene

[2020-08-07 10:00] evilebottnawi commented on #477
Because you can use any custom loader, but we recommended to use `mini-css-extract-plugin`, what is unclear?

[2020-08-07 10:02] evilebottnawi commented on #477
I don't know, because I don't know what loader you will use

[2020-08-07 11:45] scottdotjs commented on #477
I'm not sure how to answer that without repeating my original question, which you quote. _Why_ do you recommend it? What benefit does it bring over other loaders? For someone that's trying to learn the Webpack ecosystem, the documentation creates questions that are difficult to answer, instead of providing context that allows decisions to be made.

Neither do I, which is the problem. The fact that

[2020-08-07 12:19] evilebottnawi commented on #477
@scottdotjs I am afraid that this is actually difficult to explain in a few words and will require a lot of information - CJS/ES modules/CSS/internal loaders works/inject styles on DOM, extracting and splitting modules, I'll just delete this line so that there are no unnecessary questions. If you start to work with webpack style-loader/mini-css-extract-plugin + css-loader is the best choice

[2020-08-07 12:22] evilebottnawi commented on #477
You can replace css-loader on own implementation, but it is not required in 99,99% cases, so if you want to implement an own loader instead css-loader, then you already know very well

[2020-08-08 11:30] scottdotjs commented on #477
OK - thank you. :)

[2020-08-08 11:30] #477 closed

[2020-08-15 03:36] Imran109 opened #480 "Supportable for ReactJS?"
I tried to build a create-react-app using `npm-run-build` it doesn't seem to inline all the css files to a single HTML file. What I want to achieve is that I  want all external css files imported inside the components to be inlined into a single HTML file during build.

[code]

[2020-08-17 12:05] evilebottnawi commented on #480
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-08-17 12:05] #480 closed

[2020-08-27 14:25] evilebottnawi commented on #303
Fixed in Firefox 79, It's been a long time, anyway I want to test it on other browsers, maybe we really can improve it

[2020-09-02 02:04] JasonWoof opened #481 "preserve toString() from css-loader"
### Feature Proposal

Normally I use both css-loader and style-loader as is generally suggested:
[code]
This has worked well for projects without iframes.

Now I have a project where I have some normal content, and some content that needs to be inside an iframe.

I would like to be able to add this CSS into the iframe also.

If I remove 'style-loader' from my loader spec, I can add it to an iframe

[2020-09-02 02:18] JasonWoof commented on #481
oh, without `style-loader` I can access the class names via `css.locals.myClassName` instead of `css.myClassName`.

So my workaround can be to remove `style-loader`, use the move verbose syntax with `.locals` in it and insert the CSS into the document and iframe myself.

I still think this feature would be cool though, for people who want the css on the page automatically, and also want access to

[2020-09-02 05:28] evilebottnawi commented on #481
You want to implement `to-string-loader` in `style-loader`, we have same idea https://github.com/webpack-contrib/style-loader/issues/328#issuecomment-516437065, especial for shadow DOM

[2020-09-02 05:29] evilebottnawi commented on #481
Let's close in favor https://github.com/webpack-contrib/style-loader/issues/328#issuecomment-516437065, feel free to feedback

[2020-09-02 05:29] #481 closed

[2020-09-02 17:58] JasonWoof commented on #481
I don't understand. First can we make sure we're on the same page of what "css modules" are? When I google that I mostly get css-loader and the like. w3c calls 8-billion different spec documents "css modules" so it's tricky to find.

I found this though: https://github.com/w3c/webcomponents/blob/gh-pages/proposals/css-modules-v1-explainer.md

Is that what you're talking about?

As I understand it,

[2020-09-02 18:10] evilebottnawi commented on #481
Yes, we don't want to change it on default value, we will implement option for this

[2020-09-09 03:15] wegry opened #483 "css-loader namedExport seems to break import-ability of exported classes"
- Operating System: macOS 10.14
- Node Version: 12.16.1
- NPM Version: yarn@2.2.2
- webpack Version: 5.0.0-beta.29
- css-loader Version: 4.3.0

### Expected Behavior

Importing from a css-module with the config

[code]

should result in locals exported being available when imported with `import * as s from './index.module.css`.

### Actual Behavior

`console.log(s)` with the wildcard import above

[2020-09-14 14:03] info-bit commented on #483
Do you have planned this implementation anytime soon?

[2020-09-14 14:44] evilebottnawi commented on #483
@info-bit Yes, this week

[2020-10-02 17:04] evilebottnawi commented on #483
Sorry for delay, a lot of work with webpack@5 :disappointed: WIP

[2020-10-03 15:35] #483 closed

[2020-10-04 00:40] joshxyzhimself opened #487 "entry csp nonce bug"
### Environment

- os: Linux
- node 14.4.0
- webpack 4.44.2
- style-loader 1.2.1

### Expected Behavior

- following the csp nonce guide works at https://webpack.js.org/loaders/style-loader/#nonce

[code]

[code]

### Actual Behavior

- but then if we inline the `__webpack_nonce__` assignment in the entry, it acts weird

[code]

### How Do We Reproduce?

- can't produce a repro in a repo (lol that

[2020-10-04 00:42] joshxyzhimself commented on #487
- also possibly related to https://github.com/webpack-contrib/style-loader/issues/306

[2020-10-05 09:41] evilebottnawi commented on #487
Sorry without reproducible test repo I will not help

[2020-10-05 13:25] joshxyzhimself commented on #487
No worries, my understanding though is that all imports are executed first before all the other code in the entry script.

I think the order if imports is preserved, but not the order of the imports along with other code in a certain jsx file - in which case the imports always get executed first.

If that's the case, it's not really a bug with style-loader, maybe it's just how webpack-transpiled c

[2020-11-09 21:29] Mistik opened #493 "Module"
Hi

I saw you are using the detect-node module.

Actually this module is about to be depreciated so I would suggest moving to the nodejs-detector module instead. No API changes needed!

[2020-11-10 11:15] #493 closed

[2020-12-06 14:23] AnshulNautiyal commented on #461
For me, the error was that I am using "style-loader" in webpack.server.config.js. which is wrong.
"style-loader" should be used in webpack.client.config.js

[2020-12-06 15:06] adi518 commented on #205
How did you resolve this? I have a similar issue, where different apps, which bundle the same ui library inject the same style. I made haste to `style-loader` docs, thinking the `insert` may provide a content hash parameter I can use in runtime, but it doesn't, so I have to calculate the hash on runtime, which heavy and unnecessary.

[2020-12-06 16:35] adi518 commented on #216
I could really use this in runtime for caching. I have multiple apps bundling the same ui library, resulting in the insertion of the same CSS and really, they only seemingly possible way I can avoid that is by calculating a content hash in build-time and then pass it to the style tag with an attribute `data-hash`. WDYT? is there any other way to accomplish this?

[2020-12-08 14:51] adi518 opened #494 "Provide content hash to insert function"
- Operating System: `macOS`
- Node Version: `12.0.0`
- NPM Version: `6.14.8`
- webpack Version: `4.x`
- style-loader Version: `1.0.0`

### Feature Proposal
Provide a content hash argument to the `insert` function. This is useful for cases where manual caching is needed.

### Feature Use Case
Multiple applications loading to the same page, each within a shadow DOM, which requires a custom `insert`

[2020-12-08 15:00] alexander-akait commented on #494
It is impossible because content hash available only bundling

[2020-12-08 15:00] #494 closed

[2020-12-08 15:01] alexander-akait commented on #494
and you don't need to use this approach, you need `string-loader` for this and insert styles in shadow dom

[2020-12-08 15:41] adi518 commented on #494
Can you link to that loader? there's a bunch of them and it seems hard to find.

[2020-12-08 15:43] alexander-akait commented on #494
We have issue to implement this here + example with shadow dom, maybe I found time on this week to do it, we don't known content hash because module is processing and can be rewritten

[2020-12-08 17:30] adi518 commented on #494
I think Webpack has hooks to deal with that, so we can get the final code once all rewrites are done.

[2020-12-08 17:37] alexander-akait commented on #494
No we can't, you don't provide code and what you want to achieve, so I can say you how to solve, but using content hash here is bad idea

[2020-12-08 17:39] adi518 commented on #494
Ok, I'll provide more context soon.

[2020-12-10 15:16] adi518 commented on #494
Here's a digram that portrays our needs:

![image](https://gist.githubusercontent.com/adi518/8ba075c346ed612351088f81036f24d7/raw/8b6489a8d68ef24757e4e147d83342ffea41709f/shadowDomStyleAttachmentDark.svg)

[2020-12-13 13:34] adi518 commented on #494
@alexander-akait Can you have a look at my diagram and hopefully propose a better way to achieve this? I have an idea to write `postcss` plugin that will prepend a content hash as a comment to each file, but I'm already running into an issue where the comment gets stripped out.

[2020-12-14 12:41] alexander-akait commented on #494
Here example https://github.com/webpack-contrib/style-loader/blob/master/test/manual/src/custom-square.js, but here we need implement to-string export and insert value of import here https://github.com/webpack-contrib/style-loader/blob/master/test/manual/src/custom-square.js#L26, you should not use `head` for the shadow dom

[2021-01-02 15:21] Konrud opened #495 "Injects actual CSS rules into link's href (with injectType: "linkTag")"
style-loader injects actual css rules into href attribute of the link tag with injectType: "linkTag" option set

- Operating System: Windows 10
- Node Version: v14.15.1
- NPM Version: 6.14.8
- webpack Version: 5.11.1
- style-loader Version: 2.0.0

### Expected Behavior

The loader should dynamically insert the <link href="path/to/file.css" rel="stylesheet"> tag at runtime via JavaScript.

### Actu

[2021-01-03 13:55] alexander-akait commented on #495
You should use `linkTag` only with file-loader or assets modules

[2021-01-03 13:55] alexander-akait commented on #495
We need improve docs

[2021-01-14 07:27] cenfun opened #496 "Low performance when applyToSingletonTag"
- Operating System: Windows
- Node Version: 14+
- NPM Version: 6+
- webpack Version: 5+
- style-loader Version:^2.0.0  latest

### Expected Behavior

high performance when load js in page

### Actual Behavior

![style-loader-low-performance](https://user-images.githubusercontent.com/334577/104557463-447e6680-567c-11eb-97d3-3722ccc1af6e.png)
1, big size css file with fonts or images
2, many of css

[2021-01-14 11:25] alexander-akait commented on #496
What do you mean?

[2021-01-17 16:20] #495 closed

[2021-01-25 19:02] mbenedettini opened #497 "Minification not working as expected"
Not sure if this is a bug or config issue.

- Operating System: Mac OS
- Node Version: 14.15.3
- NPM Version: 6.14.9
- webpack Version: 5.17.0
- style-loader Version: 2.0.0

### Expected Behavior

Using `mini-css-extract-plugin` the bare minimal css is extracted, as in https://github.com/mbenedettini/style-loader-css-minification/blob/master/dist-mini-css-extract-plugin/index.946970ea29e4224a08d1.

[2021-01-25 19:04] alexander-akait commented on #497
We need hook here... it is feature, anyway you can use `cssnano` as postcss plugin for `postcss-loader` as workaround

[2021-01-27 17:46] mbenedettini commented on #497
Thanks, the workaround is good but I was ending up with a larger bundle than in Webpack4 because it seemed that the same Antd styles were present in more than one chunk, like it was being duped somehow, and also the javascript in less that they use was not being minified.

I ended up just using `mini-css-extract-plugin` for now, thanks anyway for the quick response

[2021-01-28 00:56] slavafomin opened #498 "Style loader is not respecting the devtool option"
Hello! First of all, thank you for your amazing work.
I hope I was able to pinpoint the problem and I'm writing to a correct repository.

I'm using the following combination of loaders to treat my `*.scss` files:
- `sass-loader` (dart sass)
- `css-loader`
- `style-loader`

I'm making a production build and using the following options for Webpack:

[code]

And I can see that CSS sourcemaps are adde

[2021-01-28 10:20] alexander-akait commented on #498
`style-loader` doesn't work with the devtool option, you can look at code, we only inject them in style tags when they available https://github.com/webpack-contrib/style-loader/blob/master/src/runtime/injectStylesIntoStyleTag.js#L190

[2021-01-28 13:42] slavafomin commented on #498
@alexander-akait thank you for clarification. It corresponds with my understanding. However, how do I remove sourcemaps from the generated bundle then? I guess when developers are using the `hidden-source-map` option, they expect that sourcemaps wouldn't be added to the generated code. The current behavior looks very counter-intuitive and even dangerous. Is it possible for this plugin to actually

[2021-01-28 13:45] alexander-akait commented on #498
You can set `sourceMap: false` to `css-loader` right now

[2021-01-28 13:51] slavafomin commented on #498
If I do this, it will remove sourcemaps both from the `bundle.js` and from the `bundle.js.map` file. However, I want sourcemaps to be preserved in external `bundle.js.map` file.

[2021-01-28 13:53] alexander-akait commented on #498
No, it will remove source map only from CSS files inside JS files

[2021-01-28 14:07] slavafomin commented on #498
@alexander-akait I'm not sure I follow. When I'm **not** using `sourceMap: false` in `css-loader`, I'm getting sourcemaps in two places: in the `bundle.js` and in the `bundle.js.map`. When I'm setting it to `false`, I'm not getting any sourcemaps for CSS at all. Could you elaborate on that please?

All I want is external sourcemaps for my CSS, so the source code wouldn't be published to production

[2021-01-28 14:22] alexander-akait commented on #498
It is impossible, because CSS, source maps and runtime code for `@import`/`url()` inside `bundle.js` (i.e. JS file)

[2021-01-29 18:39] slavafomin commented on #498
As it's difficult to implement external sourcemaps for CSS and there is no really urgent need for this feature I've decided to just disable the sourcemaps on the `css-loader` level.

However, I still consider that it's an issue that the plugin ignores the `devtool` option when it comes to adding sourcemaps to the JavaScript bundle. This could lead to a source code leakage without authors really kn

[2021-02-11 15:17] maddhruv commented on #497
Hey @mbenedettini you can also use the CssMinimizerWebpackPlugin https://webpack.js.org/plugins/css-minimizer-webpack-plugin/ which does the minification using `cssnano` under the hood

[2021-02-24 04:56] #496 closed

[2021-02-24 04:56] cenfun commented on #496
close

[2021-04-06 16:49] nike1231 commented on #269
Hello everyone, can someone help me with the loading of this wordpress website ?

https://vedabooks.bg

I think it's the same issue, the wordpress theme is "storeship".

Is the plugin applicable here ?

The website is not mine, but I want to help the owner, he asked in another forum.

[2021-05-17 15:06] alexander-akait commented on #497
Close in favor https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/80, we will fix it in near future

[2021-05-17 15:06] #497 closed

[2021-05-20 10:10] rohitp-bsf opened #508 "Minify the SCSS to CSS and inject it into DOM"
Is it recommended to use style-loader in production mode? Also, I have implemented a style-loader in webpack and it works super perfectly but It loading with non minified version. Is there any way to minify the CSS and load it into the DOM?

[2021-05-20 12:33] alexander-akait commented on #508
Yes, you can use this loader in production.

Using `postcss` (`postcss-loader`) and cssnano as plugin, we have an issue to improve this https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/80,

[2021-05-20 12:33] #508 closed

[2021-06-07 04:16] rohitp-bsf opened #513 "Appropriate loader handler for specific file only."
I have configured the style-loader for lazyloading of SCSS files are it works superbly.

It causing the issue like `You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file.` though the file name is same for all modules but showing an issue for 2 files only.

- Operating System: Any
- Node Version: v14.8
- NPM Version:
- webpack Version:

[2021-06-07 10:11] alexander-akait commented on #513
Not reproducible, please provide all steps

[2021-06-21 13:46] alexander-akait commented on #513
Closing due to inactivity. Please test with latest version. Thanks!

Also you don't provide version of `style-loader`, so I can't say what is wrong, anyway feel free to feedback and I will try to help you.

[2021-06-21 13:46] #513 closed

[2021-06-23 17:58] alexander-akait commented on #462
Done https://github.com/webpack-contrib/style-loader/pull/511

[2021-06-23 17:58] #462 closed

[2021-06-23 17:58] alexander-akait commented on #201
Done

[2021-06-23 17:58] #201 closed

[2021-07-01 00:11] yelvert opened #517 "TypeError: this.getOptions is not a function"
Module build failed (from ./node_modules/style-loader/dist/cjs.js):
TypeError: this.getOptions is not a function
    at Object.loader (.../node_modules/style-loader/dist/index.js:18:24)

It looks like #501 dropped loader-utils as a dependency where this function came from, and instead tries to call this.getOptions which doesnt exist.

[2021-07-01 07:28] milu2003 commented on #517
How to solve it

[2021-07-01 07:31] milu2003 commented on #517
npm  i style-loader@2.0.0 -D

[2021-07-01 10:49] alexander-akait commented on #517
You need webpack v5 to use the latest version of style-loader, please read changelog

[2021-07-01 10:49] #517 closed

[2021-07-07 10:12] HuHguZ opened #518 "Style-loader duplicates insert function"
- Operating System: linux mint 20
- Node Version: v14.16.0
- NPM Version: 6.14.11
- webpack Version: 5.28.0
- css-loader Version: 3.0.0

### Expected Behavior

I expect that the style-loader will add the insert function to the bundle exactly 1 time.

### Actual Behavior

But in reality, this function is created for each css file and inserted as an expression, webpack cannot optimize it, because it

[2021-07-12 14:25] alexander-akait commented on #518
Partial fixed here https://github.com/webpack-contrib/style-loader/pull/520, anyway it is impossible to use custom function and include this only once, but we have solution `{ insert: require.resolve('./my-custom-style-function') }`, so you will not have multiple functions, WIP on this

[2021-07-12 18:07] #518 closed

[2021-07-12 18:08] alexander-akait commented on #518
Fixed https://github.com/webpack-contrib/style-loader/pull/521, note you need to use `insert: require.resolve('./path/to/insert.js')` to allow reduce size of runtime

[2021-07-13 01:13] david-minaya commented on #326
Any news with this? I'm having the same problem

[2021-07-13 09:47] alexander-akait commented on #326
Feel free to send a PR

[2021-07-16 06:39] Yegorich555 opened #523 "HMR does not work with webpack 5"
- Operating System: Windows 10
- Node Version: 14.15.0
- NPM Version: 6.14.8
- webpack Version: 5.44.0
- style-loader Version: 3.1.0

### Expected Behavior

HMR should work - should apply style-changes without reloading the page

### Actual Behavior

HMR doesn't work despite webpack see changed files and logs it into console

### Code

The whole configuration you can take a look here:
https://gith

[2021-07-16 11:48] HuHguZ commented on #518
thanks

[2021-07-16 17:41] alexander-akait commented on #523
Yep, here bug with `webpack-dev-server` v3 and webpack v5, you need to set `target: ['web']` (`target: ['web', 'es5']` if you need IE 11), we prepare webpack-dev-server v4, (hope, tomorrow I will do rc release, and stable on the next week) there it was fixed, sorry for this, sometimes it's not enough time to fix everything everywhere... Anyway feel free to feedback

[2021-07-16 17:41] #523 closed

[2021-07-16 19:31] sh-a-v commented on #523
Hmm
`target: ['web']` doesn't work
`target: 'web'` works

[2021-07-16 19:32] alexander-akait commented on #523
oh, yes, `target: 'web'`, anyway in near future we will do good release, in our roadmap also caches and bundless mode for dev server for speedup

[2021-07-20 14:52] Mesoptier opened #526 "Changes to `insert` module file do not trigger cache invalidation"
- Operating System: Ubuntu 20.04.2 LTS
- Node Version: v12.20.1
- ~NPM~ Yarn Version: 1.22.10
- webpack Version: 5.37.1
- style-loader Version: 3.1.0

### Expected Behavior

Changes to the module containing the `insert` function should be picked up by webpack and trigger cache invalidation.

### Actual Behavior

Changes to the module containing the function used for the `insert` option are not rec

[2021-07-20 15:03] Mesoptier commented on #526
Oops, I made a mistake! I thought my config applied style-loader for my `build` script, but of course it's only being applied in the `devserver` script. Since it works just fine in the DevServer script, I'll close this issue now :)

[2021-07-20 15:03] #526 closed

[2021-07-20 15:07] alexander-akait commented on #526
anyway we have small bug here, we should add path to file in build dependencies, will be fixed today

[2021-07-20 15:13] Mesoptier commented on #526
Isn't the path automatically added by webpack, since you're transpiling to `require`/`import` here?
https://github.com/webpack-contrib/style-loader/blob/6e70da0c5a37025510afe4f49ddeaf6c39daaa75/src/utils.js#L132-L138

[2021-07-21 17:47] #487 closed

[2021-07-21 17:50] alexander-akait commented on #487
Do you solve the problem?

[2021-08-03 20:03] Liedsonrm opened #530 "i can't download the module"
### Actual Behavior

yarn add v1.22.11
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@2.3.2: The platform "linux" is incompatible with this module.
info "fsevents@2.3.2" is an optional dependency and failed compatibility check. Excluding it from installation.
info fsevents@1.2.13: The platform "linux" is incompatible with this module.
info "fsevents@1.2.13" is an optional dep

[2021-08-04 10:43] alexander-akait commented on #530
Please update Node.js locally, you need `>= 12.13.0` version

[2021-08-04 10:43] #530 closed

[2021-08-25 07:53] ilovejs commented on #247
style-loader < 1.0.0 use singleton

[2021-09-14 14:47] #328 closed

[2021-09-14 14:52] alexander-akait commented on #328
There are two solution fr shadow DOM:
- https://github.com/webpack-contrib/style-loader#function, I will move this to example
- https://github.com/webpack-contrib/css-loader/pull/1368 will be finished today/tomorrow (no need style-loader, but require `CSSStyleSheet` support, you can polyfill this, I will provide example in css-loader), note for HMR you need to write it manually, I will provide sma

[2021-09-26 03:34] noscripter commented on #42
Since this loader don't care about ie8(the deprecated yet often needed to support version), the simplest solution is to include a missing polyfill as the follows:

[code]

It may varies depending on your specific situation, in my case, I use image assets which need to be converted to inline data uri so `URL` api polyfill is required here.

Good luck and hope it helps.

[2021-10-16 12:28] mozoh opened #543 "HMR does not work"
### Bug report

### Actual Behavior

HMR doesn't work despite webpack see changed files and logs it into console

### Expected Behavior

HMR should work - should apply style-changes without reloading the page

### How Do We Reproduce?

Just created a fresh webpack project, run via `webpack serve --mode=development`.

### Please paste the results of `npx webpack-cli info` here, and mention other re

[2021-10-17 13:06] #543 closed

[2022-02-04 17:19] crobinson42 commented on #205
@adi518 what was your solution? I'm in the same position.

[2022-02-04 20:08] adi518 commented on #205
@crobinson42 There was no ready-made solution because `style-loader` caters to a single app, not many. Alternatively, we can call these micro-frontends. So the solution was to build a Webpack plugin that takes care of style insertion (instead of using the default style insertion) and use it on every app/library within the eco-system of the company, this way we get control over the injection of eve

[2022-02-04 20:10] crobinson42 commented on #205
@adi518 Thanks - that's the rabbit whole I've gone down as well except for rollup.js 👌🏻. It's very surprising this isn't a larger issue in the community.

[2022-02-04 20:22] adi518 commented on #205
Here's a PostCSS plugin to get you started:

[code]

You may need to alter it since the plugin API changed a bit between some versions of PostCSS.

The other plugin, which takes care of insertion is a `style-loader` plugin. Aside from collating all injections through the same function, you can leverage it to add things like version attributes, which helps other developers look at the code and figu

[2022-02-04 20:24] crobinson42 commented on #205
@adi518 Thanks! I have a faster hashing function that doesn't use crypto-js, I wonder if that is important:

[code]

[2022-02-04 20:29] adi518 commented on #205
I tried a few of them and settled for a package and the MD5 standard, but that might be fine. Since it's all done in build-time, it may not be that important, unless, it bottlenecks the build somehow.

[2022-02-24 11:25] caub commented on #306
@plondon > you'll want to just set __webpack_nonce__ and not window.__webpack_nonce__

What's the difference?

[2022-02-24 14:26] ParSal123 opened #552 "What style-loaders expects as input?"
Documentation Is:

- [x] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
Hi,
In the docs, it reads

but it doesn't say anything about alternatives. I'm trying to learn how this whole webpack pipeline fits together. From what I can tell (based on [this](https://indepth.dev/posts/1176/this-is-how-angular-cli-webpack-delivers-your-css-styles-to-the-client), bunch

[2022-02-24 14:34] alexander-akait commented on #552
Pipeline is simple `CSS` -> `JS` -> `Apply styles to DOM`

- `css-loader` track `url()`/`import` and convert it to `import ... from ...`, also if you use CSS modules your classes will be hashed and exported from generated JS files, `css-loader` returns array of styles like `['module-name.css', '.class { color: red }', 'source-map']` (there are more fields, just simplified for example)
- `style-loa

[2022-02-24 14:35] alexander-akait commented on #552
So if you need another logic than apply styles to DOM you can use own loader, but it is rare or specific usage

[2022-02-24 15:57] ParSal123 commented on #552
Thank you,
Still, I think if this could be added to the docs somewhere (like a separate "How it works" section) along with a simple example it would be nice and more understandable.

[2022-03-07 19:24] AkhileshThite commented on #269
🚀 FIX:
This `[mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin)` will load your CSS before JavaScript.

Step 1:
Install mini-css-extract-plugin
[code]

Step 2:
Add `const MiniCssExtractPlugin = require("mini-css-extract-plugin");` in `webpack.config.js`.

Step 3:
Add `plugins: [new MiniCssExtractPlugin()],` in `webpack.config.js`.

Step 4:
Add this under rules in

[2022-03-12 14:32] andy1547 opened #554 "Is there a injectType=lazyStyleTag .use() & .unuse() equivalent when using css-loader + mini-css-extract-plugin"
Documentation Is:

- [ X] Missing
- [ X] Needed
- [ X] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

We maintain a SPA that loads pages dynamically in response to hash state changes. For page routing, we use the "Dynamic expressions in import()" feature to import individual page chunks (each chunk consists of HTML, JS and LESS). To apply the page's specific less, we imports page-styl

[2022-03-13 10:48] alexander-akait commented on #554
No, when you use `mini-css-extract-plugin` you extract CSS as a file, so you need to write logic for loading on application side

[2022-03-14 08:51] andy1547 commented on #554
@alexander-akait thanks for your response.

As for the second question, adding .lazy a suffix to less/sass files isn't always possible (e.g. CSS sourced from npm packages). Is there a more concise way of loading with the style-loader on a per file basis without renaming to .less? Perhaps there's a way to suffix with .lazy in import statements but configure webpack to strip off the .lazy when resol

[2022-03-14 08:57] alexander-akait commented on #554
You can set own `test` on any files and set any options, so files from node_modules will load as you want

[2022-03-14 09:37] andy1547 commented on #554
Sorry perhaps I wasn't clear enough in my question.

What's not obvious is how to tell webpack that a style import needs to be lazy loaded, when using either the inline loader option or changing the extension isn't an option (i.e. cannot rename from .less to .lazy.less).

[code]

[2022-03-14 21:06] alexander-akait commented on #554
You can use `query`, i.e. `import noneLazyStyles './css/styles.less?lazy';` using https://webpack.js.org/configuration/module/#ruleresourcequery

[2022-03-15 08:52] andy1547 commented on #554
Thanks for your response @alexander-akait .

Unfortunately the solution provided strangely reports a CSS syntax error:
[code]
It seems like the resourceQuery is affecting the style-loader.

[2022-03-15 10:18] alexander-akait commented on #554
As you can see you have invalid setup for loader

You apply css-loader on style-loader output, change order, that happens because you need set `resourceQuery: { not: /lazy/ },` for other loaders, otherwise you apply them twice

[2022-03-15 10:26] #554 closed

[2022-03-28 06:18] theKashey commented on #306
As many other "magic variables" webpack will transform `__webpack_nonce__` to `__webpack_require__.nc`. Please refer to https://github.com/webpack/webpack/blob/1ed8aaf2e291fc0b14597ef452e6224ad10ccbc9/lib/RuntimeGlobals.js#L161

So the result of complication will be
[code]
But only if complied with webpack. Without it these lines are equal.

[2022-04-01 15:27] jviel-beta commented on #269
This youtube tutorial is a great illustration/explanation of the `mini-css-extract-plugin` fix many have suggested:
https://youtu.be/JlBDfj75T3Y?t=33

[2022-05-05 21:47] SantlyWinner commented on #517
Thanks man, it helped me a lot! <3

[2022-05-09 16:42] zeffgo commented on #143
happened to me too, 👊

[2022-05-20 02:44] mikeaustin opened #565 "Add support for using lazyStyleTag use() from a JavaScript module (injecting into multiple shadow DOMs)"
### Feature Proposal

When using `lazyStyleTag` and `use({ target: shadowRoot })` inside a shared JavaScript module, only the first call to use injects a `style` element. The other shadow elements that call `use()` have no styles. I've duplicated the module and loaded each and the problem does not exist. There may be other options such somehow forcing separate module instances, but I'm not sure.

[2022-05-20 09:42] alexander-akait commented on #565
It it possible to create memory leaking and it will have very bad perf...

[2022-05-20 14:12] mikeaustin commented on #565
HI @alexander-akait, can you elaborate on bad performance? I'm open to other suggestions. What about passing a key in options that can be used to associate the instance?

[2022-05-28 06:13] mikeaustin commented on #565
Hi @alexander-akait, thank you for the reply. The original message covers the issue – loading a JS module dynamically, multiple times, only the first call to use() injects the style element. Since JS module instances are shared (loading a second time returns the original instance), only one style element is ever injected.
At the root of the issue, it’s because import(), static or dynamic, shares i

[2022-05-29 14:34] alexander-akait commented on #565
@mikeaustin Can you create small example? I want to look how you use it to provide better solution

[2022-06-10 01:48] lzs246 opened #567 "why style-loader is pitch loader？"
Hello
Excuse me, why style-loader is designed to be pitch loader?
I think can also get the result of css-loader in normal loader, and then insert the result into the style.
Is there any special situation, I didn't consider it?
Thank

[2022-06-10 01:56] alexander-akait commented on #567
style-loader doesn't need to know which a loader was before, so it is pitch, we need only request

[2022-06-10 04:42] lzs246 commented on #567
Thanks a lot for answer

[2022-06-10 04:43] #567 closed

[2022-06-14 10:58] zongzi531 commented on #554
@andy1547 Hello, Can you tell me, how did you solve it?

[2022-06-15 11:38] andy1547 commented on #554
@zongzi531 To import LESS and CSS files, in a lazy and non-lazy fashion:
[code]
Webpack config required for this:
[code]

[2022-06-16 00:43] zongzi531 commented on #554
@andy1547 Thanks, It's strange that I encountered a schema validation error (`not`), it may be a version problem, but in the end I solved it in other ways.

[2022-07-20 09:10] zhushibo commented on #216
我直接报this.getOptions相关错误

[2022-07-25 15:06] andriichumak commented on #565
I'm having the same issue. It can be reproduced easily with the example from the docs: https://webpack.js.org/loaders/style-loader/#custom-elements-shadow-dom Just import the resulting js to some html file and create several instances of the custom element, like so:
[code]
You'll notice that only the first element is styled. Would appreciate any advice on how to work around this properly. So far I

[2022-07-25 15:25] alexander-akait commented on #565
@andriichumak Do you keep styles in JS file or extract them for production?

[2022-07-26 09:24] andriichumak commented on #565
I would prefer to have styles extracted, but it's not a hard requirement for my project. If we would be able to inject `style` tag into multiple places with `lazyStyleTag` - that would already be a big improvement.

Another option I can think of is to make the loader return the actual path to the generated css file instead of an empty object when using regular `styleTag`. This way I would be able

[2022-07-26 19:54] alexander-akait commented on #565
@andriichumak Can you create small reproducible example to show usage?

[2022-07-27 06:47] mwood23 commented on #461
I got this error when using this beside https://www.npmjs.com/package/mini-css-extract-plugin

[2022-10-14 14:42] caseyjhol opened #580 "Support asset-modules instead of file-loader"
### Feature Proposal

Support using asset-modules with style-loader instead of having to use file-loader.

### Feature Use Case

file-loader is deprecated, so it would be great to be able to use asset-modules instead alongside style-loader. However, this doesn't currently seem possible. A file is generated -- however, it is not a valid CSS file (it contains JavaScript). In addition, the file is no

[2022-10-14 15:01] alexander-akait commented on #580
For `<link>` we have `mini-css-extract-plugin`, also we have https://github.com/webpack-contrib/css-loader#exporttype ("string"), so css-loader return text CSS which can be used to using `new URL("", import.meta.url)` and injected in document, extracting is out of scope `style-loader`

[2022-10-14 15:01] #580 closed

[2022-10-14 15:55] alexander-akait commented on #580
@caseyjhol Yeah, PR welcome, it was described in some migration guide, but looks like we missed it here

[2022-10-18 09:26] mditullio commented on #565
Had exactly the same issue today. It's a pity that in webpack there's no easy way to export a CSS module URL(s) to extracted files.

I'm considering reverting back and use css-loader exporting styles as **CSSStyleSheet** items.
And then, use the **adoptedStyleSheets** options, in order to style pages and components.
But the issue with these interfaces, is that they're not supported from Safari (an

[2022-10-18 12:56] alexander-akait commented on #565
@mikeaustin Can you prodvide example of the problem (small repo), so I provide configuration solutions how I will solve the same problems

[2022-10-18 16:27] mditullio commented on #565
Hello @alexander-akait
I did a small example of the issue: https://github.com/mditullio/demo-webpack-style-loader.
The need behind would be to share the same CSS from multiple web component instances.
Ideally, this could be, as suggested by @andriichumak a module which exports the URL / path to the extracted CSS.
I would see well a new inject type called `lazyLinkTag` which could something like th

[2022-10-19 08:05] manoharmaddi commented on #517
./src/index.css
TypeError: this.getOptions is not a function

 i m getting this error  while executing please help me out

[2022-10-19 18:26] alexander-akait commented on #565
@mikeaustin Tha main problem style-loader is not extract CSS, it is for CSS in runtime code, anyway if you can use `mini-css-extract-plugin` and dynamic `import(...)` (alternative solution - set `runtime: false` and implement own logic for loading), but yes, `CSSStyleSheet` is right solution (that is bad it has a bad support right now, it was design for Shadow DOM). You have written polyfill is no

[2022-10-19 18:52] mditullio commented on #565
Thanks for the suggestion about dynamic import, I will look onto it.

For the polyfill of adoptedStyleSheets, I tried this lib: https://github.com/calebdwilliams/construct-style-sheets
But there are some issues regarding Safari: https://github.com/calebdwilliams/construct-style-sheets/issues/110
But in general, to polyfill it, no other way than replicating style tags in each component instance.

S

[2022-10-20 12:46] alexander-akait commented on #565
Feel free to feedback and ask questions

[2022-10-28 11:55] webpack-bot opened #584 "Webpack "lazyStyleTag" configuration won't copy fonts after upgrade to Angular 13"
Hi @alexander-akait ,
I hope you are doing well. Despite the tense and unpleasant situation worldwide, I wanted to ask if you can help me solve my problem:

https://stackoverflow.com/questions/74234161/webpack-lazystyletag-configuration-wont-copy-fonts-after-upgrade-to-angular-1

Cheers, Markus

---

This issue was moved from webpack/webpack#16429 by @alexander-akait. Original issue was by @rb-mwi

[2022-10-28 11:55] alexander-akait commented on #584
@rb-mwind Can you create minimum reproducible test repo, thank you

[2022-10-28 12:53] rb-mwindh commented on #584
I did. It's mentioned in the stackoverflow question: https://github.com/rb-mwindh/angular13-webpack-lazystyletag
Thanks for looking into my problem so fast 👍

[2022-10-31 17:41] TannerS commented on #427
Is there any updates to this issue bedsides the work around?

[2022-11-01 13:19] alexander-akait commented on #584
@alan-agius4 sorry for distracting :smile: I think it is related to `angular-cli` (maybe overlaps regexps?)

[2022-11-01 14:30] alan-agius4 commented on #584
Hey @alexander-akait, no worries :)

So, indeed this is a regexp overlap issue which can be sorted by changing the regexp to `/\.theme\.scss$/`.

@rb-mwindh, please be aware that while the CLI allows extending the Webpack configurations, such configs are not supported.

[2022-11-02 12:55] rb-mwindh commented on #584
Hi @alan-agius4,
I am aware that this is a non-standard use case without official Angular support. So thanks for having a look at it anyway 😄

My core task is to develop different stylesheets for our corporate component library. I provide the so-called "Cookbook" for our app developers, which serves as both documentation and showcase for the various stylesheets.

Since I want to be able to switch

[2022-11-08 11:16] rb-mwindh commented on #584
Hi @alan-agius4,
Hi @alexander-akait,

while debugging the various loaders, I've recognized this: https://github.com/webpack-contrib/css-loader/blob/d5bc6eac3ce59799678882292999df2ad0e8a924/src/index.js#L93

Based on this, I've changed my custom webpack config to
[code]

Now, the css loader is correctly resolving my font urls to `node_modules`.
I had to provide a ruleset for the font files (`*.wof

[2022-11-08 16:39] alexander-akait commented on #584
@rb-mwindh Do you have file-loader or url-loader, sounds like you have multiple loader for assets

[2022-11-08 20:02] rb-mwindh commented on #584
Hello @alexander-akait,
no, I have neither file-loader nor url-loader in place. Applying `esModule: false` to the `css-loader` solved my problem with the font files not being copied. But now I get a _warning_ that my theme stylesheet is a "CommonJS dependency" (I assume because of `esModule: false`...). This is not a problem, just rather messy.

Please find the [complete webpack configuration](htt

[2022-11-08 20:13] alexander-akait commented on #584
You already have `asset/modules` loader for svg here https://gist.github.com/rb-mwindh/65f83437bd5c66812cb8c0b5ef670495#file-custom-webpack-config-json-L83, so if you customize configuration you need to exclude all URL with `?ngResource`, please look at `not` in our docs

[2022-11-08 20:47] rb-mwindh commented on #584
Apologies for being a bit slow but I don't quite understand the reference to the rule in line 83. This line, as well as most of the configuration, is emitted by Angular Builder in this exact way. I have only added the previously mentioned lines (251-253 and 525-546)...

Do you mean I should add `"resourceQuery": { "not": [ "/\\?ngResource/" ] }` to my font rule in line [543-546](https://gist.githu

[2022-11-08 21:22] alexander-akait commented on #584
@rb-mwindh yes, it has effect only for `url(...)` with `?ngResource`, otherwise you have two loaders for assets with `?ngResource`

[2022-11-14 14:55] rb-mwindh commented on #584
Hi @alexander-akait ,
sorry for the late answer, I've been quite busy, lately...
So I've added `resourceQuery: { not: [ /\?ngResource/ ] }` to my `*.theme.scss` rule. However, this still didn't bring my font files back. The only option I've found so far is adding `esModule: false` to the css-loader config, which results in that nasty "CommonJS" warning.

Any Idea how I could get rid of that warnin

[2022-11-15 01:09] alexander-akait commented on #584
Sounds like you still have a loader for your fonts (I think it is in default angular-cli debug), can you do production build and look at `dist`/`public` directory?

[2022-11-15 07:18] alan-agius4 commented on #584
You can disable the warning by allowing certain CJS dependencies.

See: https://angular.io/guide/build#configuring-commonjs-dependencies

[2022-11-21 06:50] rb-mwindh commented on #584
Hi @alexander-akait ,
production build doesn't change the result. With css-loader esModule: true, the font files are not copied to the dist folder. Btw: they are not present at all, neither as inline code...

Hi @alan-agius4 ,
I was aware of `allowedCommonJsDependencies`, but my compiled stylesheet is the commonjs dependency, it complains about ;) So this won't help...

[2022-11-21 07:07] rb-mwindh commented on #584
My build command looks like this:
[code]

It yields the following result:
[code]

As far as I can tell, when `esModule: true` is used, `css-loader` does not register my font files as assets, which is why they are not copied and the generated paths point to a local directory.

[2022-11-25 11:56] alexander-akait commented on #584
Sorry, no problems with `style-loader` here, as you can see you have overlapping with the default angular-cli configuration, I can't fix it here