[2013-10-05 12:49] jhnns opened #2 "Error: Style loader do not work as pre or post loader"
I'm using the [mocha-loader](/webpack/mocha-loader) for my tests. My webpack config looks like this:

[code]

This config is consumed by the webpack-dev-server via this command:

[code]

Now webpack gives me (randomly) this error message:

[code]

A `console.log(this.loaderType);` in `index.js:9` returns `undefined`

[2013-10-05 15:12] #2 closed, assigned to nobody

[2014-01-27 15:38] jhnns opened #5 "Idea: Debounce adding of styles for better performance"
I'm thinking about this issue quite a while but haven't found the time to write it down.

My co-worker was working on an app (without webpack) where he wanted to define style rules per component. These styles should only be applied if the component is currently in use, so he added and removed the style nodes accordingly.

While the theory is very nice, it has a serious performance impact. Because

[2014-05-28 08:56] szag opened #8 "Adding styles with @font-face crashes IE8"
I noticed that the style-loader can crash IE 8 forcing it to close. I used the _IE8 - XP_ [virtual machine from modern.ie](http://loc.modern.ie/de-de/virtualization-tools#downloads) (IE 8.0.6001.18702) to test an application that adds a stylesheet containing a `@font-face` declaration.

The problem seems to be that the `cssCode` is added to the `styleElement` before the `styleElement` is appended

[2014-05-31 10:44] #8 closed, assigned to nobody

[2014-07-13 15:21] avanderhoorn opened #9 "Why does "hot" code get included by default?"
I have a bundle that I'm creating that leverages style-loader. When I was looking at the source I noticed the following:

[code]

As you can see there is a weird if statement and `module.hot` code included out of the box.

I thought it was something that I was doing wrong, so I ran through the getting started tute you have on the site, and it produced the same output.

Any reasons for this, to me

[2014-08-13 08:49] SimonDegraeve opened #11 "The page is not hot reloaded after an error."
I use this loader with [react-hot-loader](https://github.com/gaearon/react-hot-loader) and when an error  is thrown the page will not hot reload even when the error is fixed.

Example:
1) Make error in style
2) Hot Reload and throw error
3) Fix error in style
4) Page not reloaded

This can be fixed by adding the `remainingRequest` argument to `module.hot.accept`.

[2014-08-14 09:13] #11 closed, assigned to nobody

[2014-08-14 09:16] #9 closed, assigned to nobody

[2014-09-15 19:59] forivall opened #17 "Feature Request: add a "priority" option to allow defining the order of style blocks"
This would simplify the process of overwriting certain styles defined in external css blocks (eg. overriding bootstrap). Right now, styling will differ by the order in which you require styles if they have conflicting rules.

[2014-09-21 17:18] alvaro-cuesta opened #18 "Error with hot reloading and "-d": "SyntaxError: missing ) after argument list""
This is `style-loader@~0.8.0`. My `*.styl` loader looks like this: `{ test: /\.styl$/, loader: 'style!css!stylus' }`.

The offending lines (specifically the one with `module.hot.accept`):

[code]

[2014-09-21 18:54] #18 closed, assigned to nobody

[2014-09-29 21:21] tgriesser opened #19 "If you're only requiring a single stylesheet, the loader breaks"
As far as I can tell, if you require a stylesheet, and the return is a string, it sets

`content = [module.id, content, ''];` [here](https://github.com/webpack/style-loader/blob/master/index.js#L14)

Then it loops over `list.length` [here](https://github.com/webpack/style-loader/blob/master/addStyles.js#L61), but it seems it should be looping over a list of modules rather than the array above.

Se

[2014-09-30 11:00] #19 closed, assigned to nobody

[2014-10-06 08:45] freiksenet opened #21 "'Syntax error: unexpected number' with hot reload"
I have this kind of configuration for less files

[code]

It works fine if I run it without hot-reload, but turning on hot reload results in webpack-dev-server

[code]

in resulting compiled file. The error is in 'module.hot.accept'.

I've tried different options, loading as url, loading just css file (just to check), but they all fail in the same way.

[2014-10-06 08:58] #21 closed, assigned to nobody

[2014-10-21 10:11] avaly opened #25 ""Circular reference detected" warning on grunt-webpack watch"
See description of issue at: https://github.com/webpack/grunt-webpack/issues/32

[2014-10-26 11:50] unlight opened #28 "Loader expose filesystem paths"
I use:
`require("./design/style.css");`
Part of config:
[code]
Result somewhere in `build/bundle.js`:
[code]
Need to get rid of absolute paths!

[2014-10-27 14:07] okonet opened #29 "IE throws "Not enough storage is available to complete this operation.""
I'm seeing this exception in our production app with IE10 and 11. Here is what I've found so far:

Source: http://krasimirtsonev.com/blog/article/CKEditor-Not-enough-storage-is-available-to-complete-this-operation

Not sure if this can be fixed though but I think it should be reported here as well. I'll also try to create a test-case later and submit it to IE team.

[2014-10-29 19:44] pstoica opened #30 "Add sourceURL to inline styles"
Hey, I've been looking for a way to use CSS sourcemaps in dev with watch or dev-server, which unfortunately means extract-text-webpack-plugins can't be used.

However, I did find out that `sourceURL` works for inline `<style>` tags so I'm creating a temporary loader to add that to the end of CSS modules. Could this be done automatically through style-loader? I'd be happy to make a pull request, ju

[2014-11-03 22:24] #30 closed, assigned to nobody

[2014-11-05 15:01] rbtbar opened #31 "0.8.2 breaks my tests running in the PhantomJS"
Hi, just a little bug i found:

I'm using the style-loader (since 0.8.1) in the following manner (just this one line):
require('!style!css!sass!./someFile.scss');

The version 0.8.2 seems to work under IE11, latest FF and latest Chrome, but it breaks execution of several tests in the PhantomJS. For the moment I'm keeping "0.8.1" in my list of depenencies....

Cheers,
rb

[2014-11-07 13:13] #29 closed, assigned to nobody

[2014-12-25 03:23] browniefed opened #35 "HotModules addStyles update listToStyles destroying all css on update"
In my single entry I have one require for CSS

[code]

Everything works great on initial load but when `update` in addStyles is called it gets called with

[code]

instead of

[code]

It seems to be missing the outer array wrapper. So when this gets passed to listToStyles call it blows away all CSS.
Just to confirm I changed the call to `listToStyles([newList])` and it worked fine but I don't know

[2014-12-27 20:16] #35 closed, assigned to nobody

[2015-01-01 04:16] doliver3 commented on #28
+1 for the ability to remove these paths for the non-minimized version

[2015-01-04 11:42] bloodyowl opened #36 "sourcemaps are JS code"
hello,

I activated the source maps options with the `css-loader`, and sourcemaps for my CSS files are JavaScript code, is there any way to fix this?

example sourcemap :

[code]

[2015-01-05 18:43] cliren commented on #28
+2 to remove absolute paths when non minimized. I am not sure how the below block is executed when its falsy but the local-paths will cause a problem when multiple module bundlers are used. For example a module built with webpack is included in a module built with browerify doesn't eliminate the local paths.

	// Hot Module Replacement
	if(false) {
		// When the styles change, update the <style> t

[2015-01-11 21:33] sompylasar commented on #28
@jehoshua02 You are right [in your comment](https://github.com/webpack/style-loader/issues/28#issuecomment-63405193), the absolute filesystem path leaks [from here](https://github.com/webpack/core/blob/b69a87adf82935a3e4871b378d786d35b42496fb/lib/NormalModuleMixin.js#L225).

@sokra Could you give some insights on this issue? We likely should add a linked issue in the [webpack/core](https://github.

[2015-01-12 00:21] jehoshua02 commented on #28
I'd be happy if the paths were relative to the project root. That way when any team member builds it doesn't cause a diff.

[2015-01-12 12:36] sokra commented on #28
@sompylasar It's on the TODO list. Not related to webpack/core.

[2015-01-12 15:45] sompylasar commented on #28
@sokra Thank you for your attention. Maybe not related, I haven't tracked
it farther than webpack/core (where loaderContext comes from).

Is there a GitHub issue for this TODO list item to link to?

2015-01-12 15:36 GMT+03:00 Tobias Koppers <notifications@github.com>:

[2015-01-12 15:51] sokra commented on #28
Sorry you can't link to my brain ;)

[2015-01-14 23:11] gaearon opened #37 "Do something after styles have been updated"
I want to apply viewport units polyfill on iOS 7 as soon as styles are added dynamically.

It's important I want to do this at runtime because it's optional — and I use `ExtractTextPlugin` so can't post-process all CSS on client side.

What would be the easiest way to do something after styles have been flushed?
I don't *really* care about reflows here because it's only for iOS 7.

[2015-01-14 23:48] gaearon commented on #37
FWIW this works well for me:

[code]

This is probably rather unusual request so closing this.

[2015-01-14 23:48] #37 closed

[2015-01-23 00:06] pstoica opened #38 "HMR only working for last instance"
I currently have some style entry points with one module each. Each module goes through a loader that returns a URL, then goes through style/url to added a <link>, but only the last entry point can accept and swap updates. The others say the page requires a reload. Weird setup, I know. There is also one commons chunk with the webpack runtime.

I can try testing this out in a more isolated environm

[2015-01-23 09:56] sokra commented on #38
You cannot have multiple webpack runtimes on a single page (or you need to provide alternative `output.jsonpFunction` and `output.hotUpdateFunction`).

And you cannot hot reload the entry point when having multiple entry points on a page.

Instead of doing `entry: { a: "a", b: "b" }` do `entry: { a: ["a"], b: ["b"] }`.

[2015-01-23 16:07] pstoica commented on #38
That last one was the problem, thanks so much!

[2015-01-23 16:07] #38 closed

[2015-02-01 06:07] NekR opened #39 "singleton mode problems in IE9"
```cssText``` in IE does not supports media queries, i.e. does not return them (I think because of backwards compatibility). So when in single mode (which is by default) you use media queries and that stylesheet with media queries was ```require```d before some other -- then you loose your media queries.

Probably for IE you should store stylesheet in memory (i.e. object/array) and when new modifi

[2015-02-10 21:01] nmccready commented on #31
Looks like you could use [this](https://www.npmjs.com/package/phantomjs-polyfill) as an alternative and load it into your karma.conf.

[2015-02-10 21:41] sokra commented on #39
@diurnalist

[2015-02-11 09:34] diurnalist commented on #39
Ah, interesting - always nice when you can't read out what you write in... Thanks for the report, will look into it.

[2015-02-11 09:48] NekR commented on #39
@diurnalist yep, this is IE. Not so much surprise :)

[2015-02-11 14:53] jonasi opened #41 "usable and hmr issues"
I'm seeing an issue with style-loader usable and HMR when the usable `refs` count is > 1.  In this scenario, when a style module is updated the style disappears from the DOM but is never reinserted/updated.  In the case where `refs` === 1, everything works as expected.

Looking at the code, I'm a little confused by how the `refs` in `usable.js` interacts with the `refs` count inside `addStyles`.

[2015-02-17 08:24] syranide commented on #41
+1 seeing this as well

[2015-02-23 21:25] benmaurer opened #42 "IE8 Support?"
Thanks so much for webpack!  Though I've just started using it, my workflow is infinitely simpler.   For the style-loader, do you plan to support IE8?  ... if so, could the ES6 bind functions in the addStyle function be altered so I don't have to fork the library or use a polyfill?

[2015-02-27 18:37] nwhite89 opened #44 "Passing document to .use"
I need to be able to pass the document to the `.use` method in which it should attach the document, due to iFrame buster business. Any way of doing this currently or thought on perhaps adding as an added feature?

Thanks.

[2015-02-28 00:23] sokra commented on #42
You need to use an polyfill...

I don't want to increase size or complexity for old browsers.
Polyfilling is job of the application.

[2015-02-28 16:58] benmaurer commented on #42
I don't blame you.  Stupid IE ...

[2015-03-05 19:29] cliren commented on #28
@sokra the hot module code causes dependent build builds break on the path (browserify builds). Is this going to fixed soon?

[2015-03-06 09:57] dwoldrich opened #45 "Enhancement: Allow customization of request URI to differ from source file's URI"
I have the following loader expression:
    style/url?limit=0!file?name=css/[name].css!sass

If, for example, I have a hello.sass file, it is compiled and written as a plain text/css file to css/hello.css.  Finally, the style/url part yields the following javascript that I want which dynamically loads the css file:

[code]

_I would like more control over module 6_.  Specifically, I'd like to be a

[2015-03-06 12:49] sokra commented on #45
`style/url?limit=0!file?name=css/[name].css?[hash]!sass`

---

but I recommend using `style!css!sass` instead and use the `extract-text-plugin` to generate a separate css file.

[2015-03-06 18:49] dwoldrich commented on #45
Hi @sokra,

Thanks for responding.  I tried your suggested loader expression, and I get the following error on the gulp-webpack command line:

Error: Path doesn't exist '/volumes/DCW/project/css/hello.css?3cbfb6b70597d49d816808fdb536ab28'

The hello.css does exist at that location, but with the question mark and hash included, the file is not found.

Here's what my webpackArgs look like with your

[2015-03-10 08:40] solsson commented on #44
+1
[code]

[2015-03-19 08:37] szrenwei commented on #42
to author: at least you should put some comments under the style-load. I am a victim, too.

[2015-03-19 10:30] sokra commented on #42
PR?

[2015-03-20 02:00] szrenwei commented on #42
I suggest add some warn info under the style loader. point out it not support IE8, and provide a solution. IE8 have a large market share at this time.

[2015-03-24 08:01] christianalfoni opened #47 "Bug when using style-loader through node"
Hi there,

We are using a node instance that runs webpack-dev-server with style-loader. I have narrowed down the issue which you can test on this test repo: https://github.com/christianalfoni/style-loader-bug. As stated in the README:
1. `npm install`
2. `node server`
3. Go to `localhost:3000`
4. The background color should be red
5. If it is white, do a file change in `app/main.js`, just a linesh

[2015-03-26 16:30] voronianski opened #48 "Does actually `use/ref` and 'unuse/unref` work?"
I have no luck in making this API work:

[code]

[2015-03-28 11:32] jhorwit2 commented on #48
If you import it normally via es6 import or normal require, you won't be able to use `use`. If you look at the docs (pasted below) you will see you need to add a tag to your import/require.

[code]

[2015-03-28 19:46] jlchereau commented on #48
This works:

[code]

This does not work:

[code]

file.less is:

[code]

[2015-03-29 15:06] jlchereau opened #49 "style/useable not working with bundle loader and ExtractTextPlugin"
The following config works:

[code]

but I would like to force all themes in separate bundles.

The following configs do not work:

[code]

[code]

use/unuse is perfect for loading/unloading themes. Is there any way to benefit from this feature while forcing themes into separate bundles loaded on demand because it does not make sense to load many themes that a user won't use in the same common bun

[2015-04-02 10:05] sorrycc commented on #31
@nmccready Thanks. I just include this polyfill in my test runner page, and it resolved my problem.

[2015-04-02 16:22] EvNaverniouk opened #50 "unuse/unref doesn't seem to working"
I can't seem to be able to get `unuse()` to remove the style from the page. Calling `use()` correctly loads the style, but calling `unuse()` doesn't remove it.

My loaders are setup as such:

[code]

And my code looks like this:

[code]

Any idea what could be going wrong?

[2015-04-10 01:12] zerkms commented on #39
Just experienced the same issue (which mistakenly reported to the webpack repository: https://github.com/webpack/webpack/issues/963) with tiny demo https://github.com/zerkms/webpack-ie9-bug

[2015-04-10 16:25] globexdesigns commented on #50
I was able to get around my issue by setting the `style/useable!` prefix in the loader definition instead of in my code:

My new loader definition is:

[code]

This seems to make `unuse` work correctly, but it also means all my styles now need to call `use()` even if I don't want them to be dynamically loaded. This is less than ideal so I'm keeping this issue open.

[2015-04-12 19:53] sokra commented on #28
fixed

[2015-04-12 19:53] #28 closed

[2015-04-13 13:59] dmvjs commented on #39
Maybe I'm slow, how does one set singleton to false, like this?
[code]

[2015-04-14 06:44] diurnalist commented on #39
@dmvjs you're not slow :) - that's certainly supposed to work. Are you seeing behavior that indicates it's still turned on?

[2015-04-14 07:15] diurnalist commented on #39
Sorry about the commit noise, was doing some git wrangling - @NekR @zerkms would you like to try out this fix? I tested it on a project in IE9 without issue.

[2015-04-14 07:17] zerkms commented on #39
@diurnalist sure, but I will do tomorrow when in the office

[2015-04-14 12:54] dmvjs commented on #39
@diurnalist thanks for confirming how to set the singleton value. i hoped that setting that singleton param would magically fix our IE9 media query issue but it didn't appear to. I'll take a closer look later today.

[2015-04-14 15:20] #39 closed

[2015-04-15 10:06] zxcabs opened #53 "Hot update not working"
Hello,
I will try to use hot update for style-loader with file and less loaders and it doesn't work.
Here example https://github.com/zxcabs/webpack-hot-update-example
When i changed .less file webpack recompiles the build, but style doesn't changed.

what i do wrong?

[2015-04-15 15:50] sokra commented on #53
You are not using the style-loader: https://github.com/zxcabs/webpack-hot-update-example/blob/master/webpack.config.js#L25

[2015-04-15 16:05] zxcabs commented on #53
I'm included it in source https://github.com/zxcabs/webpack-hot-update-example/blob/master/src/index.js#L5

it's wrong?

[2015-04-15 21:25] lern opened #54 "Requiring multiple stylesheets with the same relative path doesn't work"
As of b9fdff56e81ead7dfe73a23d82276cef4eb7325d, I'm running into an issue when requiring multiple stylesheets with the same relative path.

The easiest way to reproduce is to use https://github.com/lern/react-starter, which is a fork of https://github.com/webpack/react-starter that I slightly modified to use version `0.10.1` of `style-loader` and added an additional `require` of a stylesheet calle

[2015-04-16 15:59] gryzzly opened #55 "Generated image urls *must* be absolute for style!css?sourceMap to work?"
Is there a way to make images load in browser when using `style-loader/css-loader?sourceMap` without specifying **absolute** url prefix as `publicPath`?

With this loader:
[code]
This works:
[code]
This doesn't:
[code]
In the CSS modules generated as `Blob` the paths are relative to `chrome:blob` or `chrome:devtools` which doesn't refer to the correct assets.

If my assumption is correct and we al

[2015-04-16 18:20] jlchereau commented on #49
Any workaround???

[2015-04-19 12:42] bebraw commented on #47
:+1:

[2015-04-19 21:16] arnihermann commented on #54
I encountered this issue as well and can confirm that 0.10.0 works but 0.10.1. My config is derived from react-starter but has diverged slightly from it.

[2015-04-20 13:56] sokra commented on #54
I think this was fixed by https://github.com/webpack/webpack/commit/026170a8a36c82552f894cf9a6b9f1695552fc42

[2015-04-20 14:31] lern commented on #54
@sokra I just tried confirming that using v1.8.5 of webpack and I'm still getting the error. See lern/react-starter@2d63d99b051bf51b81d3542d80e5975e225d8ada if you'd like to reproduce it.

[2015-04-20 14:38] sokra commented on #54
I'll check.

[2015-04-20 17:24] sokra commented on #54
Don't have a solution yet, but it's the combination of `DedupePlugin` and `ExtractTextPlugin`, when a module is deduped and removed by extraction.

[2015-04-20 17:39] #54 closed

[2015-04-20 17:43] lern commented on #54
@sokra thanks, I confirmed it's fixed in webpack master :+1:

[2015-04-20 19:10] sokra commented on #49
This doesn't work. You cannot extract usable styles.

[2015-04-20 19:11] sokra commented on #55
yep. Do you want to add one in a PR?

[2015-04-21 08:32] jlchereau commented on #49
Thx

[2015-04-21 08:32] #49 closed

[2015-04-24 07:29] pkorzh opened #56 "Allow to specify the position to insert new link/style tag"
i want to be able to specify where to insert new link/style nodes. in my project bower deps. css should go before custom css, witch is built in one bundle and included in head tag.

having query option like `insertAt: 'top' / 'bottom` would do the trick

[2015-04-27 15:33] globexdesigns opened #57 "0.12.0 throws "Cannot call method 'split' of undefined" errors"
After upgrading to 0.12.0 (from 0.11.0) I am now getting the following errors when building my app:

[code]

My LESS loader is configured as:

[code]

The issue does not occur when using 0.11.0.

[2015-04-27 16:29] #57 closed

[2015-04-27 16:59] sokra commented on #56
Feel free to send a PR that adds such a query parameter.

[2015-04-27 17:16] sokra commented on #47
omg... this is pretty weird... :-O

[2015-04-27 17:21] sokra commented on #47
in `server/bundle.js` you are starting the compiler twice:

[code]

to fix it:

[code]

[2015-04-27 17:22] sokra commented on #47
I propably need to throw an error in this case.

[2015-04-28 08:21] christianalfoni commented on #47
Hehe, thanks for taking a look @sokra and yeah and error there would be good. Though I think a more common pattern using the webpack instance would be:

[code]

And:

[code]

But I suppose that is too big of a change, and maybe does not make sense related to the rest of the API. But I do seem to loose a hook to check when the initial bundle is ready? As the callback for "new WebpackDevServer" is r

[2015-04-28 08:36] christianalfoni commented on #47
Ah, I can see there is a plugin mechanism?

[code]

No problems using that?

[2015-04-30 02:52] jerrysu opened #58 "IE8 (and below): Replacing CSS containing @font-face results in "invisible" page"
I've been having issues with `style-loader` and IE8, which I've narrowed down to this line:
https://github.com/webpack/style-loader/blob/master/addStyles.js#L169

When a stylesheet containing `@font-face` is applied, a subsequent stylesheet causes the page to be rendered as "invisible". The page appears completely blank, but everything is there (you can see that the elements are there when using I

[2015-05-04 15:19] SimenB commented on #42
@sokra What parts are unsupported under IE8? Is it enough to use `extract-text-webpack-plugin`?

[2015-05-04 22:25] benmaurer commented on #42
For the style loader, I believe you must include the polyfill before any style-related requires.  I assume the same principle applies elsewhere

[2015-05-05 06:42] SimenB commented on #42
Ah, that makes sense.

Is it only `.bind` causing trouble? Or any other parts as well?

[2015-05-06 21:41] benmaurer commented on #42
Just updated to the newest version -- you'll also need to polyfill filter

[2015-05-06 21:46] SimenB commented on #42
Ok, thanks for the update. Stick it in the docs?

[2015-05-08 15:51] sjoerdvisscher opened #62 "style-loader generates `if (false)` code"
I get a lot of warnings if I combine `style-loader` and the uglify plugin. The generated `if (false)` results in "Condition always false" and "Dropping unreachable code" warnings from uglify. Why not just skip that part entirely when emitting the code?

[2015-05-10 19:18] sokra commented on #62
it generates `if(module.hot)` which is processed by webpack.

[2015-05-11 09:34] sjoerdvisscher commented on #62
Ah, cool stuff. Then uglify should not emit warnings I guess.

[2015-05-11 09:34] #62 closed

[2015-05-11 10:32] cgaudreau commented on #55
Same problem here. Bit of a confusing bug to run into.

[2015-05-29 17:15] bloodyowl opened #66 "hot reload doesn't work with local styles"
it seems like it's wished, given that line https://github.com/webpack/style-loader/blob/master/useable.js#L32

why was the problem that made you put these conditions?

[2015-05-29 17:19] bloodyowl commented on #66
(precision: I'm using the `useable` API)

[2015-05-30 11:10] sokra commented on #66
As CSS with locals **export** stuff (the locals) from the CSS it behave different than standard CSS (which **only** has side-effects).

Modules with exports need to be accepted by the importing module. See [HMR spec](http://webpack.github.io/docs/hot-module-replacement.html).

It's because the locals could change between updates.

[code]

For usable styles you need to `unref` the old style (theore

[2015-06-04 23:14] vjpr commented on #66
I'm seeing the same problem. My locals looks like this:

[code]

When it should return my css class names.

[2015-06-04 23:29] vjpr commented on #66
I think it might be a bug in css-loader actually...

[2015-06-04 23:42] vjpr commented on #66
...and now it has just started working! Must have been a caching problem.

I was doing `require('css?module!./index.css')`, and then had the loaders from `webpack.config` running twice which was causing the problem.

[2015-06-17 04:37] yargalot commented on #58
Got this issue today, would be great to get this in. :)

[2015-07-19 15:44] shama commented on #25
https://github.com/webpack/grunt-webpack/issues/32#issuecomment-122661389

[2015-07-19 15:44] #25 closed

[2015-07-20 09:40] michaeljones opened #70 "Brief paragraph describing what the style-loader does?"
### Steps to reproduce:
1. Forget everything you know about webpack
2. See style loader be used in a webpack config file
3. Desire to know what it does
4. Google style-loader and go to github project
### Expected Result

Find some brief documentation describing what the style loader does and its role in the webpack pipeline.
### Actual Result

Find description of usage but no reference to what it

[2015-07-21 22:50] Anahkiasen commented on #56
:+1: for this

[2015-07-26 23:02] newtonianb opened #71 "webpack-dev-server not watching changes in my imports"
I just setup webpack-dev-server below are some of my configs

**assets/entry.js**

[code]

**assets/styles/style.scss**

[code]
-  Changes to style.scss get detected and rebuilds
-  Changes to imported file other_style do not get detected

Is this supposed to work? What's the solution for this with webpack-dev-server and hot module replacement setup?

As a work around what I could do is have all m

[2015-07-30 20:22] skyrpex commented on #36
I think that's the way it works. The ```css-loader``` convert a CSS file into a JS module that exports your CSS string.

You should use the ```style-loader``` in order to automatically inject the styles into the DOM.

[2015-07-31 05:34] oliverbenns commented on #70
+1, right there with you.

[2015-08-05 14:29] jhnns commented on #53
@sokra I've created a minimal example to illustrate the problem based on @zxcabs 's example: https://github.com/jhnns/webpack-hot-update-example

It looks like the module request is translated into a module id two times:
![](https://cloud.githubusercontent.com/assets/781746/9088179/0a04cc96-3b8f-11e5-8f2d-1b48ee0e69a0.jpg)
`5959` should be just `59`

[2015-08-05 14:34] jhnns commented on #53
When I hard-code `59` into this line, a Maximum call-stack error is thrown.

[2015-08-06 08:35] KhoaSydney opened #72 "webpack build does not progress when using style/useable"
Hi  @sokra

when I try to swap the themes by using style/useable loader and it somehow cause webpack build to stand still.
I have two .useable.scss to swap between each others as follow:

1. defaut.useable.scss

[code]
2. red.useable.scss
[code]

the only difference between the two scss files is change in value for *$brand-primary:  #d12929 *
*$brand-info:             #a52d2d;*

3. webpack.config

[2015-08-07 01:08] KhoaSydney commented on #72
This is the issue with sass-loader not webpack. The author has released new version which fixed webpack build stalls https://github.com/jtangelder/sass-loader/issues/100

[2015-08-07 01:08] #72 closed

[2015-08-12 09:00] lili21 opened #73 "How to access the Document object within loader?"
is there a simple way to do that ? I read the source code, the pitch loader is really blow my mind .

wonder how you guys do that.

[code]
is what i got.

[2015-08-17 08:38] #73 closed

[2015-08-25 08:59] jeongsd opened #74 "styles.use need callback"
hi i'm using webpack style-loader with React.js
i trying to load css with styles.use() like this

[code]

But CSS file is injected after react's render() method.

how can I know inject state? or using with callback?

[2015-08-26 08:00] #74 closed

[2015-08-31 22:03] dtothefp commented on #55
@gryzzly @clessg if you could offer me any advice I'm running into the same problem. I am compiling SCSS by chaining the `css-loader` with sourcemaps enabled.

I have a demo repo here https://github.com/dtothefp/webpack-font-issue and even though I'm adding the absolute path to the dev server as `publicPath`, I'm still getting the `failed to download` error. Any advice you could offer would be gre

[2015-09-01 06:53] #55 closed

[2015-09-08 15:39] arturmuller commented on #70
+1, same here.

[2015-09-10 13:48] syranide opened #75 "Disabling loaders does not work inside url()"
`background-image(!url!./file)` emits `Module not found: Error: Cannot resolve directory '.'` because it resolves to `./!url!./file`. Putting `require('!url!./file')` inside JS works just fine though, so I can only assume this is something wrong with style-loader?

[2015-09-14 06:11] matt-d-rat commented on #53
I'm experiencing a similar/the same problem. I spent ages trying to figure out my seed project (React + ES6 + babel + css-loader (__with [css-modules](https://github.com/webpack/css-loader#css-modules) feature turned on__) ) wasn't working.

I had to resort to using the extract-text-webpack-plugin to work around it. But this still doesn't give me HMR for styles.

Essentially when I wasn't using ex

[2015-09-16 17:45] iammerrick opened #79 "When composed with css loader and optimized with -p, uglify strips out code..."
## Source Code
[code]

## Webpack Configuration

[code]

## Error

[code]

[2015-09-16 19:03] iammerrick commented on #79
Is it required to pair with extract-text-plugin?

[2015-09-19 20:13] pdeva opened #80 "Error when using style loader"
This is the output:

[code]

This is the command I used to run webpack:

[code]

This is my webpack.config.js:

[code]

What am i doing wrong?

[2015-09-22 15:01] sap9433 opened #81 "Compiled code throwing Uncaught TypeError: p.use is not a function"
though `styles.use()` , `styles.unuse()`  works perfectly in webPackDevServer . But after running bundler in bundled file these style-loader functions `use` , `unuse`, `ref`, `unref` is undefined.

[2015-10-09 10:43] phaistonian opened #83 "Cast a DOM event when all style tags are injected"
I am sure this could be done the "tricky" way, but how about having it in-place natively?

That would/could come in handy in many use-cases, e.g get a new getBoundingClientRect().

[2015-10-28 16:51] johnnyji commented on #50
Great solution! This will come in handy for me at work :)

[2015-10-29 09:58] f15gdsy opened #85 "How to tell style-loader to include node_modules folder for sass import?"
I want to import a scss file I installed through npm in my scss code.
Can I tell style loader to include node_modules for sass import?

Thanks!

[2015-11-02 22:58] rayshan commented on #74
@jeongsd did you ever find a solution to this? Also running into issues with styles injected after initial render when not using useable API.

[2015-11-03 00:14] Ridermansb commented on #31
Works for me! Thanks @nmccready

[2015-11-03 15:04] KeitIG commented on #71
any news on this ? I'm getting the same problem.

[2015-11-06 15:07] faddee commented on #83
+1

[2015-11-09 06:14] ronkorving opened #87 "Request: allow style to be created but not injected"
With a query parameter, we could use the `<style>` object, but insert it into the document at our own convenience. It would be useful to me. Not sure how others look at this idea?

[2015-11-11 14:45] ferhtgoldaraz opened #88 "Can "style/useable" and "style/url" be combined?"
I would like to combine both `style/useable` and `style/url`. Is that possible?

[2015-11-11 15:02] ferhtgoldaraz opened #89 "Is there a way to use "singleton" with "style/useable""
Is there a way to use "singleton" with "style/useable", So that `style\useable?singleton` works?

[2015-11-11 16:01] Cleod9 commented on #85
i'm surprised no one answered this, but have you tried the following when using with `sass-loader`?

[code]
`sass-loader` allows the "~" to resolve to the module directories defined by webpack (`node_modules`, `web_modules`, etc). Just make sure you get your loaders in the correct order though when you import this sass file:
[code]

[2015-11-12 02:15] ronkorving commented on #87
If I make a PR for this, is there any chance of it getting merged?

[2015-11-13 09:20] ferhtgoldaraz opened #90 "Use css "?sourceMap" option on "style/useable""
It seems that the `useable.js` script uses `addStyles.js`. Maybe it can pass along the sourceMap option.

[2015-11-13 09:23] ferhtgoldaraz commented on #90
It already does. I was editing in the wrong place. Sorry...

[2015-11-13 09:23] #90 closed

[2015-11-13 10:27] ferhtgoldaraz commented on #88
If you pass the `?sourceMap` option to the `css-loader` before reaching `style-loader`, the stylesheet is added as a link to a blob.

[2015-11-13 10:27] #88 closed

[2015-11-15 03:41] localnerve opened #91 "Is it possible to supply style/url a public url that does not exist at build time?"
I would like to use the style/url loader to inject a stylesheet link into the DOM to a public url to an asset that was already built (not by webpack).

In my case, the public directory does not exist at build time.

Webpack complains if I supply style/url a public path to a web asset (same origin), saying the file doesn't exist (because it doesn't).

Is it possible to supply a public url that does

[2015-11-16 08:40] Zorgatone commented on #70
:+1:

[2015-11-16 10:03] Zorgatone opened #92 "__webpack_public_path__ is not defined"
I get this error on the browser: `__webpack_public_path__ is not defined` when I require a style (css or scss) from `bower_components` which uses `@font-face`.

This works if I move the files from `bower_components` to my root folder.

I get in the bundle a list of fonts like this:
[code]

I'm getting `css`, `scss` and the fonts with this loaders:
[code]

What's going on? :cry:

[2015-11-16 10:14] Zorgatone commented on #92
Update: tried to switch from `scss` to `css`, always loading the style from `bower_components`.

Before I was doing:

[code]

And in my `my_app.scss` file I had:
[code]

`mybowerlib/scss/lib.scss` contains the `@font-face` part.

And I was getting the error `__webpack_public_path__ is not defined`.

- - -

And now that I've switched from `scss` to `css` I'm doing this:

[code]

`mybowerlib/css/lib

[2015-11-16 10:45] Zorgatone commented on #92
Also asked on [stackoverflow](http://stackoverflow.com/questions/33733370/webpack-cannot-load-css-scss-from-bower-with-font-face)

[2015-11-16 12:25] Zorgatone commented on #92
Probably this happens because I have these folders `bower_components`, `node_modules` and `src` on the same level?

[2015-11-17 02:22] ronkorving commented on #87
@sokra I've been trying to figure out how to implement this, but it looks next to impossible with the way this loader is set up. Perhaps I'm wrong, but then I would love some pointers in the right direction. If I really want this, am I better off making my own loader?

[2015-11-17 08:48] Zorgatone commented on #92
Solved: I had this in my `webpack.config.js`, I don't know why:

[code]

[2015-11-17 08:48] #92 closed

[2015-11-18 13:32] LestaD opened #93 "Loading images in css"
I try:

[code]

[code]

What i see in chrome:
![image](https://cloud.githubusercontent.com/assets/5620073/11242182/32542fdc-8e11-11e5-8b93-3563b09b5abb.png)

But image not loading to background.
When i click on "Open Link in new tab", link opens as:

![image](https://cloud.githubusercontent.com/assets/5620073/11242207/58689ff0-8e11-11e5-9954-77ec78af2c74.png)

[2015-11-25 10:36] phaistonian opened #95 "Respect webpack.config aliases"
Hello.

Apparently stylus does not respect aliases set in *webpack.config* file.

![image](https://cloud.githubusercontent.com/assets/796530/11394969/ef8fdb3c-9370-11e5-86e5-897e01a86661.png)

It'd be great if we could, say, do something like `@import 'css/something.styl` and have this respecting the aliases set.

[2015-11-25 11:59] bebraw commented on #80
Can you set up a standalone example? It's easier to study the issue that way. I don't see anything obviously wrong with your configuration.

[2015-12-03 10:32] Strate commented on #93
From README:

Btw, why style-loader can not replace relative urls to absolute urls by itself?

[2015-12-05 23:30] pavel06081991 commented on #89
I have the same need. How to use them together, useable and singleton?

[2015-12-06 08:09] That-David-Guy commented on #31
Thanks @nmccready, worked like a charm

[2015-12-13 11:53] Strate opened #98 "Is this loader maintained?"
No responses for issues, no responses for PR. Is it alive?

[2015-12-18 07:41] aganglada opened #100 "TypeError: 'undefined' is not an object (evaluating 'obj.css') at undefined:213"
I'm running test with karma and webpack and it's throwing an error saying:

npm run test:watch

PhantomJS 1.9.8 (Mac OS X 0.0.0) ERROR
  TypeError: 'undefined' is not an object (evaluating 'obj.css') at undefined:213

PhantomJS 1.9.8 (Mac OS X 0.0.0): Executed 0 of 0 ERROR (0.154 secs / 0 secs)
I've looked into the project to see from where this 'obj.css' is coming, there is no file called obj.css

[2015-12-26 10:38] coderwin commented on #42
add the filter and bind, that is OK!
if(!Function.prototype.bind){
    Function.prototype.bind = function(){
		var fn = this,
		args = [].slice.call(arguments),
		object = args.shift();
		return function(){
			return fn.apply(object,args.concat([].slice.call(arguments)));
		};
	};
}
if (!Array.prototype.filter){
	Array.prototype.filter = function(fun /*, thisp*/){
	var len = this.length;
		if (typ

[2016-01-06 10:57] Darkside73 commented on #55
How to deal with HTTPS? Schema-less protocol does not work

[2016-01-12 12:18] scottwio commented on #100
Got the same issue @aganglada did you ever find a solution?

[2016-01-13 19:30] weotch commented on #83
:+1:

[2016-01-14 03:45] tizmagik commented on #55
Same question for https

[2016-01-14 08:24] Darkside73 commented on #55
I've figured out how to solve HTTPS issue. You can use your own dev server (take a look for ```https: true``` option) to serve assets. Here is the example https://gist.github.com/Darkside73/e3b70d72443e0f72b27b

[2016-01-14 10:46] tizmagik commented on #55
Ah interesting. Thanks for sharing! I'll try that out.

For now, I actually ended up going about it slightly differently. Since my main issue was being able to use `url('/images/sample.png')` paths in CSS I defined `?root` query string parameter for the css-loader and then specified `?name=[path][name].[ext]` for the url-loader. This seemed to do the trick without having to specify the full URL in

[2016-01-15 20:32] satazor commented on #98
@sokra I think you are overwhelmed with work. Perhaps you should do a call for help?

[2016-01-16 01:55] pixelcure commented on #55
@tizmagik is this how you resolved the disappearing images? was this in webpack.config.js?

[2016-01-16 03:37] tizmagik commented on #55
Yes, it seems to work fine even though using `root` is not recommended according to the docs for whatever reason.

[2016-01-17 05:04] bboysathish opened #102 "Webpack: Using Component specific css render different in html?"
Ref: http://stackoverflow.com/questions/34827147/webpack-using-component-specific-css-render-different-in-html

[2016-01-19 04:53] bboysathish commented on #102
Forget I have resolved the issue.

[2016-01-19 04:53] #102 closed

[2016-01-19 16:45] glebmachine opened #103 "Line numbers"
How to achieve line numbers to `style-loader`?

![linenumber](https://cloud.githubusercontent.com/assets/1610882/12425280/1b1d09ce-bee5-11e5-839a-7c32b62e3e23.jpg)

[2016-01-20 02:21] tomchentw commented on #53
I experienced the same issue as today. Use all `@latest` package from npm and the error still exists.

## The error is exactly what @jhnns described

The first argument of `module.hot.accept` function call inside `if(!content.locals) {` block will evaluate to `7777` on my computer, which is obviously no such module. It should be just `77`.

However, in this case, it won't throw any error and peopl

[2016-01-20 03:10] tomchentw commented on #53
I had setup an example that use JavaScript as `entry` and require css in that entry file. However, the result is the same. Branch is here:
https://github.com/tomchentw/webpack-hot-update-example/compare/master...tomchentw:feat/use-js-entry?expand=1

[2016-01-20 17:44] jhnns commented on #53
Ok, I found the problem.

The issue occurs when the `HotModuleReplacementPlugin` is applied twice. In my example, I used the `webpack-dev-server` with the `--hot` option *and* applied the plugin in the `webpack.config.js`. There might be other cases as well where the HotModuleReplacementPlugin is already applied.

I just pushed a fix to my example repository. After that, the HMR works as expected.

[2016-01-21 01:40] tomchentw commented on #53
Thanks @jhnns!! I could confirm removing `HotModuleReplacementPlugin` from `webpack.config.js` works for me.

[2016-01-21 10:51] zxcabs commented on #53
Hi,
I checked my issue for latest modules version and all works great.

[2016-01-21 10:51] #53 closed

[2016-01-21 11:38] OpenGG opened #104 "Call URL.revokeObjectURL() after stylesheet loaded"
To load stylesheets, Style loader creates object urls, and feeds them to `<link>` elements. Those object urls will be revoked only when their own related stylesheet get removed or updated.

But keeping references to object urls is not that necessary really, once they got loaded into `<link>`, you can call `URL.revokeObjectURL(url)` right away, while the style rules still apply.

See this demo for

[2016-01-21 11:44] OpenGG commented on #104
Detecting `<link>` loading status could be tricky: http://www.phpied.com/when-is-a-stylesheet-really-loaded/

Bug for those browsers dont supported `onload` event on `<link>`, it is not that big a deal, we simply dont call `URL.revokeObjectURL(url)`, due to the lack of detecting method.

[2016-01-23 05:12] itxchy opened #105 "No errors on desktop Chrome, but mobile is another story: TypeError:'undefined' is not a function (evaluating 'applyToTag.bind(null, styleElement)')"
I have an app that's working fine on desktop Chrome, but not loading at all on mobile safari or mobile chrome.

On mobile Safari, I'm getting a vague error message:

bundle.js:338TypeError:'undefined' is not a function (evaluating 'applyToTag.bind(null, styleElement)')

[Here's a picture of the surrounding code for context] (http://imageshack.com/a/img905/5697/vCJNNL.png)

Any ideas?

[2016-01-25 11:15] valerymercury commented on #55
@tizmagik can you provide an example of working config, please?

[2016-01-25 21:10] itxchy commented on #105
I tracked the error back to react-intl 2.0.0-beta-1. Removing the module from my project fixed the error entirely.

[2016-01-25 21:10] #105 closed

[2016-01-25 23:53] danielb2 opened #106 "paths option"
Is it possible to have a paths option to tell `@import` where to load files relative to?

Currently because of how npm installs handles it, it can be difficult to get this configured with the correct paths ( my case is having a dependency for another module )

stylus-loader uses a `paths` option. is someting like this possible for this loader?

[2016-01-31 14:52] creeperyang commented on #55
@tizmagik It will be helpful if you can provide a sample `webpack.config.js` or just loaders. Thanks in advance.

[2016-01-31 20:59] valerymercury commented on #55
@creeperyang `output.publicPath` isn't working for me. As @tizmagik said `root` option helped me to fix bug with background images in css. I resolved my problem with the following config:
[code]

[2016-02-01 14:09] coryhouse opened #107 "Flash of unstyled content on load"
Since this loader stores styles in JavaScript and then uses JavaScript to inject the styles onto the page, there is a flash of unstyled content on page load. The styles aren't actually applied until the JavaScript is parsed and the styles are injected into the head.

This issue strikes me as inherent in the design, but is there a workaround for this?

To see this issue, use Chrome.

[2016-02-01 15:51] tizmagik commented on #55
@creeperyang sorry for the late reply, just saw this.

@valerymercury yeap, that's basically what I have as well. Here's mine if it's any more helpful:

[code]

[2016-02-01 15:53] tizmagik commented on #107
You can use the `ExtractTextPlugin()` to extract your CSS into a .css stylesheet which you can reference in the page as you normally would any external stylesheet. Most of the React/Webpack startkits have this for production mode and use the JS-loaded styles in development mode for live/hot loading.

[2016-02-01 15:55] tizmagik commented on #93
See https://github.com/webpack/style-loader/issues/55 for some workarounds/solutions to this issue.

[2016-02-01 15:58] tizmagik commented on #70
+1, I'm with you, the documentation on style-loader (and webpack in general) could use some love, I think.

But, looking at the code, this is basically what it does:
https://github.com/webpack/style-loader/blob/master/index.js#L12

It works in conjunction with the css-loader to put the appropriate CSS there. The reason why ExtractTextPlugin is helpful is that in production mode, to avoid FOUC, you

[2016-02-01 16:03] tizmagik commented on #80
I _think_ what's going on is that when you run `webpack-dev-server --progress --colors -hot` and also define the dev server hot reload in the entry config,
``
    entry: [
      'webpack-dev-server/client?http://localhost:8080', // WebpackDevServer host and port
      'webpack/hot/only-dev-server', // "only" prevents reload on syntax errors
[code]

[2016-02-01 16:08] Zorgatone commented on #70
yeah, I'd really like to know how to bundle CSS files to a single external CSS file, without embedding everything with the style tag

[2016-02-01 16:20] tizmagik commented on #70
@Zorgatone that's what the [ExtractTextPlugin](https://github.com/webpack/extract-text-webpack-plugin) is for! :)

[2016-02-01 16:36] coryhouse commented on #107
Cool, that's exactly what I just did. :) Just making sure there wasn't another way to pull this off. Thanks for the quick reply!

[2016-02-01 16:36] #107 closed

[2016-02-04 19:44] studiosciences opened #108 "Enhancement: Support dependency definitions in css"
In stylesheet files, define which stylesheets need to load before the current stylesheet.

    //view.css
    @require "../button.css"; // states that button.css needs to load before view.css. This is a no-op, CSS is not modified.

    .button {
        background: red;
    }

This is inspired by a feature in [closure stylesheets](https://github.com/google/closure-stylesheets). I'm not sure if thi

[2016-02-05 08:30] sokra commented on #98
help...

[2016-02-05 08:46] satazor commented on #98
@sokra I mean, you could write a simple blogpost explaining the current situation of webpack and its modules and where help is most needed. I'm sure a lot of people would be interested in helping you maintaining it. People that were overwhelmed have done the same in the past, such as @visionmedia & @sindresorhus and the community was very responsive. I'm sure that @ryanflorence could also help get

[2016-02-07 23:27] studiosciences commented on #108
Upon further evaluation, I don't know why this would be necessary except perhaps for dynamically loaded modules. I'm not sure this would be sufficient in this case.

[2016-02-07 23:27] #108 closed

[2016-02-09 12:14] wzup opened #109 "Module build failed: Error: The style-loader cannot be used in a non-browser environment"
What error is this? How to resolve?

[2016-02-09 19:11] stuartmemo opened #110 "Readme doesn't provide clear description of what the project does"
Being new to Webpack, I was trying to figure out the difference between `css-loader` and `style-loader`. I'm assuming `css-loader` reads the contents of a CSS file, while `style-loader` understands that the contents of the files is a style and should be added to your page as such? Would be nice to have a clear description in the readme. :rose:

[2016-02-10 04:46] davidhouweling commented on #55
Has this been tested with relative pathed images (e.g. `url(image.png)`? It seems the solution provided is for absolute path images (e.g. `url(/image.png)`. I can't seem to use either solution suggested.

[2016-02-13 20:44] hellectronic commented on #109
It would be helpful to post your webpack config.

[2016-02-16 10:27] hackwaly commented on #66
Since the `.locals` object is a plain JSON object. we can store the last `.locals` and compare it with the incoming hot module's `.locals`. If they are structural equal. we can consider it has no side effect then `accept()` it.

[2016-02-18 05:27] #95 closed

[2016-02-18 05:36] Xazzzi opened #111 "Allow style/usable to chain with file-loader"
...or make something like `style/usable_file`.
This will help when stylesheet file that should be used is big enough and is used rather rarely to include it in bundle directly.
Also, seems really simple to implement: `style/useable!file` right now gives:

[code]

Replace `addStyles` with `addStylesUrl` and that should work.

[2016-02-18 06:28] Xazzzi commented on #109
@wzup you are using `style` loader, but you have no DOM where you can insert your `<style>` or `<link>` tags in your enviroment. Check this line from source:
[code]
You're probably executing your bundle code with nodejs, and i'm not sure why do you want css for server-side code.

[2016-02-18 07:19] Xazzzi commented on #111
Drop-in example to play with, that i made using existing source and bit of copy-paste (not tested with HMR or in any other way):
[code]

Then in `webpack.config.js`:
[code]
And finally use example:
[code]
Pros: include theme styles not inflating main bundle size.
Cons: each time `<link>` is removed from DOM and then inserted back there will be a network request (but that is cached, so whatever).

[2016-02-19 19:43] aganglada commented on #100
@scottwio it´s because of the sass-loader doesn't work with karma-webpack plugin, I commented the css inside the js and it works.

[2016-02-22 23:34] ChrisRus commented on #109
Building a site compiler that embeds webpack. The build process generates many of the files consumed by webpack and my intention is to include bootstrap CSS and glyphicons. I've actually got both server-side and client-side bundles being produced, and the final build step loads the webpacked entry scripts for each generated page in the site and pre-renders at build time (on Node.js).

But that fai

[2016-02-28 06:52] geekyme opened #113 "HMR with reference counting API"
I'm using the reference counting API for CSS modules in a react component

[code]

When I change `Testing.styl`, I get a build error:
`TypeError: Cannot read property 'category' of undefined`

This only happens when I am using the reference counting API.

[2016-02-28 07:01] geekyme commented on #113
It looks like the `locals` in the imported style module is missing on a hot reload.

[code]

[2016-02-29 00:03] pauldotknopf opened #114 "Using style-loader with pure V8 engine."
I am working on a project that uses an embedded V8 engine to render markup (universal rendering). We use webpack to generate the server-side script that will be loaded into the V8 environment.

[code]

We are using this loader.

[code]

When running the script compiled from webpack in the client, the `styles` variable get's built correctly with valid properties.

However, when I run that same comp

[2016-02-29 00:14] pauldotknopf commented on #114
After looking at the source, is it possible to configure web-pack to override the import of the file ```addStyles.js``` with something I have locally? This way, I can export a method that does nothing to a DOM/window.

[2016-02-29 23:35] pauldotknopf commented on #114
I was able to fix this by using the [extract-text-webpack-plugin](https://github.com/webpack/extract-text-webpack-plugin) for my server script that runs in a pure V8 environment.

[2016-03-02 17:19] jspears commented on #109
@ChrisRus - I am getting something really similar, at -
[code]
Can not imagine under what circumstances this would work.  Somebody would have to have modified
Object.prototype.navigator.  I do not remember any browser that does it, and would be really really bad.

[2016-03-02 17:27] magalhas commented on #109
I've actually created a PR that I think it solves this, at least if you're using local scopes. Check out #115

[2016-03-02 17:37] jspears commented on #109
@magalhas thanks, been thinking that should be there for a while, i've run into this a few times.

-To the universe-
 It would be really swell if style-loader could expose the needed css to the server somehow.  Need some ideas here, so that the page could be put together on the server and include the css in the original render server side.

  This would be extremely server dependent,  perhaps an o

[2016-03-02 22:01] tizmagik commented on #55
So unfortunately, this does not work when using CSS Modules, `:local`.

Has anyone been able to find another solution?

[2016-03-03 09:19] elektronik2k5 commented on #83
+1

[2016-03-03 17:56] wzup commented on #109
@Xazzzi,

Sounds reasonable. I do have React server rendering.

I don't want `css` for my server side code. I use React components from React-toolbox project (http://react-toolbox.com/#/components) and those guys embed styles into components.  Don't know how to solve yet.

[2016-03-03 23:41] Xazzzi commented on #109
@wzup, you can add your style-including code into bundle conditionally - omit it for server-side bundle.

One way of doing that is using `webpack.DefinePlugin` in conjunction with `webpack.optimize.UglifyJsPlugin`, like `react` does for error messages.

Then you can write conditions like:
[code]
If block will not appear in bundle unless in your `webpack.confing` you will have:
[code]
Because of de

[2016-03-04 15:54] es6Test commented on #42
@coderwin you are missing something, it doesn't compile because of:

arguments

[2016-03-05 15:01] coderwin commented on #42
[include es5-sh(i/a)m--> ES5Shim4Webpack](https://github.com/coderwin/ES5Shim4Webpack)

[2016-03-05 15:03] es6Test commented on #42
thx

[2016-03-05 17:22] schickling commented on #55
Facing the same problem at the moment...

[2016-03-11 01:15] wldcordeiro opened #117 "Get DOM node of required CSS"
I'd like to be able to assign a variable to the dom node of the required CSS, we utilize this to load a theme in our project and I'd like to be able to change themes by deleting the previous theme's node and creating the new one.

[2016-03-15 19:36] dpwrussell commented on #114
I have this exact same problem. Is there any way that it could be fixed in style-loader while leaving the CSS inline?

[2016-03-15 20:43] JonathanZWhite commented on #114
@dpwrussell So I'm running into the same issue trying to achieve universal rendering. I've seen some implementations use the `extract-text-webpack-plugin` that @pauldotknopf mentioned but looking at this example universal project, it seems like they might have solved this issue a different way?

https://github.com/erikras/react-redux-universal-hot-example

[2016-03-15 20:50] JonathanZWhite commented on #114
@dpwrussell Actually, search the code, it seems that they *do* use the `extract-text-webpack-plugin`.

https://github.com/erikras/react-redux-universal-hot-example/blob/615dfcd2562b8380e1d199b3d840d292358198dc/webpack/prod.config.js#L37

[2016-03-15 21:07] dpwrussell commented on #114
@JonathanZWhite Yeah, I have that in place as a temporary solution, but would prefer not to!

[2016-03-16 01:05] pauldotknopf commented on #114
Hey guys, I figured out how this is too be done correctly.

Use ```'css/locals?module'```, as demonstrated [here](https://github.com/pauldotknopf/react-dot-net/blob/master/src/React/Scripts/webpack/dev.config.js#L18).

For the client, just use ```'css?modules'```.

[2016-03-16 16:11] dpwrussell commented on #114
@pauldotknopf I don't see how that solves the problem, if I do that then my app will just not have any styles as they are not included in the javascript, nor are they built into a standalone CSS file like they would be with `extract-text-webpack-plugin`.

I could of course use `css/locals` in conjunction with `extract-text-webpack-plugin`, but that is what I am trying to avoid.

[2016-03-16 16:34] pauldotknopf commented on #114
This discussion is about using a V8 engine, which is essentially server-side rendering. The server-side script, you will use ```css/locals?module```, and it will not touch a non-existent window object.

Then, use ```css?modules``` for your script that will be delivered to the client to get your outputted css.

You have to generate two separate scripts. One for server rendering, and one for client

[2016-03-16 16:46] JonathanZWhite commented on #114
@dpwrussell I think @pauldotknopf might have a point. Taking a quick look at the webpack config he linked, it seems they have one config for their server and one for their client.

Personally, I resolved it by looking at [isomorphic-flux-boilerplate](https://github.com/iam4x/isomorphic-flux-boilerplate). So it's not super clean but they have an global variable `Browser` that determines whether not

[2016-03-16 17:33] dpwrussell commented on #114
I do have two configurations, one for the client and one for the server. The client is fine and the css is included in the javascript and loaded with `require`.

The server-build with `css/locals` would not have styles in javascript or in a separate file, so how could it possibly render correctly? It's easy to test this simply by disabling the client side portion of an isomorphic app.

The reason

[2016-03-16 17:57] pauldotknopf commented on #114
Yes, it is assumed that you are using an external css. How do you expect the server to render css with a full GET HTML request? Embedded into a <style></style> tag? I wouldn't recommend that. Just leave the style as an external css. Doing otherwise feels like we are going against the grain.

[2016-03-16 18:18] dpwrussell commented on #114
Yes, that was pretty much my point.

I have just come across this, which is along the lines I was imagining: https://github.com/halt-hammerzeit/webpack-isomorphic-tools, but it seems extremely complex.

[2016-03-18 20:40] BaoDelta commented on #109
I'm using webpack to compile my server code with React rendering and have this problem as well. The PR of @magalhas looks good. Can someone please test and merge it?

In the mean time, my workaround is using https://github.com/kriasoft/isomorphic-style-loader in webpack server config.

[2016-03-18 20:43] BaoDelta commented on #114
I think this issue is the same as #109. My workaround there is using https://github.com/kriasoft/isomorphic-style-loader and just replace loaders: 'style-loader!...' by loaders: 'isomorphic-style-loader!...'

[2016-03-24 19:58] essmahr commented on #74
+1

[2016-03-24 23:29] sokra commented on #111
This propably causes FOUC because there is a latency before the stylesheet becomes active.

But you can use the standard Code Splitting techniques to load themes on demand.

[code]

[2016-03-24 23:30] sokra commented on #117
Use the `useable API` for controlled activating and deactivating of stylesheets.

[2016-03-29 17:07] unimonkiez commented on #55
Me too

[2016-03-30 09:37] vvo commented on #56
This is already done, can be closed

[2016-03-30 09:49] Strate commented on #55
#96

[2016-04-08 11:16] akomm commented on #110
css loader just reads a css file, create a webpack module which contains the CSS-string read from file. It also finds css-specific imports/includes and read read those too (depending on include/exlude setting for the loader). style-loader injects a style-DOM-element containing the given string, which were read by css-loader.

[2016-04-08 14:14] ttbarnes commented on #100
Same issue here. Commenting out the sass imports it works, but this is not feasible for large scale projects with many components/sass files or running automated tests for example.

[2016-04-08 16:38] ttbarnes commented on #98
There doesn't seem to be an alternative to style-loader either. We may have to re-structure an entire large project purely because of style-loader issues. We are unable to run karma unit tests on components that utilise style-loader - not good (#100).

[2016-04-13 11:13] ttbarnes commented on #100
A workaround solution:

You can pass an arg in your npm scripts eg declaring `--sass=false`, and then from webpack config, push the style loader to your loaders depending on the sass arg.

[2016-04-20 14:34] MiMaMuh opened #118 "What does this loader do?"
There is a simple explanation missing what this loader is for and what it does. Just two sentences would be awesome! Thx.

[2016-04-22 01:17] meyer commented on #118
@MiMaMuh The first two code blocks in the README are commented with a description of what the code does:

[code]

In this case, the contents of `./file.css` will be added to the document.

[2016-04-24 18:30] furkanedu commented on #118
Still have no idea about what this loader is about ? How does it work ? Where does it load css rules etc. It would be great to hear a clear explanation.

[2016-04-25 02:56] luisrudge commented on #118
It loads all the rules inside the `<head>` tag with the proper `<style>` tag

[2016-05-09 09:39] ipy opened #121 "Blob links affects the styles later than JS execution"
html:

[code]

css:

[code]

js:

[code]

In this case, if css-loader is used with ?sourceMap option, the css will be generated as Blobs. However, it seems that it will take sometime for blob link to load. So `$('.test').show();` executes before `display: none;` takes effect, and nothing shows up.
It's fine to print css directly on the page.

Is there any way to enable source-map without that prob

[2016-05-17 21:01] IAMtheIAM opened #123 "Angular2 - ERROR: Expected 'styles' to be an array of strings."
Why does using style-loader with angular2 components and required css produce this error?

Webpack
```        loaders: ['style', 'css?sourceMap', 'sass?sourceMap']```

Angular 2 component
[code]

[2016-05-17 21:19] IAMtheIAM commented on #118
What they mean is that it "inlines" the styles like `<style> all my styles embedded here </style>` - so they are not external but in the `<head>` of the document

[2016-05-20 08:26] cchamberlain commented on #109
@wzup @BaoDelta  - What works best for me is shoving the style loading bit of my libraries into the componentDidMount hook of the react component. This lifecycle hook will not get called until client rendering occurs.  See https://github.com/cchamberlain/react-hatch/blob/master/src/lib/index.js#L77 for a working example.

[2016-05-22 00:48] meyer commented on #118
@luisrudge @MiMaMuh If you don’t understand how `style-loader` works or where it loads styles, you should probably read more about webpack before tackling specific loaders.

Have you got webpack running in your project already? If not, please do that before asking how a loader works. Once you wrap your head around the basics of webpack, `style-loader` (and every other loader) will make sense.

If

[2016-05-22 08:04] biblesyme opened #125 "could u please add 'singleton' to style/url"

[2016-05-23 06:53] furkanedu commented on #118
thanks @meyer .

[2016-05-25 06:07] waterstar opened #127 "HMR fail only when 'css' and 'style' loaders used"
The error message is the well reported - "webpack{hash}.hot-update.json 404 (Not Found)". However for my case, it is unlikely the "publicPath" issue as it is working when css related loaders aren't used. My Backend setup is Sails with "webpack-dev and hot-middleware". Could this be a bug when these modules are used together?  Thanks.

[code]

[2016-06-01 14:25] track0x1 opened #129 "Start documenting your changes in a log"
Where is it? I don't see a changelog anywhere.

[2016-06-09 15:10] braden-qualtrics opened #130 "Conditional Stylesheet"
It would be nice if there was an option to insert conditional stylesheets. So put them on the page like this:

[code]

Maybe something like this would work:

[code]

[2016-06-10 02:31] ChrisRus commented on #109
Suggestions made by @cchamberlain and @Xazzzi seem reasonable to me and require nothing more than clear separation of concerns so that code paths that are not required server-side do not get executed in that context.

@cchamberlain suggests an approach that would work in my specific scenario that leverages React's lifecycle callbacks to ensure that the style loader doesn't get required in unless t

[2016-06-10 04:47] cchamberlain commented on #109
@ChrisRus that also sounds like a good approach to me although I would think it would be more apt to attract the react dev errors telling you your server and client markup differ. I'd be interested to see if that is more or less performant with the styles not delivered with the initial bundle.  TBH I think the best approach would be if the style-loader didn't attempt to run window / document orien

[2016-06-11 22:05] am80l opened #131 "insertAt shadow root?"
I'm curious if this community has given any thought to use cases involving shadow elements.

What I'm envisioning is a capability that would allow you to inject styles into a shadow root, as opposed to just the head of the document, thereby preserving encapsulation for a given component.

I am admittedly new to web components, but using css loader to inject encapsulated styles into shadow elements

[2016-06-17 17:56] borntorun commented on #123
Did you resolved this issue?

[2016-06-20 10:48] daddywoodland commented on #123
I ripped off a solution from the [angular class web pack starter](https://github.com/AngularClass/angular2-webpack-starter).  They use the 'to-string-loader' for css.

`  {
        test: /\.css$/,
        loaders: ['to-string-loader', 'css-loader']
      }`

Haven't tried a production version yet but it got me going in dev.

[2016-06-20 15:56] borntorun commented on #123
I'm using 'extract-text-webpack-plugin' to extract css styles in a separate css file and I could not figure yet why I get these errors.

[code]

Thanks anyway for the feedback.

[2016-06-22 16:57] Ciantic commented on #17
Umm, If I add multiple @import statements to each component, it only includes it several times. I need to have my global styles as top, other orders I don't care.

[2016-06-27 07:01] dingfengsaniao commented on #123
@borntorun  I got the same problem just like you....did you resolve this issue?

[2016-06-27 09:59] daddywoodland commented on #123
@dingfengsaniao @borntorun This is a bit of a guess but I don't think the ExtractTextPlugin is 'overiding' Angular2's behaviour on the styles property, so whilst it's bundling everything up, Angular isn't really aware of the changes.

We got it working by importing global styles at the bootstrap level, rather than requiring them in the component style property.  That way ExtractTextPlugin knows to

[2016-06-28 01:46] dingfengsaniao commented on #123
@daddywoodland  this actually works!!! thank you very much!!!!

[2016-06-29 14:08] jrgleason commented on #123
What about this (it is what I did)....

    String(require('./app.component.styl'))

[2016-07-02 01:17] Alex51482 commented on #123
Has anyone solved this yet?

[2016-07-02 02:04] Alex51482 commented on #123
This is my workaround: ``

 styles:[require('./app.component.css').**toString**()]``

[2016-07-02 02:51] Alex51482 commented on #123
Sorry am a total noob on this and am sorry.  But I wanted to share my last workaround that finally worked for me.

I started with WebPack Sample here: [](https://angular.io/docs/ts/latest/guide/webpack.html )

Added to-string-loader dependency here -> [](https://github.com/gajus/to-string-loader)

In my wepback.common.js file I added the loader:

[code]
I am new to all of this so I apologize ahead

[2016-07-06 03:29] catmando commented on #109
I just ran into this problem, and I observe that the react-bootstrap (for example) code does this:

[code]
then
[code]
to prevent issues.

Could something similar be done here?

[2016-07-06 05:58] elektronik2k5 commented on #17
@forivall @Ciantic Personally, I think relying on order is a poor and fragile practice - which thus should be avoided. What if you shuffle styles during refactoring? What if you use optimizations such as https://github.com/ben-eb/postcss-merge-idents, https://github.com/ben-eb/postcss-merge-rules and https://github.com/hail2u/node-css-mqpacker ? What if you need to append stylesheets lazily to the

[2016-07-06 07:49] Ciantic commented on #17
Yes, I had an error, I did my importing in wrong place!

E.g.

[code]

when it *should be*:

[code]

So my problem was simply fixed by moving the importing of scss in top.

[2016-07-06 16:11] tarikjn commented on #114
This is not complete or production ready, as we released it just a few days ago, but might interest you: https://github.com/iheartradio/node-style-loader it behaves like style-loader but for the server-side (while isomorphic-style-loader differs)

[2016-07-07 17:53] mmajko commented on #109
Kinda disappointed that style-loader is client-only. How come no one ever noticed this when writing isomorphic React app?

[2016-07-07 17:57] catmando commented on #109
So I took the multiple entry point approach, and that worked well:

I just made an entry point called client_only, and loaded up anything related strictly to client there, and then that gets included only on the client side.  Problem solved.

[2016-07-11 13:56] edi9999 opened #134 "Singleton + sourcemap do not work together"
if I set "singleton&sourcemap" in my webpack options, it seems that sourcemap doesn't work anymore (eg no sourcemaps are generated at all)

It seems here : https://github.com/webpack/style-loader/blob/cff991ea90a416b44f4fa75c9cd6e1eb2d18b977/addStyles.js#L146 that both options cannot be used together.

Is this expected, and are they any workarounds around this ?

Without the singleton property, ou

[2016-07-12 20:33] aarmora commented on #123
@jrgleason Killed it.  Nice work, man!

[2016-07-13 13:54] ahstro commented on #131
I need this myself, and I'm working on a solution using a new option called `insertInto`, which will take a CSS selector to call `document.querySelector` with. This could allow you to insert the styles into the ShadowDOM using a `#host::shadow #someElement`-selector, if it exits prior to style-loader running (which is the part I'm having trouble with).

[2016-07-16 04:30] mohsen1 opened #136 "Throw earlier for non-browser environment"
[this line](https://github.com/webpack/style-loader/blob/master/addStyles.js#L14) runs before [this line](https://github.com/webpack/style-loader/blob/master/addStyles.js#L25) that throws `"The style-loader cannot be used in a non-browser environment"`.

[2016-07-16 09:33] Lihuanghe commented on #121
this may cause by  a bug of chrome.
ref:
https://www.nccgroup.trust/uk/about-us/newsroom-and-events/blogs/2016/february/script-injected-css-will-no-longer-block-rendering-in-chrome/
https://bugs.chromium.org/p/chromium/issues/detail?id=571725

resolve:
[code]

[2016-07-27 13:52] ahstro commented on #136
How? I might be reading it wrong, but it looks to me like the `throw`-line runs first thing in the loader, while the line you're pointing to is just a declaration of a function that is called [a few lines below](https://github.com/webpack/style-loader/blob/master/addStyles.js#L31)?

[2016-07-27 15:11] mohsen1 commented on #136
I didn't study the code very closely. Maybe I'm wrong but the error I was getting wasn't the thrown error I mentioned

[2016-07-27 23:45] ahstro commented on #136
I'm no expert at all, so I'm only guessing, but I think that the `non-browser`-error is only thrown if you're in some sort of debug mode. Maybe you were in in release or just undefined mode (no idea how one would define a mode to begin with)

[2016-08-03 07:44] mikehdt opened #138 "Can style-loader be added as an external?"
Hi, I'm working on a project which uses an NPM enterprise server to distribute and handle different modules which are then compiled by a host module. Keeping the module sizes down and avoiding duplicate bundled code is important for us.

At the moment, I've got our common code set up to use WebPack's `externals` feature to avoid duplicate code. However, in investigating why individual modules were

[2016-08-04 10:55] CrashyBang opened #139 "Loader strips out "/" character when inserting"
I am trying to use the `hack` framework: https://github.com/egoist/hack

Which takes advantage of the `\` syntax for example: `.cell\-4of12`.

However when the css is inserted it is converted over to: `.cell.-4of12`.

This results in an `Unknown word` error, here is a quick demo showing that the code does fail: http://codepen.io/crashy/pen/BzqjRk

Has this come up before is there anyway round this

[2016-08-05 19:50] iacii commented on #123
@Alex-Torres Thanks for sharing your solution! This worked for me and preserved view encapsulation which I couldn't get to work with some of the other suggestions.

[2016-08-11 15:34] sibelius commented on #109
@catmando could u please post a snippet of how to do this multiple entry point approach to solve this problem?

[2016-08-11 23:32] AlastairTaft commented on #109
@mmajko You have to use something like jss, react-look or isomporhic-stlye-loader. Would be nice if the style-loader checked if it was in a browser environment before adding styles to the document. So that it wouldn't cause runtime errors server side.

[2016-08-12 14:32] Nexxado commented on #123
@Alex-Torres Thank you, works for me as well.
and no need for "require" inside my component.

[2016-08-15 06:01] mbritton commented on #55
+1

[2016-08-17 08:58] Moezalez opened #140 "Error loading loader-utils"
I get an error when using webpack@2.1.0-beta.20 and style-loader@0.13.1:

[code]

When trying to parse a css file.

Loader-utils is installed, but for some reason it looks in my project folder for it.

[2016-08-18 19:46] #140 closed

[2016-08-18 21:26] wittibs commented on #123
@IAMtheIAM to answer your original question:
1. sass loader compiles your SASS down to CSS,
2. css loader resolves css imports and url(..)
3. style loader **injects result into DOM within a style tag**
The style loader is not returning a string as a result. You get the error because Angular 2 Component styles property expects an array of strings.
This should work ...
`loaders: ['raw', 'sass']`
raw

[2016-08-21 03:22] plashenkov commented on #140
@Moezalez I have the same issue. Have you found a solution?

[2016-08-21 14:17] Moezalez commented on #140
@plashenkov nope, I just rolled back to webpack 1

[2016-08-21 18:00] amannn commented on #109
I'm also running into this problem in development mode with an app that renders on both the server and the client.

In production mode it's no problem, since I'm using the extract text plugin for styles, but in development mode style loader breaks my app. My expected behaviour is that styles are just ignored on the server side. The only workaround I can think of is compiling the app separately for

[2016-08-22 14:05] cchamberlain commented on #109
@amannn Yes, the easiest way to avoid in a React app is to move your style loading into requires within componentDidMount component lifecycle hook since they are not executed server side.

I am working on a [universal-style-loader](https://www.npmjs.com/package/universal-style-loader) drop-in replacement for style loader but the docs are not exactly pristine and I'd label it experimental at this s

[2016-09-03 07:03] craigcosmo opened #141 "how make style work only with mounted component"
car.css

[code]

boat.css

[code]

Car.js component

[code]

Boat.js component

[code]

I have boat.js and car.js component. If car component is mounted, style will insert to header of document. Which make the div color global.

If boat component is mounted, same thing happen. Now, I unmount boat component. But the style tag is still there in the header. That makes my div in car component `red` co

[2016-09-06 08:47] mantou132 opened #142 "how get variables defined in the scss"
js file：

[code]

scss file：

[code]

`styles` there is no enumerated attribute

[2016-09-08 21:44] elisechant commented on #121
this is annoying, currently my solution is to do a programmatic setTimeout to delay JavaScript execution which is gross.

[2016-09-10 09:11] caisah opened #143 "Styles loaded twice"
Hi,

I'm using `style-loader@0.13.1` with `webpack@2.1.0-beta.22` and my file is loaded twice

![img](https://i.imgur.com/cdB919X.png)

Here is my `webpackfile.js`:
[code]

and my `app.jsx` file where I import the css:
[code]

Is there any way I could avoid this?
Thanks!

[2016-09-10 12:01] caisah commented on #143
OMG I made a rookie mistake: I have imported the `bundle.js` in my HTML template, so everything was loading twice.

Everything works just fine.

[2016-09-10 12:01] #143 closed

[2016-09-12 09:52] tzapu commented on #87
i m not sure what features you are loosing, but i was able to do the above using css-to-string-loader loader and just adding the style var manually

[2016-09-12 10:06] ronkorving commented on #87
How do you achieve that? In the mean time I released https://www.npmjs.com/package/dom-loader that can be used for this (and other elements).

[2016-09-12 10:10] tzapu commented on #87
i use a react render to iframe component and i needed css reset to be rendered in the iframe, not in the main head. using css to string, i load the css in a var and pass it to the Frame component
[code]

[2016-09-12 10:19] ronkorving commented on #87
What is "CSS to string"?

[2016-09-12 10:20] tzapu commented on #87
https://www.npmjs.com/package/css-to-string-loader

[2016-09-12 10:33] ronkorving commented on #87
Got it, I didn't know you meant it that literally :)
So what I do with my dom-loader is `{ test: /\.css$/, loader: 'dom?tag=style&attrs[]=type:text/css!css' }`

[2016-09-13 08:03] larsnystrom commented on #141
Looks like you want to use [css-modules](https://github.com/css-modules/css-modules) and the webpack [css-loader](https://github.com/webpack/css-loader).

[2016-09-19 11:05] pchiwan commented on #123
@wittibs YES! that did it, thanks man!

[2016-09-27 19:12] jetpacmonkey commented on #83
Any possibility that this gets done?

[2016-09-29 22:59] mikestead commented on #140
Not sure if the same cause as raised but for me this was an incompatibility of the latest `postcss-import` with webpack 2. As recommended [here](https://github.com/webpack/webpack/issues/2901) locking `postcss-import` to version `8.1.0` fixed the issue for me.

[2016-10-09 07:50] shek8034 commented on #18
I am having the same issue, here is my webpack configuration:-

[code]

And in the index.js, I am importing it as:-
`
import './index.scss'
`

index.scss file:-
`
body {
	margin: 0;
	background: cornsilk;
}
`

[2016-10-14 20:18] simshanith commented on #55
Still not working for me with an absolute public path, e.g. `/build/`. Even including the full public URL e.g. `http://example.com/build/` does not seem to work.

[2016-10-18 12:06] kukjevov opened #145 "HMR with webpack-dev-middleware, webpack-hot-middleware and Connect not working"
I have working HMR for typescript files, but i can`t make it working for scss files.

My server has following setup (snippet):

[code]

My webpack configuration (snippet) is:

[code]

When i change something in scss file i can see following in browser console.

[code]

When i refresh page i can see new styles applied. But HMR does not apply new styles. When i do some change in typescript file it i

[2016-10-29 10:29] SpaceK33z commented on #36
Closing since question has been answered.

[2016-10-29 10:29] #36 closed

[2016-10-29 10:31] SpaceK33z commented on #80
Closing due to inactivity.
Note that @tizmagik was right, you were including hot reload twice.

[2016-10-29 10:31] #80 closed

[2016-10-29 10:32] SpaceK33z commented on #71
As long as you use [sass-loader](https://github.com/jtangelder/sass-loader), this works now.

[2016-10-29 10:32] #71 closed

[2016-10-29 10:33] SpaceK33z commented on #31
Closing for reasons stated in the PR #33.

[2016-10-29 10:33] #31 closed

[2016-10-29 10:34] SpaceK33z commented on #110
Dupe of #70.

[2016-10-29 10:34] #110 closed

[2016-10-29 10:35] SpaceK33z commented on #47
Closing since it looks like it's been fixed.

[2016-10-29 10:35] #47 closed

[2016-10-29 10:39] SpaceK33z commented on #103
You can achieve this with source maps. Look in the readme for "source maps".

[2016-10-29 10:39] #103 closed

[2016-10-29 10:40] SpaceK33z commented on #17
Closing because it's possible to do this yourself by changing the import order.

[2016-10-29 10:40] #17 closed

[2016-10-29 10:41] SpaceK33z commented on #81
Do you still have this issue?

[2016-10-29 10:41] SpaceK33z commented on #79
This has been fixed with webpack v2.

[2016-10-29 10:41] #79 closed

[2016-10-29 10:42] SpaceK33z commented on #118
Dupe of #70. Note that we're working on adding better description in readme's for loaders soon.

[2016-10-29 10:42] #118 closed

[2016-10-29 10:43] SpaceK33z commented on #125
I'm closing this issue because of inactivity. Feel free to comment, and we can always re-open it again.

[2016-10-29 10:43] #125 closed

[2016-10-29 10:45] SpaceK33z commented on #41
Do you still have these issues?

[2016-10-29 10:46] SpaceK33z commented on #85
Closing since question has been answered.

[2016-10-29 10:46] #85 closed

[2016-10-29 10:48] SpaceK33z commented on #123
@wittibs answer is correct, so closing.

[2016-10-29 10:48] #123 closed

[2016-10-29 10:49] SpaceK33z commented on #75
Do you still have this issue with webpack v2?

[2016-10-29 10:51] SpaceK33z commented on #145
Have you tried using a full URL in `output.publicPath`? I would also suggest asking this question on StackOverflow, you'll get better help there.

[2016-10-29 10:51] SpaceK33z commented on #117
I'm closing this issue because of inactivity. Feel free to comment, and we can always re-open it again.

[2016-10-29 10:51] #117 closed

[2016-10-29 10:51] SpaceK33z commented on #48
I'm closing this issue because of inactivity. Feel free to comment, and we can always re-open it again.

[2016-10-29 10:51] #48 closed

[2016-10-30 16:10] syranide commented on #41
Just commenting to say that "I don't know" and I'm not using Webpack 2 yet so it's not trivial to check.

[2016-11-04 23:31] tnrich opened #147 "load css with media=all attribute"
Hey there,

I initially posted the following issue to: https://github.com/webpack/css-loader/issues/294
Someone told me I would be better served posting it here instead. Do you think you can help me?
Here is the issue:

I'd like to add the media=all attribute to the css files that webpack is generating:
![image](https://cloud.githubusercontent.com/assets/2730609/16501750/d720e1a4-3ebf-11e6-8e19-74

[2016-11-05 08:54] elektronik2k5 commented on #147
@tnrich, it looks like the attribute can be easily added here: https://github.com/webpack/style-loader/blob/9dc45a6dee16553a64071031d18feb1562df86a2/addStyleUrl.js#L12
I suggest makeing a PR to suppor this. I'd make it optional via a loader `query` (webpack1 term) or `option` (webpack2 term).

[2016-11-08 08:34] flyher commented on #42
@coderwin
It's worked.
but i have another question, when i import 'webpack-dev-server.js' ,IE8 show error: Object doesn't support this action.

![untitled](https://cloud.githubusercontent.com/assets/5570324/20092089/1cacbe00-a5d1-11e6-97b6-f0077afbe4a7.png)

[2016-11-10 10:46] kevinlaw91 opened #148 "Hot reload not updating the style for CSS Module in a React component"
When scss file is imported into a React component like this, hot reloading does not work as expected. The scss module was injected/replaced correctly, but new update was not applied.

[code]

Let me clarify this. The old style is removed by `style-loader`, but the updated new style does not get injected back, causing component loses all of their styles no matter old or updated ones.

After some re

[2016-11-16 03:48] xtianus79 commented on #123
This is still an issue

[2016-11-16 03:51] xtianus79 commented on #123
@SpaceK33z @Alex-Torres @wittibs I thought your solutions where the answer but alas they were not.  It produces a file but it doesn't actual process the sass scss in a normal format.  if I put in a variable for example it just shoe horns in the variable as if it were all string text.  nothing actually gets processed.  It's fine if it is plain css but if you're trying to actually use sass... no go.

[2016-11-16 13:04] wittibs commented on #123
@xtianus79 it sounds like you don't have sass-loader _or_ your webpack config isn't properly targeting sass files.

[2016-11-16 13:04] agrcrobles opened #149 "You need to specify 'style-loader' instead of 'style'."
BREAKING CHANGE: It's no longer allowed to omit the '-loader' prefix when using loaders.

[2016-11-17 21:46] kevinlaw91 commented on #148
Cannot reproduce anymore after some fix to configuration. Sorry.

[2016-11-17 21:46] #148 closed

[2016-11-18 10:32] SpaceK33z commented on #149
This has been fixed in the README. It wasn't a change in this loader btw, it was something in the new webpack beta.

[2016-11-18 10:32] #149 closed

[2016-11-21 05:59] tianyatomy commented on #123
@Alex-Torres Thank you so much!!!
This line works perfect for my application :
loaders:[ExtractTextPlugin.extract('style', 'css-loader'), 'to-string', 'css']

[2016-11-21 13:37] SpaceK33z commented on #87
@ronkorving, was your issue fixed with that loader? I don't think this functionality should be in style-loader.

[2016-11-22 07:50] ronkorving commented on #87
I went with my alternative at the time, so can't really say. It probably worked fine. I'll close this issue, sorry for having kept it open so long.

[2016-11-22 07:50] #87 closed

[2016-11-22 12:36] kukjevov commented on #145
I found solution and problem.

Problem was that i included generated style.js in html head, but it should be in body. Also 'webpack-hot-middleware/client' should be at the beginning of entry.

Closing this one.

[2016-11-22 12:36] #145 closed

[2016-11-26 11:06] Jeky11 commented on #123
@Alex-Torres Thank you! This is latest version
"@angular/***": "2.2.3"
"angular2-template-loader": "0.6.0",
"extract-text-webpack-plugin": "2.0.0-beta.4",
"webpack": "2.1.0-beta.27",
"css-loader": "0.26.0",
"to-string-loader": "1.1.5"

    test: /\.css$/,
    //loader: "to-string-loader!style-loader!css-loader?sourceMap"
    loaders: [
					ExtractTextPlugin.extract( { fallbackLoader: "style-loade

[2016-11-28 16:00] marvinhagemeister opened #152 "Access styles at runtime"
We are currently using a react-based styleguide called [react-styleguidist](https://github.com/styleguidist/react-styleguidist) which basically acts as a shell for custom components. Being based on webpack the styleguide-app itself makes heavy use of webpack and style-loader.

Now we have our first component where we need `position: fixed`. Elements with position fixed obviously don't respect the

[2016-12-01 03:19] FreezeSoul commented on #123
Thk
@wittibs

[2016-12-02 02:27] MarshallOfSound opened #154 "Can we get a new version published"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**
We need the fix from #144 please 👍  😄

[2016-12-08 15:09] felixmosh commented on #147
@elektronik2k5, i think that i should be [here](https://github.com/webpack/style-loader/blob/9dc45a6dee16553a64071031d18feb1562df86a2/addStyles.js#L130)

[2016-12-10 11:52] tux2323 commented on #123
For me this webpack setup works:
[code]

[2016-12-13 14:04] kristianmandrup opened #156 "Please add example config for webpack 2"
I would assume for webpack 2, it is

[code]

Please correct me if I'm wrong

[2016-12-13 15:19] SpaceK33z commented on #156
This will be updated soon, see https://github.com/webpack/webpack/issues/3195 for more info.

[2016-12-13 16:18] kristianmandrup commented on #156
Ah, thanks! I still see most of the webpack 2 examples using the `loaders` key... but it seems to works for now.

Apparently for beta 25 or less it still works without the `-loader`, but with beta 28 it errors and tells me to use specify the full name ie `css-loader` etc.
Cheers!

[2016-12-13 16:18] #156 closed

[2016-12-16 09:24] mrdulin opened #157 "How to use Reference-counted API?"
`webpack.config.js`:
[code]

`src/index.js`:

[code]

What's the `useable` mean? How to config with webpack loaders.
The `list.css` already append to `head` tag. I want to click the button to `toggle` `list.css`

[2016-12-16 10:22] mrdulin opened #158 "Can I use url and useable together?"
[code]

[code]

it seems not work.

[2016-12-23 14:32] SpaceK33z commented on #70
This was fixed by #120.

[2016-12-23 14:32] #70 closed

[2016-12-23 14:34] SpaceK33z commented on #56
Jup, this was fixed in #69 months ago.

[2016-12-23 14:34] #56 closed

[2016-12-23 14:36] SpaceK33z commented on #142
This loader has nothing to do with Sass variables. Please ask your question on StackOverflow if you're still having this issue, but be sure to provide more information than this.

[2016-12-23 14:36] #142 closed

[2016-12-28 02:09] JefferyHus commented on #123
for anyone who still has this issue, this is what I have used for a less stylesheet files:
[code]

[2017-01-11 06:25] nanjixiong218 opened #161 "duplicate css code in different styles"
**Do you want to request a *feature* or report a *bug*?**

no
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**
I want duplicate the css code in different styles,
when use singleton option , the css have the s

[2017-01-12 09:19] ilanc opened #163 "style-loader removes .css when webpack.DllPlugin's used and module.id's overlap"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
If you use DllPlugins which contain .css then there is a chance that module.ids of .css sections of the dll bundle will overlap with the app bundle (or other dll bundles). If there is an overlap in module.id then style-loader will remove the .css which was loaded first and replace it with the .css wh

[2017-01-13 10:33] phun-ky commented on #161
I have the same issue, and I have this config for dev:

    const config = {
      postcss: () => {
        return [
          cssnano
        ];
      },
      stylus: {
        preferPathResolver: 'webpack',
        use: [
          poststylus([
            autoprefixer({browsers: 'last 2 versions, > 1%'})
          ])
        ]
      },
      stylint: JSON.parse(fs.readFileSync(path.join(__dirn

[2017-01-14 08:42] Pines-Cheng commented on #55
meet the same question, just working for me with an absolute public path.

[2017-01-16 08:32] phun-ky commented on #161
While the original issue here is related to sass/less/stylus, a fix/hack/patch for this is to use the `optimize-css-assets-webpack-plugin` in conjunction with `extract-text-webpack-plugin` to produce, like this: https://gist.github.com/phun-ky/766e5ec9f75eac61c945273a951f0c0b.

If you want to use this in dev, you will have to use a plugin like `write-file-webpack-plugin` to force webpack to write

[2017-01-19 21:38] NukaPunk commented on #158
I'm not sure, but it looks like you should have `/url` switched to `url-loader` (and make sure it's installed).

[code]

[2017-01-23 05:24] pastelsky commented on #17
Changing the import order wouldn't help in the case where modules are lazy loaded. A module which is loaded later will insert the style tag below the last one, and override all the styles.

This is more of a problem in development, since in production one usually uses ExtractTextPlugin to concatenate css files in proper order. Using `ExtractTextPlugin` isn't an option in development mode without l

[2017-01-23 06:19] zhenghao-lee commented on #138
the same problem.

[2017-01-23 06:58] zhenghao-lee commented on #138
use plugin “extract-text-webpack-plugin”

[2017-01-25 11:15] krazi3 commented on #83
+1

[2017-01-25 11:42] phaistonian commented on #83
I did it a while back using `MutationObserver`.

Nothing fancy, but I'd definitely prefer it would be provided "natively".

[2017-01-26 20:08] jgornick commented on #17
@pastelsky I was curious if you found a solution to specify an order for imports. I would essentially like to have certain 3rd party imports be placed at the top, then followed by my application specific imports.

[2017-01-27 04:31] epanchintsev opened #167 "Angular 2 Universal "window is not defined" error."
When using with Angular 2Universal retrieve error "Call to Node module failed with error: Prerendering failed because of error: ReferenceError: window is not defined".
Obviouse error caused by using window object in that fragment of style-loader
[code]

[2017-01-27 06:25] pastelsky commented on #17
I'm afraid not @jgornick . In my case, it was just a couple of rules that were not playing well, and I added a `!important` rule to force them to apply.

This is obviously not a viable solution if you have more rules, plus such workarounds also go into production too.

[2017-01-27 06:59] muralim4242 commented on #55
`url(${require('app/images/Rectangle-9.jpg')})`

[2017-01-27 22:57] forivall commented on #17
@pastelsky you can also repeat selectors to increase specificity, i.e. `.selector.selector.selector`

[2017-01-31 13:07] wzup opened #168 ""box-shadow" is parsed wrong"
Not sure if this is an issue of `style-loader` but it looks so.

For some reason `box-shadow` returns value that is considered Invalid by browser. Why does it happen? How to fix?

In my `.scss`:
[code]

Returns this:
[code]

In a browser dev tools:

![compass - box-shadow - google chrome 2017-01-31 20 19 32](https://cloud.githubusercontent.com/assets/3880497/22465455/c1ebf04a-e7f6-11e6-9b29-98be2b

[2017-02-01 19:04] DerZyklop commented on #123
It‘s still an issue if you want sourceMaps AND scss (like @IAMtheIAM in the initial comment).

1: [This](https://github.com/webpack-contrib/style-loader/issues/123#issuecomment-227109937) works for **css**.

2: [This](https://github.com/webpack-contrib/style-loader/issues/123#issuecomment-227185413) works for **css + souceMap**.

3: [This](https://github.com/webpack-contrib/style-loader/issues/123

[2017-02-03 16:21] niksy commented on #134
Also looking for this. Is there any technical difficulty for implementing this?

[2017-02-03 17:10] JefferyHus commented on #123
@DerZyklop Have you tried this sass loader?
https://github.com/jtangelder/sass-loader
as described in the RADME.md to load sass files using css loader to extract styles you will have to do so:
If you need to define two different loader configs, you can also change the config's property name via sass-loader?config=otherSassLoaderConfig:
[code]
try this solution and if it works let us know thanks.

[2017-02-03 23:46] hyperh commented on #140
Getting the same issue.

[2017-02-06 19:54] #111 closed

[2017-02-07 01:06] pankajvishwani commented on #163
Please get options.cssBase workaround merged. Facing same issue where DllPlugin's css ids are conflicting with ids created while running webpack. Thanks @ilanc for your workaround.

[2017-02-07 05:57] ilanc commented on #163
@pankajvishwani I don't think this project is being maintained anymore

[2017-02-07 09:16] j-nord commented on #123
Since webpack 2 runs nothing. The message comes with all solutions. Finding the error in large projects is futile, because Webpack 2 simply does not issue a proper error message.

How can you really find the error. The existing solutions do not help any further. We have now found over 20 such alleged solutions. We look for 2 days the error but always the same error message:

**"Expected 'styles' t

[2017-02-09 15:50] UnGast commented on #167
I also experienced this with vue-server-renderer.

[2017-02-10 15:33] danielverejan opened #170 "Style-loader context"
In main stylesheet I have a url pointing to `../images/image.jpg`, style-loader takes it and inserts it on page. Now the context for `image.jpg` is the root of the project which results in a 404 error. Is there a way to set the context for the style-loader so it behaves like the styles are used from `css/index.css`?

Using webpack 1.4:

    {
        test: /\.(css|less)$/,
        loader: 'style?s

[2017-02-11 08:09] leobudima commented on #167
Same problem with React...

[2017-02-13 08:09] UnGast commented on #167
#159

[2017-02-13 16:24] danielverejan opened #171 "URL option with css!postcss!less loaders"
How can I use the URL option with other loaders?

I have this configuration
[code]
In a js file I require a index.less file, style loader adds a link like this
`<link rel="stylesheet" type="text/css" href="/localPath/Build/css/index.css">`

but it's content looks like this
[code]
What am I doing wrong?

[2017-02-13 17:03] fmatoss commented on #121
I have this issue too, after doing some research, I found that there was a bug preventing source maps in `<style>` tag from working, but it's working now for me in Chrome 56.

Relevant links:
https://github.com/webpack-contrib/style-loader/issues/30#issuecomment-61066831
https://bugs.chromium.org/p/chromium/issues/detail?id=456062

This probably would fix the relative path in `publicUrl` with sour

[2017-02-18 01:41] seanemmer commented on #37
Thanks for posting this.  I'm attempting to run Viewport Units Buggyfill as part of a similar Webpack build and am unable to successfully apply the viewport units to my targeted DOM elements.

Had a couple of follow up questions:

1) What is the 'patched viewport' referenced here?  Do I need to re-run this script for each DOM element I am applying CSS viewport properties to (in certain views there

[2017-02-18 01:48] gaearon commented on #37
Sorry, I don't remember anything about this 😔

[2017-02-27 03:05] dlin-me opened #177 "ReferenceError: self is not defined ( Mocha+JSdom )"
## Version

0.13.2

## Request

Bug

## Current behavior

Got the following error when running test cases with mocha+jsdom. **Same test run fine with version 0.13.1**

[code]

[2017-02-27 13:41] Alspaladin opened #178 "Breaks in node 0.12"
Version 0.13.2
Bug

Current version breaks in node v0.12 because of dependency update:
loader-utils from v0.2.7 to v1.0.2, which is compatible only with node >=4.0.0

[2017-02-27 13:56] michael-ciniawsky commented on #178
@Alspaladin This isn't a bug, node <`v4`  has officially reached EOL , time to upgrade :D. But release should have been a SemVer Major though

[2017-02-27 14:26] k0nserv commented on #178
Should be restricted with `engines` even if node has officially been EOLd

[2017-02-28 05:26] d3viant0ne commented on #178
Webpack dropped support for `0.10.x / 0.12.x` when NodeJS officially dropped their support of these versions.

`Webpack will continue to drop support for versions as NodeJS does`

As far as the engines, see https://github.com/webpack-contrib/organization/issues/7

[2017-02-28 05:26] #178 closed

[2017-02-28 06:14] Kovensky opened #179 "Potential crash in removeStyleElement when sourcemaps are enabled"
**Do you want to request a *feature* or report a *bug*?**
Bug report

**What is the current behavior?**

`TypeError: cannot read property 'removeChild' of null` in the line `styleElement.parentNode.removeChild(styleElement);`. The `styleElement` exists, but its blob URL is not registered, and the `parentNode` is `null`.

Looking a few stack traces up, in the `addStylesToDom` call, the bad function

[2017-03-02 14:39] ekulabuhov commented on #177
Hi! Do you mind providing a bare bone repro of your issue?

[2017-03-02 17:50] frodare commented on #177
This patch broke our testing build.  After looking into the problem we were able to fix it by defining a global self variable in our jsdom setup like this:

[code]

[2017-03-02 22:36] ekulabuhov commented on #177
This issue was caused by https://github.com/webpack-contrib/style-loader/commit/9dc45a6dee16553a64071031d18feb1562df86a2

The problem here is that `self` is only defined in Browsers and Web Workers. Unit tests running in NodeJs environment won't have access to `self`.

[2017-03-03 01:46] lowly2005 opened #180 "Syntax error : Use of const in strict mode"
Getting this error when trying to deploy my app on heroku.

56% 265/339 build modules/tmp/build_e583c980a208f2d132f008b26720559f/XXXXX-1099378b2f8347e19843b2c8c003bfb7de427f2c/node_modules/style-loader/node_modules/loader-utils/lib/index.js:3
       const getOptions = require("./getOptions");
       ^^^^^
       SyntaxError: Use of const in strict mode.
       at exports.runInThisContext (vm.js:73

[2017-03-03 02:11] lowly2005 commented on #180
Just upgraded the node version

[2017-03-03 02:11] #180 closed

[2017-03-05 18:46] FlyingDR commented on #177
Same issue breaks attempts to use `style-loader` to build Firefox add-ons (at least SDK-based) since `self` here contains no `navigator` property and it results into `TypeError: self.navigator is undefined` error

[2017-03-06 03:36] brandondurham opened #182 "CSS modules and composes colliding with style-loader?"
**Do you want to request a *feature* or report a *bug*?**
Possible bug.

**What is the current behavior?**
When using CSS Modules with `composes` alongside `style-loader` I get the following error in the browser console:

[code]

If I remove the `composes` from the relevant css files the page loads without errors.

**If the current behavior is a bug, please provide the steps to reproduce.**
I have

[2017-03-06 03:36] brandondurham commented on #182
Possibly related to #179 ?

[2017-03-06 14:21] ekulabuhov commented on #177
`style-loader` is designed to be used in the browser only. Both `self` and `navigator` are standard properties of HTML5 spec. While it is possible to make `style-loader` work in other environments, it is not something that is supported or guaranteed to work.

[2017-03-06 14:39] FlyingDR commented on #177
@ekulabuhov Since the only barrier for use of `style-loader` into other environments is a test for old IE browsers - what stops this test from returning `false` for these non-standard environments which are not old IE by itself?

Updating [this](https://github.com/webpack-contrib/style-loader/blob/master/addStyles.js#L14) line of code with something like
```return window && document && document.al

[2017-03-06 15:06] ekulabuhov commented on #177
@FlyingDR There's no problem with fixing this line. The problem is that there's no guarantee that the next feature/bug-fix will not break it. Best advice here is to make your environment match the Browser API as much as possible.

[2017-03-06 15:21] FlyingDR commented on #177
It is good point, but since there is real use cases when current code breaks builds - I think it is good idea to either update it to be more safe or at least to add some runtime error in development environment or maybe FAQ question so people that will not need to spend much time trying to find out why their build get broken by simple CSS attachment.

[2017-03-06 15:38] ekulabuhov commented on #177
I agree. And it should throw a runtime error as implemented here: https://github.com/webpack-contrib/style-loader/commit/0d5089b5f6815cc3a21a9c76e15ebb66cc80d7b0. But it seems like some test environments are able to bypass that check. Meaning that they simulate some parts of the browser API while leaving out other.

[2017-03-06 16:29] michael-ciniawsky commented on #83
@phaistonian can you propose a way to do/add it in `style-loader` or even better send a PR 😛 ?

[2017-03-06 16:33] phaistonian commented on #83
The following snippet illustrated the way I do it.

Works like a charm, but it's far from ideal -- I am guessing :)

In any case, `MutationObserver` is the way to do it in my case, however since this is not supported by legacy systems, one has to deal with the DOM events too.

Perhaps, "this" could point somewhere :)

[code]

[2017-03-06 16:35] michael-ciniawsky commented on #106
@danielb2 Can you provide an example for this please, I'm not sure if I fully understand what you whatt to achieve here. Is it for `@import https://path/to/import.css` ?

[2017-03-06 16:38] michael-ciniawsky commented on #168
Out of the blue I would blame one of the previous loaders for that, candidates are `postcss-loader` (autoprefixer) and `sass-loader`. Does this happen without 'style-loader` aswell?

[2017-03-06 16:41] d3viant0ne commented on #168
@wzup - Throw your config in the issue as well. Curious what your style related loader chain looks like.

[2017-03-06 16:45] michael-ciniawsky commented on #98
Yep :stuck

[2017-03-06 16:45] #98 closed

[2017-03-06 17:02] michael-ciniawsky commented on #114
`style-loader`'s main propose is to add `<style></style>` to the DOM, please use `extract-text-plugin` or any other 3rd party solution proposed in this post. PR is welcome, otherwise this doesn't have priority atm

[2017-03-06 17:02] #114 closed

[2017-03-06 17:11] michael-ciniawsky commented on #130
Related #146

[2017-03-06 17:16] michael-ciniawsky commented on #109
`style-loaders` propose is to add `<style></style>` to the DOM, use `extract-text-plugin` or #114 for other proposed solutions, implementing server-side rendering without a DOM has low/to none priority atm.

[2017-03-06 17:16] #109 closed

[2017-03-06 17:23] michael-ciniawsky commented on #129
`v1.0.0`will definitely have a `CHANGELOG.md`

[2017-03-06 17:23] #129 closed

[2017-03-06 17:33] michael-ciniawsky commented on #147
Will be fixed by #155

[2017-03-06 17:33] #147 closed

[2017-03-06 17:37] michael-ciniawsky commented on #93
Will be fixed by either #96 or #124

[2017-03-06 17:37] #93 closed

[2017-03-06 17:45] danielb2 commented on #106
it's been 1 year, 1 month and 12 days since I filed this. I have no idea about this, and it's not useful for me anymore

[2017-03-06 17:45] #106 closed

[2017-03-06 18:00] bebraw commented on #154
Done.

[2017-03-06 18:00] #154 closed

[2017-03-07 14:18] jAndreas opened #184 "Recommended configuration misleading"
**Do you want to request a *feature* or report a *bug*?**

report a bug

**What is the current behavior?**

Wrong documentation or wrong code. The "useable" feature from the style-loader won't get called if you set it up with the recommended configuration. The style-loader doesn't understand the "options" object, so creating an option field with the property "useable: true" doesn't affect anything

[2017-03-07 16:55] ekulabuhov commented on #184
Agree. `useable` is not an option, it's a path. Could you submit a PR?

[2017-03-08 14:37] michael-ciniawsky commented on #184
fixed by #185

[2017-03-08 14:37] #184 closed

[2017-03-08 16:51] PanJ commented on #179
Happened to me and then I tracked down and found this issue. Being recently discovered, could this be a bad combination of webpack & webpack loader versions? Tried to downgrade but still no luck.

[2017-03-08 17:34] michael-ciniawsky commented on #5
@jhnns @necolas @dashed Can this one be closed? Is `disable` still a considerable feature?

[2017-03-08 18:03] michael-ciniawsky commented on #58
Closing alongside with the PR, bc of shutdown from the author

[2017-03-08 18:03] #58 closed

[2017-03-08 18:04] michael-ciniawsky commented on #130
Discussion moved to #146

[2017-03-08 18:04] #130 closed

[2017-03-10 00:01] jhnns commented on #5
It can be closed, but a note in the README would be good that the styles should be applied in batches when used in production (for instance via [fastdom](https://github.com/wilsonpage/fastdom)).

[2017-03-10 05:35] kutuev commented on #123
@j-nord that's my solution:

{
                test: /\.css$/,
                exclude: path.join(__dirname,'/public/app'),
                loader: extractCss.extract({fallback: 'style-loader', use: 'css-loader'})
            },
            {
                test: /\.css$/,
                include: path.join(__dirname,'/public/app'),
                use: [
                {
                    loa

[2017-03-13 10:34] budarin opened #187 "Need to have Reference-counted API and Local scope CSS at the same time"
Why if I use Reference-counted API I have no access to local scope class names?
Does it mean that this modes nave not to be used at the same time

[2017-03-13 15:28] viksit commented on #147
@tnrich @felixmosh I'm trying to use this functionality with  "css-loader": "0.26.1" /   "style-loader": "0.13.1".

My webpack config looks like,

[code]

but I'm unable to see a new ID tag being added. Could someone advise on

a) how to use this feature in the loader format I'm using above and
b) how would I find the right version this appears in, in case I'm on something older?

[2017-03-13 15:51] michael-ciniawsky commented on #147
@viksit `attrs`is unreleased in `style-loader`, could you try by installing from git directly meanwhile?

**package.json**
[code]

[2017-03-13 15:53] michael-ciniawsky commented on #187
@budarin Please give an example why/what/how you mean that and in regrad of the usecase 😛

[2017-03-13 17:33] budarin commented on #187
I need to setup classes in a component & through hoc "Styled" in WillMount & WillUnmount handlers set/remove styles in document

[2017-03-13 17:34] felixmosh commented on #147
BTW, it suppose to be a json.

[2017-03-13 17:35] michael-ciniawsky commented on #187
and `style.use()/style.unused()` wouldn't work for you ?

[2017-03-13 17:36] budarin commented on #187
they work fine but I have not hash with classNames (

[2017-03-13 17:38] michael-ciniawsky commented on #147
@felixmosh 👍  Ohh...yep @viksit  `{ attrs: { id: "style-id-1" }} => { "attrs": { "id":  "style-id-1" }}`

[2017-03-13 17:42] michael-ciniawsky commented on #187
Please also post a component and pseudo code of the desired CSS usage (doesn't matter how it looks like) to clarify futher

cc @bebraw @d3viant0ne @ekulabuhov

[2017-03-13 17:50] budarin commented on #187
HOC Styled
[code]

Component
[code]

App.css
[code]

[2017-03-13 19:10] ekulabuhov commented on #187
@budarin Useable moves locals into a separate object:

var css = require('./localScoped.css');
css.locals.className === 'localScoped-className_3dIU6Uf';

Hope that helps!

[2017-03-13 19:23] budarin commented on #187
[code]
I see only ref/unref & use/unuse properties in css.
There is no locals in css object

[2017-03-13 19:30] viksit commented on #147
Hmm, so I did the following but still no luck. @michael-ciniawsky @felixmosh

[code]

[code]

and then,

[code]

but still,

[code]

![image](https://cloud.githubusercontent.com/assets/198669/23871746/e34bfa84-07e8-11e7-9445-12c741bacda8.png)

[2017-03-13 19:39] ekulabuhov commented on #187
Are you up to date? Could you post your loader versions?

[2017-03-13 19:45] michael-ciniawsky commented on #147
Maybe `{"attrs":{"id":"style-id-1"}} => &attrs={ "id": "style-id-1" }` not 💯 I'm using webpack 2 😛

[2017-03-13 19:46] michael-ciniawsky commented on #147
mom

[2017-03-13 19:48] budarin commented on #187
style-loader 0.13.2
css-loader 0.27.3

[2017-03-13 19:54] ekulabuhov commented on #187
Hmm, according to [style-loader docs](https://github.com/webpack-contrib/css-loader#css-scope) you need to wrap your css styles inside :local, e.g.:

:local(.big) {
  font-size: 24px;
}

[2017-03-13 20:18] michael-ciniawsky commented on #152
@marvinhagemeister Would #146 suit your needs?

[2017-03-13 20:21] viksit commented on #147
@michael-ciniawsky aaahhh. ok, is that what I should move to? (webpack 2?). I'm so new to react, I started with a template from the fb team which seems to use wp1(!).

I'll try this with webpack 1.14 in the meantime.

[2017-03-13 20:28] budarin commented on #187
accordin to [css-loader doc](github.com/webpack-contrib/css-loader)
[code]
setting modules: true - The loader replaces local selectors with unique identifiers. The choosen unique identifiers are exported by the module.

[2017-03-13 20:32] felixmosh commented on #147
@viksit, pay attention that the params mechanism in webpack works either with queryString or with an object....
You used both.
Try that:
[code]

[2017-03-13 20:36] viksit commented on #147
@felixmosh ah. I didn't realize that was the case - many thanks for the pointer, this works now.

[2017-03-13 20:42] michael-ciniawsky commented on #147
@felixmosh Yep like that, thx very much 👍

[2017-03-13 20:43] michael-ciniawsky commented on #187
@budarin Please make a small test repo for reproduction and debugging

[2017-03-13 20:43] ekulabuhov commented on #187
Sorry, I can't recreate your problem. Could you try deleting your node_modules folder and installing everything again? Or if you could create a minimal repo that has your problem I could take a look.

[2017-03-13 20:54] ekulabuhov commented on #152
I don't fully understand the problem here. @marvinhagemeister could you clarify if you need to modify your css to remove `position: fixed` OR do you want to insert your styles into an iframe? If latter, #135 seems like a solution for you?

[2017-03-13 20:55] budarin commented on #187
Ok, I'l try to create minimal project to reproduce tthe problem tomorrow or later 23:43, 13 марта 2017 г., Eugene Kulabuhov <notifications@github.com>:Sorry, I can't recreate your problem. Could you try deleting your node_modules folder and installing everything again? Or if you could create a minimal repo that has your problem I could take a look.—You are receiving this because you were mentioned

[2017-03-14 08:19] budarin commented on #187
Please try to install [https://github.com/budarin/simple-style-css-loader](https://github.com/budarin/simple-style-css-loader) and try run it
by default options are for use css module - imports hash object with hashed classnames

try then modify webpack.config.js 'style-loader' to 'style-loader/useable' and change in components classname acessors from styles.<classname> to styles.locals.<classname

[2017-03-14 22:02] ekulabuhov commented on #187
Hi! It appears that your issue is fixed but not published yet: https://github.com/webpack-contrib/style-loader/pull/128

You can try it out by npm installing from the repo directly. Or just wait a bit.

[2017-03-14 22:10] d3viant0ne commented on #187
I'll get it out shortly

[2017-03-14 22:11] michael-ciniawsky commented on #187
Of course..., I even merge that one 🤣 @ekulabuhov Thx

[code]
@budarin Please test and if there are still any regressions feel free to reopen :)

@d3viant0ne 👍

[2017-03-14 22:11] #187 closed

[2017-03-15 06:07] d3viant0ne commented on #187
`0.14.0` is out on npm.

Changelog can be found here - https://github.com/webpack-contrib/style-loader/blob/master/CHANGELOG.md

[2017-03-15 06:24] budarin commented on #187
Thanks!
It works.

[2017-03-15 20:29] tquetano-r7 opened #191 "Minification issue"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

When build in minification, it appears that in certain scenarios an additional `"` is added at the end of an `rgba` declaration. It is very hard to reproduce with a simple example, but confirmed that the built version in the file has a standard declaration (such as `rgba(0,0,0,0.5)`) and when injected int

[2017-03-15 20:43] tquetano-r7 commented on #191
so doing a bit more digging, it actually does look specific to URLs ... the example here is related to the `filter` fallback of inline SVG formation. Here it is in the file:

[code]
And in the DOM:

[code]

Notice the `rgba` declaration in `flood-color`. Certainly explains why I wasn't seeing it very much, it appears to only happen when encased in a URL string.

[2017-03-15 23:03] michael-ciniawsky commented on #163
@ilanc @pankajvishwani Discussion moved to #164

[2017-03-15 23:03] #163 closed

[2017-03-15 23:06] michael-ciniawsky commented on #191
Discussion moved to #192 Thx 😛

[2017-03-15 23:14] michael-ciniawsky commented on #167
@epanchintsev @UnGast @leobudima I'm sry you guys but `style-loader` won't support any SSR functionality and therefore this issue is sadly won't fix. See #159 for reasons and solutions/alternatives

[2017-03-15 23:14] #167 closed

[2017-03-15 23:21] michael-ciniawsky commented on #177
@FlyingDR Mind sending a PR with eventual fixes and to better discuss the issue?

[2017-03-15 23:29] d3viant0ne commented on #191
Leave issue open until the pull request lands, it can be closed from within the pull request by editing the initial users PR comment with `Closes #191`

[2017-03-16 08:23] FlyingDR commented on #177
@michael-ciniawsky I'm not quite sure if PR with solution [proposed](https://github.com/webpack-contrib/style-loader/issues/177#issuecomment-284414001) by me above will be acceptable, taking in mind obviously [correct](https://github.com/webpack-contrib/style-loader/issues/177#issuecomment-284421710) [comments](https://github.com/webpack-contrib/style-loader/issues/177#issuecomment-284432423) from

[2017-03-16 08:25] deot commented on #123
you can try it,I solved the problem, but I was still very surprised
[code]

[2017-03-16 19:30] sullenor opened #194 "Webpack adds the nodejs shims when they actually not necessary."
**Do you want to request a *feature* or report a *bug*?**

I think it's a bug (not sure).

**What is the current behavior?**

Webpack includes in the resulting bundle nodejs shims for buffer, process and path modules when they are actually not necessary. It adds about 30kb in the minified bundle.
I faced this issue after updating version of webpack from 1.x to 2.x.

**If the current behavior is a

[2017-03-16 21:07] michael-ciniawsky commented on #194
We need to investigate but not sure if we can fix it easily, as a workaround could you try

**webpack.config.js**
[code]

I know it's inconvenient and shlouldn't be a requirement to use `style-loader` or any other loader, but for the meantime 😛

[2017-03-16 21:22] #191 closed

[2017-03-16 21:34] michael-ciniawsky commented on #138
@mikehdt For production please use `extract-text-webpack-plugin` instead, where you get the clean CSS extracted from the bundle into a separate file (parallel loading), while I agree that there maybe ways to dedupe, `style-loader` is more for development proposes and this has not high priority atm.
If you have something in mind please feel free to propose a solution via PR/Gist, I'm closing this f

[2017-03-16 21:34] #138 closed

[2017-03-16 21:37] michael-ciniawsky commented on #113
@geekyme Can you please setup a test repo to investigate further?

[2017-03-16 21:41] michael-ciniawsky commented on #168
@wzup Please provide your config and/or a test repo for further debugging, in case the issue is resolved please confirm and close the issue. Also ensure you use the lastest version of `style-loader`

[2017-03-16 21:42] michael-ciniawsky commented on #161
@nanjixiong218 Please see @phun-ky comment. @phun-ky Thx 👍

[2017-03-16 21:42] #161 closed

[2017-03-16 21:47] michael-ciniawsky commented on #158
@mrdulin @NukaPunk Could one of you  please confirm if the solution with `url-loader` works, I doubt it to be honest 😛 . @mrdulin The problem it that `style-loader/url/useable` isn't a module, maybe

`style-loader/url!style-loader/useable!...`

but untested if that conflicts somehwere

[2017-03-16 21:51] michael-ciniawsky commented on #141
@craigcosmo Please @larsnystrom has stated out take a look at CSSModules to avoid global styles in your component based architecture all together. `css-loader` has this build in
`{ loader: 'css-loader', options: { modules: true } }`

[2017-03-16 21:51] #141 closed

[2017-03-16 21:54] michael-ciniawsky commented on #66
@hackwaly Could you propose your comment via PR 😛 ?

[2017-03-16 21:54] #66 closed

[2017-03-16 21:57] michael-ciniawsky commented on #104
Please reopen this in https://github.com/webpack-contrib/restyle-loader 😛

[2017-03-16 21:57] #104 closed

[2017-03-16 21:58] #50 closed

[2017-03-16 22:02] michael-ciniawsky commented on #41
@jonasi @syranide Sry to come again with the standard blub blub 😛 Is this still happening? webpack 2 ? latest `style-loader`? related to #122 ?

[2017-03-16 22:03] #5 closed

[2017-03-16 22:05] michael-ciniawsky commented on #75
@syranide Actually I would say this is `css-loader` rewriting URL's but I need more info on this, could you please provide your config and maybe a test repo fro reproduction proposes?

[2017-03-16 22:57] michael-ciniawsky commented on #182
@brandondurham Mind to send that check as a PR 😛 ?

[2017-03-16 22:57] michael-ciniawsky commented on #179
@Kovensky 👋 Do maybe have a fix in mind ? 😛 See also #182

[2017-03-16 23:01] michael-ciniawsky commented on #136
According to #159 (last comment) any kind SSR(-ish) support in `style-loader` will be rejected in the future, `style-loader` will only work within the browser. For SSR(-ish) solutions also see #159 Thx 😛

[2017-03-16 23:01] #136 closed

[2017-03-17 00:23] michael-ciniawsky commented on #127
@waterstar Please provide more info (`webpack.config.js`, `package.json`) etc. Also ensure to use the latest `style-loader`

[2017-03-17 00:25] michael-ciniawsky commented on #100
Please reopen in `karma-webpack` && `sass-loader` and if anything related to `style-loader` should cause regressions feel free to reopen Thx 😛

[2017-03-17 00:25] #100 closed

[2017-03-17 00:29] michael-ciniawsky commented on #44
Related to #135

[2017-03-17 00:35] michael-ciniawsky commented on #45
@dwoldrich Please use `extract-text-webpack-plugin` (recommended) instead. Mind sending a quick PR with the `?[hash]` proposal for futher discussion 😛  ?

[2017-03-17 00:35] #45 closed

[2017-03-17 00:37] Kovensky commented on #179
Nope, I still have no idea how this happens 😆

I just tried to debug the current state as of the crash, but I don't know what leads to the bad state. I ended up making a hack loader to delete the specific `@import` that pointed to the (ultimately) empty file before css-loader saw it 😕

[2017-03-17 00:37] michael-ciniawsky commented on #171
@danielverejan Is this resolved by `restyle-loader` 😜 ? If it isn't please reopen

[2017-03-17 00:37] #171 closed

[2017-03-17 00:39] michael-ciniawsky commented on #139
@CrashyBang This maybe related to `css-loader` if this is still relevant, in any case I need more info (`webpack.config.js`, `package.json`) etc.

[2017-03-17 00:45] michael-ciniawsky commented on #91
@localnerve Is this still relevant? Did you find a solution in the meantime? Why not referencing the the public url in index.html directly? 😛

[2017-03-17 00:46] michael-ciniawsky commented on #81
@sap9433 Still getting this error with the latest `style-loader`? In need more info on this (`webpack.config.js`, `package.json`, webpack && webpack.dev-server versions) etc

[2017-03-17 00:53] michael-ciniawsky commented on #179
Could you link me to the code? But I have the slight feeling it will be complicated 🤣

[2017-03-17 00:58] michael-ciniawsky commented on #157
@mrdulin `useable` means that `style-loader` injects the `style.use()` `style.unuse()` API you need to use `style-loader/useable!css-loader`. Thos should be [better] documented I'm sry for the inconvenience

[2017-03-17 01:01] michael-ciniawsky commented on #131
Fixed by #135

[2017-03-17 01:03] michael-ciniawsky commented on #91
@localnerve Maybe related #16

[2017-03-17 01:56] d3viant0ne commented on #83
`Adds CSS to the DOM by injecting a <style> tag`

This feature, regardless of it's utility doesn't belong in `style-loader`. IMO if the functionality is that useful, a new loader should be created to accomplish this task and then chain them.

[2017-03-17 05:51] bebraw commented on #83
Yeah, a separate loader would work better.

[2017-03-17 05:51] #83 closed

[2017-03-17 08:01] sullenor commented on #194
@michael-ciniawsky looks like I came to the similar workaround :)
thank you!

[2017-03-17 08:06] syranide commented on #41
@michael-ciniawsky Sorry, still haven't had time to upgrade to webpack 2 🙈

[2017-03-17 08:17] DhanushKS commented on #123
css not rendering globally angular-2
can anyone help

zone_symbol__error
:
Error: Expected 'styles' to be an array of strings. at assertArrayOfStrings

@Component({
....
styleUrls: ['./../styles.css'],
})

[2017-03-17 13:41] ekulabuhov commented on #121
There's a planned feature for vNext of the style-loader that will potentially solve this problem. If you're still experiencing this issue could you give it a go and report back on whether it helps? Thank you!

PR: #165

[2017-03-17 16:16] localnerve commented on #91
@michael-ciniawsky The public url IS referenced in the html with this issue. Restating the crux:

The work around is to not use this component if you have style assets that map to anything other than a physical, build time location. I might have some time to work on this if there is interest.

Problem stated another way in example:

[2017-03-17 19:26] #131 closed

[2017-03-17 23:34] michael-ciniawsky commented on #91
@localnerve I understand, is that issue for `style-loader` in particular (it's code base) or more of an general webpack/`require()` issue? Please go ahead if you have time, any solution/proposal/discussion about it highly welcome 😛

[2017-03-20 12:44] syranide commented on #75
[code]

Unfortunately I don't have the time to debug this further right now (and we're still on Webpack 1), but I can confirm it still appears to be happening as above. These are the relevant parts of the config I think:

[code]

[2017-03-20 21:42] karolyi opened #195 "please turn convertToAbsoluteUrls explicitly off."
Hey,

I just spent half a day with investigating why my webpack live server (with `style-loader`) was corrupting the converted bootstrap CSS source.

turns out the culprit is `convertToAbsoluteUrls`. it entered 9 days ago (https://github.com/webpack-contrib/style-loader/blame/master/addStyles.js#L261-L266) into the codebase.

Unless you don't intentionally want to cause headache for other devs lik

[2017-03-20 22:28] karolyi commented on #195
some more information: this setting adds urls to blob: attributes. that's definitely a bug.

[2017-03-20 23:26] michael-ciniawsky commented on #195
@karolyi Config and a small example please

[2017-03-20 23:28] michael-ciniawsky commented on #195
Just to confirm, this isn't an option for you ?

[2017-03-20 23:29] michael-ciniawsky commented on #195
Eventual docs update needed

[2017-03-20 23:52] karolyi commented on #195
Right now I don't have an easy example, but here's a bug that convertToAbsoluteUrls was causing.

After transpiling bootstrap.scss into CSS, [this line](https://github.com/twbs/bootstrap/blob/v4-dev/scss/_navbar.scss#L270) that uses [this variable](https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss#L590) is corrupted as the variable adds the current url to the `url("data:image/svg+

[2017-03-21 01:49] michael-ciniawsky commented on #195
@sontek Sry for pinging you again on this, but would you be so kind and take a look again providing me some guidance what to do about it 😛 e.g could it be disabled by default or would it break builds the other way around then again 🙃 ?

[2017-03-21 01:55] michael-ciniawsky commented on #75
This seems to be and I'm pretty sure it is a `css-loader` issue, please reopen at `css-loader`with the loader version in use. The '.' smells like `query.root` bug there, we have some of these @css-loader already and fix is underway, but unlikely for webpack v1 😛

[2017-03-21 01:55] #75 closed

[2017-03-21 01:56] michael-ciniawsky commented on #158
@mrdulin @NukaPunk If my last post didn't bring any results feel free to reopen anytime 😛

[2017-03-21 01:56] #158 closed

[2017-03-21 02:10] michael-ciniawsky commented on #177
@FlyingDR Well I'm not sure about it 🙃 , seems it happend here https://github.com/webpack-contrib/style-loader/commit/9dc45a6dee16553a64071031d18feb1562df86a2 if you not pissed of enterily if the PR gets rejected, send one please for futher discussion, otherwise I fully understand if you're not interested at all 😛

[2017-03-21 02:10] #177 closed

[2017-03-21 02:11] sontek commented on #195
@karolyi What version of `style-loader` were you using?  This sounds like the issue we fixed in the last PR

[2017-03-21 02:14] sontek commented on #195
Oh, looks like no one released that fix.  I'm sorry about that @karolyi this is actually fixed (and has been fixed for 4 days), it just hasn't been released to `npm` yet.

@michael-ciniawsky Any chance you can push a release with the fix?

[2017-03-21 02:16] michael-ciniawsky commented on #195
@sontek Thx

cc @d3viant0ne @bebraw

[2017-03-21 02:24] #195 closed

[2017-03-21 02:41] sontek commented on #195
Should we keep this opened until we release and he verifies?

[2017-03-21 03:11] d3viant0ne commented on #195
It's already been released

[2017-03-21 09:35] karolyi commented on #195
I'll test it soon and give you guys a feedback. bear with me :)

[2017-03-21 10:09] karolyi commented on #195
can confirm it seems to have fixed in `0.15.0`. yesterday I was using `0.14.1`.

cheers guys

[2017-03-21 10:36] FlyingDR commented on #177
@michael-ciniawsky I've added pull request #196

[2017-03-21 13:39] sontek commented on #195
*phew* I was going to be very confused if that PR didn't fix it :D

[2017-03-21 18:15] diegohaz commented on #182
I'm also having this problem and `if (styleElement.parentNode === null) return false;` solved it (at least, it didn't crash).

[2017-03-21 20:00] NukaPunk commented on #158
No I think you are correct @michael-ciniawsky , `style-loader/url/useable` isn't a module.

In my answer my assumption was that @mrdulin was looking for a way to chain `style-loader/useable` with `url-loader`. If this is incorrect let me know and I can try to be of more help.

[2017-03-22 02:41] michael-ciniawsky commented on #158
@NukaPunk Still confused by what is the actual usecase and if `url/file-loader`are compatible at all 😛. I think  `raw-loader` is the better solution here `use: [ style-loader', 'raw-loader' ]` to convert the CSS String into a module and let style-loader add it to the DOM or if the file doesn't need any tranformation or a component is depending on it during build time just add a `<link>` in the `in

[2017-03-22 13:47] d3viant0ne commented on #177
Released and published as `style-loader@0.16.0`

https://github.com/webpack-contrib/style-loader/blob/v0.16.0/CHANGELOG.md#change-log

[2017-03-24 17:07] lunikon commented on #182
I'm pretty sure I'm seeing this exact issue. Except that I'm using less-loader instead of postcss-loader.

[2017-03-24 21:52] alex88 commented on #123
@deot but in your case, does image referencing works?

[2017-03-25 22:12] tsnieman opened #199 "window -> self change causes errors with other projects"
Hello - I just wanted to bring attention to this comment: https://github.com/webpack-contrib/style-loader/commit/9dc45a6dee16553a64071031d18feb1562df86a2#commitcomment-21377913

Which notes that this change - 9dc45a6dee16553a64071031d18feb1562df86a2 - broke isomorphic-webpack. (see gajus/isomorphic-webpack#20)

Thoughts on using `window.self` instead of `self`?

[2017-03-25 23:41] michael-ciniawsky commented on #199
@tsnieman https://github.com/webpack-contrib/style-loader/blob/master/addStyles.js#L19 Could someone using `isomorphic-webpack` try against latest `style-loader@latest` ? 🙃

⚠️  It's definitely agreed upon **not** supporting any SSR-ish functionality within `style-loader`, only browser + third parties mimicking the DOM (e.g JSDOM) (not 💯 sure if this applies here)

[2017-03-26 08:05] josueadelima commented on #123
This configuration works for me

[code]

[2017-03-26 19:25] royair opened #200 "style-loader modules adds ~27kb to bundle.js?"
I've created a simple webpack 2 project with plain html file + index.js with an import to an empty .css.
then ran webpack with `-p --env=production`

it seem that although uglification (is that a word?) and minification the end result weigh more 28kb!
when commenting out the import .css statement  - bundle.js returned to a more adequate 1kb size.

is it normal for style-loader to add a 27kb to a p

[2017-03-26 22:05] michael-ciniawsky commented on #200
This is a known issue atm, `style-loader && css-loader` require the `Buffer` polyfill for sourcemaps, a bit of overhead is normal during the fact that `style-loader`  adds it's logic to the bundle. For production I highly recommend using `extract-text-webpack-plugin`(parallel loading of CSS/JS) + removed webpack specifics in th CSS.For development try

**webpack.config.js**
[code]

Feel free to re

[2017-03-26 22:05] #200 closed

[2017-03-26 22:10] michael-ciniawsky commented on #168
@wzup If you still have this regression, see the previous comments and feel free to reopen 😛

[2017-03-26 22:10] #168 closed

[2017-03-26 22:11] michael-ciniawsky commented on #139
@CrashyBang If you still have this regression, see my previous comment and feel free to reopen 😛

[2017-03-26 22:11] #139 closed

[2017-03-26 22:16] michael-ciniawsky commented on #127
@waterstar If you still have this regression, see the previous comments and feel free to reopen 😛

[2017-03-26 22:16] #127 closed

[2017-03-26 22:17] michael-ciniawsky commented on #81
@sap9433 If you still have this regression, see the previous comments and feel free to reopen 😛

[2017-03-26 22:17] #81 closed

[2017-03-26 22:19] michael-ciniawsky commented on #113
@geekyme  If you still have this regression, see the previous comment and feel free to reopen 😛

[2017-03-26 22:19] #113 closed

[2017-03-26 22:41] michael-ciniawsky commented on #44
Closed by #135

[2017-03-26 22:41] #44 closed

[2017-03-26 22:44] michael-ciniawsky commented on #91
@localnerve I'm closing this for now since it seems not directly related to `style-loader`, if anything comes to your mind or you have another regression please open a new issue 🙃

[2017-03-26 22:44] #91 closed

[2017-03-27 22:12] ramusus commented on #180
@lowly2005 Did you solve this issue by simple upgrading node version?

[2017-03-28 00:09] lowly2005 commented on #180
@ramusus  yes

[2017-03-28 14:57] sokra opened #201 "split addStyle into parts"
**Do you want to request a *feature* or report a *bug*?**
refactoring

**What is the current behavior?**
`addStyle` include all runtime code. Depending on provided options only a part of the code is used.

Debug only feature (i. e. sourceMaps) are included in the production bundle.

**What is the expected behavior?**
Only the needed code is loaded. The loader decides on compile-time which runtime

[2017-03-29 11:27] graingert opened #202 "release v1"
It seems a lot of changes recently from 0.x to 0.x+1 have had no breaking changes reported in the changelog: release v1 and stick to semver re: breaking changes, so I can use the ^1.0.0 semver range

[2017-03-29 20:36] jasonLaster opened #203 "No-Op in a worker"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Currently, `addStyles` errors when running in a worker context.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. add `require("styles.css")` to `foo.js`
2. `new Worker("foo.js")`

**What is the expected behavior?**

`addStyles` is a no-op in the worker context and does

[2017-03-30 00:11] michael-ciniawsky commented on #202
@graingert In progress 😛 , but we are changing internals `webpack-defaults` beforehand and refactor the code keeping the current features, while the API (`options`) may change for better usage in `v1.0.0` alongside with other refactorings #201, that eventually may or may not be `breaking chnages` for someone. Starting form `v1.0.0` `style-loader` and other webpack-contrib projects will keep strict

[2017-03-30 00:11] #202 closed

[2017-03-30 00:15] michael-ciniawsky commented on #203
@jasonLaster See #201 for the general plan regarding `addStyles`, maybe this could go hand in hand, tbh I'm not really familiar with Web Worker's atm, any help or PR even for discussion/testing is highly welcome :)

[2017-03-30 08:40] terencechow opened #205 "Feature request: Prevent duplicate injection of CSS into the dom"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I have Repo A which imports components from Repo B. Both Repo A and Repo B use CSS modules and use bootstrap-css (a css_modules compatible bootstrap). When I do something like `composes: btn from bootstrap-css/lib/buttons;` in Repo A, it doesn't matter how many files I do that in, that buttons css

[2017-03-30 10:17] michael-ciniawsky commented on #205
@terencechow One starting point could be [here](https://github.com/webpack-contrib/css-loader/blob/master/lib/css-base.js), `css-loader` doesn't just export a `{String}` => `[id, [css.content, css.map, css.locals ]]` which style loader uses to avoid duplicates, but this is in any case a more tricky request and I need more info, like a test repo and can't guarantee anything yet how and where this n

[2017-03-31 10:26] MrOrz commented on #182
Encountered this with `webpack.NamedModulesPlugin`. Removing `new webpack.NamedModulesPlugin(),` from `plugins` works for me.

Reference: http://stackoverflow.com/a/43080181

[2017-04-01 10:52] QuantumInformation opened #206 "Can't resolve './fixUrls' in '/Users/nikos/WebstormProjects/Density-Wars/node_modules/style-loader'"
I have this config here

https://github.com/QuantumInformation/Density-Wars/blob/master/webpack.config.js#L36

When I try run `webpack` I get the following error:

![image](https://cloud.githubusercontent.com/assets/216566/24578110/97419232-16d1-11e7-8f0f-476f8d293517.png)

[2017-04-01 10:57] olieidel commented on #55
just stumbled over this. if setting `publicPath` is not working for you, you probably are making the same mistake as I was by setting `publicPath` in the `devServer`config. it should be set in the webpack root config object in `output`.  have a look:

doesn't work:
[code]

works for me:
[code]

be sure to only set it in dev, who knows what this would do in your production build. good luck!

[2017-04-04 02:31] nickproz commented on #123
Thank you very much sir. It complained that 'loader' should be 'loaders', but otherwise, worked for me! <3

[2017-04-04 02:53] josueadelima commented on #123
@nickproz its weird I have it in singular and works without any problem, I'll try in plural, actually makes more sense plural than singular, I'm using this configuration because, if for example you use raw, then css is not parsed and url for background-images, doesn't get hashed if your are using hashes for cache, css-to-string-loader makes the trick :-)

[2017-04-04 07:10] pastelsky opened #207 "InsertInto option doesn't work when a selector to a shadow element is specified."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Style loader fails to find the DOM element to insert the styles into, when a css selector having a shadow root is used like `#host::shadow>#root` as specified in the example.

This is probably happening because `style-loader` internally uses `document.querySelector` to get the DOM element to insert to,

[2017-04-04 15:18] willhalling commented on #206
+1 same issue.

[2017-04-04 15:33] QuantumInformation commented on #206
For some reason this error has disappeared for me, closing.

[2017-04-04 15:33] #206 closed

[2017-04-06 13:33] lysenkobv commented on #55
@simshanith to make it work specify `publicPath` for `file-loader`
[code]

it will change URL in your CSS from relative to absolute

[2017-04-07 12:06] evilebottnawi opened #209 "Reduce package size"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

The package contains files that are unnecessary for work (.github template, tests and etc)
For see all files run `npm pack` and open archive.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is

[2017-04-07 16:10] michael-ciniawsky commented on #209
😆 👋  Yep PR welcome, preferable via `pkg.files`

[2017-04-07 18:03] michael-ciniawsky commented on #209
Closed by #210

[2017-04-07 18:03] #209 closed

[2017-04-07 21:52] jeff-kilbride commented on #206
I just upgraded from 0.13.2 to 0.16.1 and I'm getting this same error.

@QuantumInformation  any idea how it was fixed for you?

[2017-04-07 21:56] QuantumInformation commented on #206
Sorry can't say, did you look at my config?

[2017-04-07 22:01] jeff-kilbride commented on #206
You're config looks pretty straightforward. Mine is here:

https://gist.github.com/jeff-kilbride/e58a6831546efeb43fef8fae6b2d1da6

This is the line that's causing a problem, or at least giving the error:
[code]
However, the file `fixUrls.js` does exist in my `style-loader` directory. So, I'm confused as to why it can't resolve the file.

[2017-04-07 22:34] jeff-kilbride opened #211 "Error: Can't resolve './fixUrls'"
**Do you want to request a *feature* or report a *bug*?**

Possible bug.

**What is the current behavior?**
Upgrading from 0.13.2 to 0.16.1 produces an error.
[code]
The `fixUrls.js` file is located in my `node_modules/style-loader` directory, but it is not being resolved correctly by the `require` statement in `addStyles.js`:
[code]
Here is a listing of my `style-loader` directory:
[code]
Same as

[2017-04-07 22:49] jeff-kilbride commented on #211
Downgrading to `0.13.2` resolves the problem. I've tried all versions between `0.13.2` and `0.16.1`. It looks like it first occurs in `0.14.0`.
[code]
[code]
Let me know if there is anything else I can provide.

[2017-04-07 23:49] michael-ciniawsky commented on #211
@jeff-kilbride Could you try

- without ETWP
- filename without `../` (https://gist.github.com/jeff-kilbride/e58a6831546efeb43fef8fae6b2d1da6#file-webpack-config-js-L64)

[2017-04-07 23:52] michael-ciniawsky commented on #211
Could also console.log(path.resolve(__dirname, 'dir'))

[2017-04-07 23:59] jeff-kilbride commented on #211
@michael-ciniawsky  are you saying put that `console.log` in my `webpack.config.js` or in the `addStyles.js` file?

[2017-04-08 00:17] jeff-kilbride commented on #211
Changing to an absolute path for the `styles.css` file didn't help. I changed my config to use:
[code]
[code]

[2017-04-08 00:21] jeff-kilbride commented on #211
I'm not sure how to remove ETWP without screwing up the rest of my project. I have everything pointing to that `public/css/styles.css` file, so removing it wouldn't really work for me.

[2017-04-08 00:39] jeff-kilbride commented on #211
Ok, I removed ETWP just to test it and I'm still getting an error. I changed my config to the following:
[code]
And here's what I get:
[code]

[2017-04-08 09:30] QuantumInformation commented on #206
Sorry mate, I just do enough webpack to get by and don't dig too deep!
Btw are you from Scotland?

[2017-04-08 14:26] DyckGerman commented on #211
I have same issue with my brand new project. Have you tried downgrade webpack version instead of style-loader?

[code]

app.js
[code]

[code]

[2017-04-08 17:06] jeff-kilbride commented on #211
@DyckGerman  I have not tried downgrading `webpack` itself, but I would be interested to hear if that makes a difference for you. The `0.13.2` version is working for me, so I am just going to leave it that way until this is resolved.

@michael-ciniawsky  I tried using an absolute path with the `require` statement in `addStyles.js`:
[code]
I'm still getting the resolve error, even though it's using

[2017-04-08 17:23] jeff-kilbride commented on #211
@michael-ciniawsky  I did some digging and found the `--display-error-details` flag. Here is the more verbose output:
[code]
I'm not sure, but it looks like the resolver isn't adding the file name extensions correctly. It seems to be looking for `fixUrlsjs` instead of `fixUrls.js` -- and the same issue for all the other extensions it tries.

[2017-04-08 17:31] jeff-kilbride commented on #206
@QuantumInformation  I'm from Los Angeles. My paternal grandfather was born in Ireland, though -- hence the gaelic name. However, I have a very large group of ex-pat Irish / Scottish friends.   😃

I've dug a little deeper into this issue in #211, if you're interested in following it.

[2017-04-08 18:04] QuantumInformation commented on #206
Cool thanks, I'm from  town called East kilbride

[2017-04-08 18:28] michael-ciniawsky commented on #211
@jeff-kilbride I try to get tobias on this 😛 could you finally try by removing your resolve config from `webpack.config.js` only to verify, if it has something to do with the webpack resolver ?

[2017-04-08 18:44] jeff-kilbride commented on #211
@michael-ciniawsky  Ok, I think I've solved this. Your nudge to look at the `resolve` config in my `webpack.config.js` file helped.

From the `webpack` docs, extensions in the `resolve` config are supposed to have a leading `.`:
https://webpack.js.org/configuration/resolve/#resolve-extensions

So, I changed my `resolve` config to:
[code]
And now things are working. I guess I haven't hit this befor

[2017-04-08 18:47] jeff-kilbride commented on #211
@DyckGerman  based on your config, this should fix you're problem, too...

[2017-04-08 18:48] michael-ciniawsky commented on #211
@jeff-kilbride This happend to me a few times :D, can you definitely verify with latest `style-loader` that is works correctly ?  😛

[2017-04-08 18:50] michael-ciniawsky commented on #211
Verify by closing the issue, thx for taking a deeper look at this and taking the time :)

[2017-04-08 18:54] jeff-kilbride commented on #211
Yep, definitely works:
[code]
[code]
🎉   No more errors! (feeling ridiculously stupid, right now...)

[2017-04-08 18:54] #211 closed

[2017-04-09 04:24] d3viant0ne opened #212 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-11 15:12] SeeThruHead opened #213 "insertInto for iframes"
Feature

insertInto is limited to a string which is passed to document.querySelector

It would be nice if iframe support was included into insertInto as we often want to load css into an iframe for embedded widgets and the like.

[2017-04-13 14:55] mgol opened #214 "convertToAbsoluteUrls makes the URL prefix prepended to SVG data URLs if they contain comments"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**
Data URLs defining SVGs with HTML comments get a URL prefix prepended, breaking the rule.

**If the current behavior is a bug, please provide the steps to reproduce.**

For the following input:
[code]
Using the `style-loader` with the default `convertToAbsoluteUrls: true` and source maps enabled gets

[2017-04-13 14:55] mgol commented on #195
This still doesn't work in some cases. I reported #214.

[2017-04-17 15:18] jrbotros commented on #207
Looks like shadow-piercing selectors are [all deprecated](https://www.chromestatus.com/features/6750456638341120). Trying to figure this out myself, will let you know if I have any luck!

[2017-04-17 15:52] jrbotros commented on #207
@pastelsky As a workaround, I used the [`attrs` option](https://github.com/webpack-contrib/style-loader/blob/master/README.md#attrs) to set a class name on each style tag, then injected them manually:
[code]

[2017-04-18 08:49] alex-mm opened #216 "Perfect the custom attributes, Built-in component information, such as: name, version."
## why?

I have many components.

![](https://gw.alicdn.com/tfscom/TB1xjK3QFXXXXXDaFXXXXXXXXXX.png)

I would like to distinguish between which component and the version number to use.

I found the `attrs`

[code]

But the information of the component can only be obtained in the compilation of each file.

so

I would like to make this change in 'style-loader/index.js'.

[code]

then

I use it like

[2017-04-18 11:23] michael-ciniawsky commented on #216
@alex-mm What's the particular usecase for this in terms of development ? 😛

[2017-04-18 18:58] xtianus79 commented on #123
I started this issue because while it is related I don't believe it is the same thing

https://github.com/angular/angular-cli/issues/6002

[2017-04-19 00:53] Benno007 commented on #148
Hey @kevinlaw91 , just wondering what your configuration is? We have the exact same issue with CSS modules and react hot reloader. It's basically useless for us and we have to refresh the page each time.

[2017-04-19 02:59] alex-mm commented on #216
@michael-ciniawsky

It is mainly to help developers identify which components and versions.

When the dependent components are many, there are some common dependencies, especially when the dependent version is different, there will be style coverage problems, it is difficult to find which component is wrong version, there will also be repeated insert the situation, you are It is hard to see which

[2017-04-19 05:19] kevinlaw91 commented on #148
@Benno007, If I remember correctly I fixed it by changing webpack dll config. I removed `react-hot-loader` and some others. HMR works perfectly since then. Maybe you can try removing some and try if it works for you. Cheers.

[2017-04-19 09:49] mgol commented on #199
In the Node.js + jsdom scenario all browser globals are available under `window` but not necessarily under the global; hence the need to take all browser globals from `window`.

[2017-04-19 16:43] evilebottnawi commented on #179
@Kovensky can you create minimal test repo, it is speed up the solution of the problem :smile:

[2017-04-19 17:24] evilebottnawi commented on #214
@mgol Example contradict specification, your should use `data:image/svg+xml;charset=utf-8,%3C!--%20Comment%20--%3E%3Csvg%3E%3C%2Fsvg%3E` https://drafts.csswg.org/css-values-3/#urls.
I don't see in spec section allowing to use raw data without `data`

[2017-04-19 17:35] evilebottnawi commented on #214
@mgol can you provide use case and how `'%3C!--%20Comment%20--%3E%3Csvg%3E%3C%2Fsvg%3E'` in `url` without `data`, maybe create minimal reproduced test repo

[2017-04-19 18:09] mgol commented on #214
I'm sorry, when I was creating a minimal example I cut out too much. Please take another look.

Note that I can't specify the charset as that breaks IE 11 for some reason; UTF-8 is a default anyway, though.

[2017-04-19 18:14] evilebottnawi commented on #214
@mgol weird, bootstrap v4 use `charset=utf8` https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss#L467 and they support `IE` 10-11, also they tests are passed :thinking:

[2017-04-19 21:24] evilebottnawi commented on #214
@mgol anyway your url wrong, `data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Comment)%20--%3E%0A%3Csvg%3E%3C%2Fsvg%3E%0A` have `)`, see spec https://drafts.csswg.org/css-syntax-3/#url-token-diagram:
***not " ' ( ) \ ws or non-printable***

[2017-04-19 21:33] evilebottnawi commented on #214
And bug not in `convertToAbsoluteUrls` options, bug in https://github.com/webpack-contrib/style-loader/blob/master/fixUrls.js#L57 regex, try to open https://regex101.com/ paste your code and reg ex from link(https://github.com/webpack-contrib/style-loader/blob/master/fixUrls.js#L57) and see how `style-loader` see your url

[2017-04-19 22:02] evilebottnawi commented on #214
/cc @michael-ciniawsky I think that it is won't fix,  because comments in svg can contain any characters and it is can break url in `css`.

Maybe we can remove comments in `url-loader` for `svg` files?

[2017-04-20 04:37] michael-ciniawsky commented on #214
@evilebottnawi Could you please open an issue in `url-loader`, so we can keep track of/triage that ? :)

[2017-04-20 05:19] michael-ciniawsky opened #218 "Standardize README"

[2017-04-20 08:19] evilebottnawi commented on #214
@michael-ciniawsky sorry i don't right, `url-loader` **always** use decode data because it is `base64`, we can do this in `css-loader`, i do PR

[2017-04-20 08:28] mgol commented on #214
@evilebottnawi

I see, good to know. No browser follows that restriction, though as this data URL worked everywhere for me.

[2017-04-20 08:31] evilebottnawi commented on #214
@mgol on the idea that this is where it works, not the best practice, for this purpose there are specifications, to support non-standard behavior is not a good idea, but I have an idea how it can still be fixed anyway.

[2017-04-20 09:05] mgol commented on #214
Yes, I understand, I've already removed such usage from my code. My point is Web standards have recently tried to match reality as much as possible so if every single major browser behaves differently to the spec (and consistent with each other) then maybe the spec should get an update.

[2017-04-20 09:07] evilebottnawi commented on #214
@mgol maybe, let's this will leave the creators of the browser and specifications, we have a lot of work here :smile:

[2017-04-21 21:37] TrySound opened #431 "feat: named exports"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

**What is the expected behavior?**

Would be great to have a named exports mode which can help to verify class existing by new webpack feature. Not quite sure it works now.  But in theory it can fix lots of is issues.

[2017-04-24 19:13] amie-wilt opened #220 "IE11 syntax error in addStyles.js"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

IE11 is throwing a Syntax error in addStyles.js.

**If the current behavior is a bug, please provide the steps to reproduce.**

My config:

https://gist.github.com/amie-wilt/643773311eadf621db5a46454b768efb

**What is the expected behavior?**

**If this is a feature request, what is motivation or use

[2017-04-24 20:01] michael-ciniawsky commented on #220
@amie-wilt Please also post the Syntax Error here :)

[2017-04-24 20:11] amie-wilt commented on #220
@michael-ciniawsky Sorry about that!

<img width="291" alt="screen shot 2017-04-24 at 4 10 29 pm" src="https://cloud.githubusercontent.com/assets/8226176/25356578/ab15a9c6-2908-11e7-9fbf-87c464a19239.png">

<img width="750" alt="screen shot 2017-04-24 at 4 10 41 pm" src="https://cloud.githubusercontent.com/assets/8226176/25356580/ac6bdde0-2908-11e7-926b-4286b651cfb6.png">

[2017-04-25 14:15] evilebottnawi commented on #220
@amie-wilt can your disable all required extra `required`, some polyfill or other library can change default browser behavior, or your can create test minimal reproduce repo, it is allow asap fix bug :+1:

[2017-04-28 11:08] AStaroverov commented on #148
Hi. Im remove this lines and hmr work correct for me.
How i understand, when i use css?modules and use something like

[code]
...
[code]
style loader begins to depend on react and can not apply hot reload.

Can i resolve it without removing this lines?

[2017-04-30 20:14] #218 closed

[2017-04-30 20:15] michael-ciniawsky opened #223 "feat: add options validation (schema-utils)"

[2017-05-01 11:51] ablankenship10 commented on #194
Think I am having a similar but slightly different issue. Without style-loader the webpack output:

[code]

Importing 1 empty stylesheet into my project causes this:

[code]

My webpack config with the work around mentioned above:

[code]

[2017-05-03 20:27] McZieuwa opened #226 "not installing due to package.json"
I am getting this unusual error while trying to install style-loader. I dont normally get this error, I install style-loader successfully a few days ago but i am not sure what is going on. Please take a look

[code]

[2017-05-03 20:34] evilebottnawi commented on #226
@McZieuwa try to cleanup npm `cache` https://docs.npmjs.com/cli/cache

[2017-05-03 20:46] McZieuwa commented on #226
Thank you! That solved the problem

[2017-05-03 20:46] #226 closed

[2017-05-03 22:18] stonebk commented on #200
Note it should be uppercase "B":

    node: {
        Buffer: false
    }

[2017-05-04 15:24] amie-wilt commented on #220
@evilebottnawi sorry it's taken awhile for me to get back. This issue is not related to this loader but rather I did not have babel-polyfill for async/await in my webpack config. Sorry for the unnecessary issue.

[2017-05-04 15:24] #220 closed

[2017-05-07 12:44] danielmhanover commented on #140
+1

[2017-05-07 12:56] evilebottnawi commented on #140
@danielmhanover please update your `postcss-import` to latest version (also check version `webpack` and `style-loader`).

[2017-05-08 09:27] liady opened #229 "transform breaks when building on windows"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When building with Webpack on windows, each css fails with
`Module not found: Error: Cannot resolve module 'C:folderNamesrccssVariablesPolyfill'`
(the path to the transform module, stripped from slashes)
The tests also fail on Windows.

**If the current behavior is a bug, please provide the steps to re

[2017-05-08 10:51] #229 closed

[2017-05-09 20:21] DBosley opened #231 "source-map resource urls coming out strange"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using postcss-loader (only using autoprefixer plugin, no extra configurations) combined with sass-loader, css-loader, and style-loader causes the resource URL for sourcemaps to be strange:

example: http://imgur.com/a/R73hV
scss loader config
[code]

**What is the expected behavior?**
relative urls for

[2017-05-09 20:25] DBosley commented on #231
This issue seems to affect multiple loaders. Posted the same issue on all affected loaders:
https://github.com/webpack-contrib/css-loader/issues/529
https://github.com/webpack-contrib/sass-loader/issues/451
https://github.com/webpack-contrib/style-loader/issues/231
https://github.com/postcss/postcss-loader/issues/224

[2017-05-12 15:12] evilebottnawi commented on #231
Not related to `style-loader`, feel free to reopen if after merge https://github.com/webpack-contrib/css-loader/pull/532 error still exists

[2017-05-12 15:12] #231 closed

[2017-05-21 15:02] luandr opened #233 "Module not found"
I'm a newbie, it's a bug or what? Someone can help me figure out?? I search and search and nothing about...
Yesterday i use this 100% functional, but today starting a new project (from a tutorial)...
I put the finished code from tutorial in the folder and same happens, so it's code or loader??
[code]
::edit i running webpack-dev-server i'm not using wamp for this, it's just a folder.
I used yester

[2017-05-21 15:10] luandr commented on #233
Oh, forget, i was installing global but doesn't work, i tried --save-dev and works. Sorry, my bad :)

[2017-05-21 15:10] #233 closed

[2017-05-22 00:34] #223 closed

[2017-05-22 09:57] dsempel opened #234 "Uncaught TypeError: Cannot read property 'sourceMap' of undefined"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After upgrading to v0.18.0 and trying to run my application with webpack-dev-server it produces the following error and I get a blank page.
[code]

I looked at `addStyles.js`, but could not figure out why `obj` would be undefined.
This is the relevant part of my webpack config (all loaders are at lates

[2017-05-22 10:08] michael-ciniawsky commented on #234
`config.devtool` please && does this also happen without `extract-text-webpack-plugin`? This latter is especially odd, because should be use only if something went wrong during extraction

[2017-05-22 11:17] lostpebble opened #235 "SourceMap problem when hot reloading"
**What is the current behavior?**
I just updated to 0.18.0 from 0.17.0 - and now I'm getting crashing errors, like so:

[code]

**What is the expected behavior?**
Styles should reload without crashing the hot reloading

I tried updating the `css-loader` to the latest version (that was just released for seemingly the same problem) but it still crashes.

I have now reverted back to 0.17.0 and there

[2017-05-22 11:18] lostpebble commented on #235
Sorry, see this has been mentioned on #234 already. (I had this window open for quite a while before submitting the report)

[2017-05-22 11:38] evilebottnawi commented on #235
@lostpebble can we close this issue in favor https://github.com/webpack-contrib/style-loader/issues/234?

[2017-05-22 11:48] michael-ciniawsky commented on #235
@lostpebble Could you try this out please (#236)  `npm i -D webpack-contrib/style-loader#fix`

[2017-05-22 11:48] michael-ciniawsky commented on #234
@dsempel  Could you try this out please (#236)  `npm i -D webpack-contrib/style-loader#fix`

[2017-05-22 19:10] dsempel commented on #234
Your fix seems to be working fine! Thank you.
Don't know if you still need it:
`config.devtool: production ? 'source-map' : 'cheap-module-eval-source-map'`
`extract-text-webpack-plugin` is actually disabled for development.

[2017-05-22 19:18] evilebottnawi commented on #234
@dsempel can your provide minimal test repo where error occurred? We need to understand
 why it is happens and add tests (no regression in future).

[2017-05-22 19:37] dsempel commented on #234
Ok I will try to provide something tomorrow. It's a big repo with quite a complex webpack setup, but I'll try!

[2017-05-22 19:43] evilebottnawi commented on #234
@dsempel It will be great :+1:

[2017-05-22 22:27] michael-ciniawsky commented on #234
@dsempel Thx, yeah that was the only logic related change between `0.17.0...0.18.0` and yeah...😅

[2017-05-22 22:56] #234 closed

[2017-05-22 23:14] michael-ciniawsky commented on #121
#219 will fix this, but there is not current timeline when this land, so please be patient :)

[2017-05-22 23:14] #121 closed

[2017-05-22 23:15] michael-ciniawsky commented on #203
Closing according to #201

[2017-05-22 23:15] #203 closed

[2017-05-22 23:17] michael-ciniawsky commented on #235
Fixed by #236

[2017-05-22 23:17] #235 closed

[2017-05-22 23:21] michael-ciniawsky commented on #205
Normally the `style-loader` dedupes CSS based on the format I posted in the comment above. I need more info about your setup to see what might be possible, I close the issue until more info is provided, feel free to reopen any time :)

[2017-05-22 23:21] #205 closed

[2017-05-22 23:24] michael-ciniawsky commented on #199
This should be fixed now, reopen if still  any regressions

[2017-05-22 23:24] #199 closed

[2017-05-22 23:26] michael-ciniawsky commented on #194
Fixed in `v0.18.0` https://github.com/webpack-contrib/style-loader/blob/master/lib/addStyles.js#L343

[2017-05-22 23:26] #194 closed

[2017-05-22 23:28] michael-ciniawsky commented on #179
If this is still relevant reopen anytime with a reproducible test repo (as simple as possible) :D

[2017-05-22 23:28] #179 closed

[2017-05-22 23:34] michael-ciniawsky commented on #152
Fixed by #135

[2017-05-22 23:34] #152 closed

[2017-05-22 23:39] michael-ciniawsky commented on #207
Someone here interested in spinning up a PR for this 🙃 ?

[2017-05-22 23:43] michael-ciniawsky commented on #182
Did someone here investigate further on this ? The fix looks sane, but would need to be tested, if it may break other usecases. PR welcome && appreciated

[2017-05-22 23:45] michael-ciniawsky commented on #157
Done in #218

[2017-05-22 23:45] #157 closed

[2017-05-23 09:13] johnfake opened #237 "HMR webpack-dev-server not working with style-loader 0.18.0"
HotModuleReplacement works fine with style-loader 0.17.0 and Webpack 2 but not with 0.18.0.

**What is the current behavior?**
With the latest version any change in the css files results in a complete page-reloader instead of a HotModuleReplacement ;).

**What is the expected behavior?**
changes in css/scss files should not force the browser to reload the entire page

Regards
Alex

[2017-05-23 09:15] evilebottnawi commented on #237
@johnfake maybe fixed in https://github.com/webpack-contrib/style-loader/pull/236, can your try to use `master` branch, if it still don't work please create minimal reproducible test repo. Thanks!

[2017-05-23 09:25] johnfake commented on #237
@evilebottnawi works fine with master branch! Any plans for releasing a new package on npm? Thanks!

[2017-05-23 09:44] evilebottnawi commented on #237
@johnfake yep, in the soonest time

[2017-05-23 09:44] #237 closed

[2017-05-23 09:45] johnfake commented on #237
for a workaround we can use napa and clone this repo into our package.json

[2017-05-23 09:50] evilebottnawi commented on #237
@johnfake or use `style-loader` `0.17.0`, if your don't have problems with old version. Seems no critical changed between `0.17.0` and `0.18.0`.

[2017-05-23 15:38] chrisregner-com opened #238 "Styles from node_modules are resolved and (seemingly) loaded but it doesn't apply the styles"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
CSS seems to load (please see the screenshot of FireFox's Style Editor tab below) but...

![image](https://cloud.githubusercontent.com/assets/26005158/26361588/0c9101ac-400e-11e7-98f8-de9249f982e8.png)

it doesn't apply. Below's the source inspected from browser:

![image](https://cloud.github

[2017-05-23 16:42] chrisregner-com commented on #238
Sorry, I've figured it out. It was because the styles were being loaded with css modules specification. I was under impression that it will only do so if imported in a way like this `import X form 'path/to/styles.css'`

[2017-05-23 16:42] #238 closed

[2017-05-23 22:15] dsempel commented on #234
I'm sorry, I tried but could not get a test repo to fail with the same error.. I'm pretty sure it has nothing to do with ExtractTextPlugin. It's probably a combination of `webpack-dev-server` and something else..
In the repo where the error does occur, I run this: `webpack-dev-server --hot --inline --config ./webpack.config.js`. The css setup includes: Sass, PostCSS and css modules.

[2017-05-24 09:31] zhenyulin opened #239 "package namespace update"
Is there any cons to update the package name to webpack-style-loader so that the loader packages namespace can be unified as like for babel?

[2017-05-24 09:36] zhenyulin opened #240 "namespace: package name update"
How about update the package name to webpack-sass-loader? At the moment, the webpack plugins/loaders namespace isn't very consistent. In comparison, babel, eslint, react, redux all have the namespace in a consistent convention, helping make the dependency tree clean.

[2017-05-24 09:37] michael-ciniawsky commented on #239
We could consider to publish them under an organisation namespace `@webpack/style-loader @webpack-contrib/style-loader`, but this needs triag an consensus amongst webpack/webpack-contrib. Feel free to open an RFC in webpack-contrib/organisation as recommendation, but for a single repo not atm sry, the 'inofficial' convention is `${name}-loader` / `${name}-webpack-plugin` which is not the best for

[2017-05-24 09:37] #239 closed

[2017-05-24 09:39] michael-ciniawsky commented on #240
See https://github.com/webpack-contrib/style-loader/issues/239

[2017-05-24 09:39] #240 closed

[2017-05-29 20:53] anilanar opened #241 "style-loader/url uses JSON.stringify instead of loaderUtils.stringifyRequest"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In `url.js`, `JSON.stringify` is used for `addStyleUrl.js`. That uses absolute path, which breaks hash stability using https://github.com/alexindigo/webpack-chunk-hash which is the suggested plugin at https://webpack.js.org/guides/caching/#deterministic-hashes

**If the current behavior is a bug, pleas

[2017-05-29 21:50] #241 closed

[2017-05-30 16:41] #182 closed

[2017-05-31 22:08] BerndWessels opened #246 "style-loader breaks webpack(1) HMR ?"
Updating sass variables will only work once - after that HMR refused to work - most likely related to `style-loader`.

Please find bug description and details [here](https://github.com/storybooks/storybook/issues/1155)

[2017-06-01 15:45] tobias-zucali commented on #213
+1, we are also searching for that feature!

[2017-06-01 15:55] evilebottnawi commented on #213
@tobias-zucali PR welcome :+1:

[2017-06-01 16:16] xenyal opened #247 "style-loader singleton option doesn't work"
I'm currently using the style-loader in Webpack 1 in a chained sequence. The outputted style tags are still numerous instead of a single tag. My config is as follows:

[code]

[2017-06-01 16:25] michael-ciniawsky commented on #247
[code]
[code]

Please also provide the following info

- `style-loader` version
- DevTool Logs/Screenshots etc.

[2017-06-02 15:44] Loppone commented on #123
It's two days i try everything but when i fix the app in production it crashes in development and viceversa. This is my working configuration in production:

[code]

My component:

[code]

I tried thousand of combinations, but none was working.
Thanks in advance

[2017-06-03 05:03] urikphytech commented on #55
Hi! I've tried every combination I could possibly think of and I can't understand why my images aren't found...
Here is my configuration:
[code]

And i'm requiring the images via scss:
`
background-image: url('/assets/images/login/background_4.jpg');
`
Webpack output is:
<img width="1234" alt="screen shot 2017-06-03 at 7 58 07" src="https://cloud.githubusercontent.com/assets/25924697/26750779/f31d

[2017-06-04 09:49] uriklar commented on #55
Ok, so my issue wasn't relate (I'll delete my comment if maintainers prefer), but in case someone does get here with the same problem as me, what fixes it for me was adding the: context option to file-loader (i'm actually using url-loader) with the base url that assets need to be loaded from.

[2017-06-05 13:04] ManuLintz commented on #123
I needed to require a CSS file from a nodemodule in an Angular 4 component and this worked for me:
`  styles: [ require('css-to-string-loader!style-loader!module/dist/file.css')]`

[2017-06-12 07:01] amirbilu commented on #213
+1 would love to see this feature integrated!

[2017-06-12 12:10] #213 closed

[2017-06-21 02:19] imnot2 opened #249 "ReferenceError: window is not defined"
style-loader@0.18.1

my webpack config
[code]
![image](https://user-images.githubusercontent.com/4587852/27364113-1792812a-566b-11e7-9471-19dc08d9dbdf.png)

[2017-06-21 11:50] michael-ciniawsky commented on #249
`style-loader` adds code to your webpack bundle to **load** the CSS via `<style></style>` tags, most of the time during development

[code]

`window` isn't defined, because there isn't any during CSS extraction  :)

[2017-06-21 11:50] #249 closed

[2017-06-27 15:38] MatTheCat opened #252 "Can't get /url to work"
[code]

Above configuration does indeed inject `<link>` tags into the DOM but their content is like

[code]

What am I doing wrong?

[2017-06-27 16:33] michael-ciniawsky commented on #252
This is because of `css-loader`, which has a 'special' format for CSS `[[id, css, map, ...]]`, could you try without `css-loader` ?

[2017-06-28 07:23] MatTheCat commented on #252
It's working without `css-loader` but I need it to resolve  `url()`. Is there a way to use both `style-loader/url` and `css-loader`?

[2017-06-28 19:45] michael-ciniawsky commented on #252
Maybe `to-string-loader` between style-loader && `css-loader` the `css-loader` format is an `{Array}` which is untangled,when calling `arr.toString()` on it  ⚠️ Note that this will **not** dedupe any CSS then, which is the reason for the `{Array}` format in the first place :)

[2017-06-28 23:23] Bkucera opened #254 "Can't resolve './urls'"
Style-loader: ^0.18.2
Configuration: node v6.11.0 , npm  v3.10.10

[code]

gives this error on webpack build
[code]
Module works correctly if I change `addStyles.js:44` from `require('./urls')` to `require('./urls.js')`

[2017-06-29 07:27] MatTheCat commented on #252
I tried

---

1. style-loader/url
2. to-string-loader
3. file-loader
4. css-loader

⤷ Same issue.

---

1. style-loader/url
2. to-string-loader
3. css-loader

⤷ CSS content is dumped in `<link>` `href`.

---

1. style-loader/url
2. file-loader
3. to-string-loader
4. css-loader

⤷ CSS file contains

[code]

---

Seems there is no way to achieve this :disappointed:

[2017-06-29 11:42] evilebottnawi commented on #254
@Bkucera can your provide minimum reproducible test repo? Also give information about nodejs version?

[2017-06-29 11:46] evilebottnawi commented on #214
@mgol just confirm, try to update `style-loader` and `css-loader` to latest and check bug exists

[2017-06-29 11:48] evilebottnawi commented on #41
@syranide can your provide minimum reproducible test repo, just confirm bug exists?

[2017-06-30 15:11] ingro opened #255 "insertAt option doesn't work with style-loader/url"
**What is the current behavior?**
Setting `insertAt` has no effect when used with `style-loader/url`

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
The stylesheet generated by this rule gets appended at the bottome of the `head` tag instead to be on top (which works good using plain `style-loader` and `css-loader`)

**What is the expected behavior?**
The link

[2017-07-01 03:20] danhdoancs commented on #254
I got the same error and it took me a good hour to realize that the resolve values of webpack.config.js are not correctly set. They missed "." before the extensions.
    resolve: {
        extensions: ['.js','.jsx']
    }

[2017-07-01 13:17] evilebottnawi commented on #254
@danhdoancs can your provide minimum reproducible test repo?

[2017-07-01 14:15] Bkucera commented on #254
@danhdoancs Thank you! This was my issue. its a shame webpack doesn't recognize the lack of dot, and show you a warning of some sort.

[2017-07-01 14:15] #254 closed

[2017-07-02 21:57] ivan7237d commented on #252
Me too I'm stuck with this  🤔 I'm new to webpack and so I have a hunch I'm missing something obvious.

What I'm trying to do shouldn't be that rare of a use case — I want be able to tweak styles in Chrome, and have changes automatically saved to disk with Workspace feature. For that to happen, css files shouldn't undergo any transformations in dev mode (so it looks like I need `style-loader/url` +

[2017-07-03 05:07] michael-ciniawsky commented on #252
[extract-loader](https://github.com/peerigon/extract-loader) && `extract-text-webpack-plugin` I checked various options and it doesn't work to use the `css-loader` in conjunction with `style-loader/url`, the `url` option is mainly meant to support static assets insertions [in dev mode], if your project requires this to work correctly, but a simple `<link href="cdn/path/to/lib.css rel="stylesheet">

[2017-07-03 05:07] #252 closed

[2017-07-03 10:25] ivan7237d commented on #252
@michael-ciniawsky Thanks vm for the tip! `extract-loader` indeed does the trick.

But I ended up using `style-loader` + `file-loader` in dev mode, and just copy all images with CopyWebpackPlugin. The Chrome's Workspace feature is amazing for editing styles, and I have it working now.

[2017-07-06 12:32] rr-riag commented on #107
i was curious to see if i could get it to work without using the ExtractTextPlugin..

first in the html or within some css that's not imported into a JS file add something like the following..
[code]

then inside the JS file that renders the app.. (it's a bit hacky but it works)

[code]
i don't know why it needs to wait 2 cycles of the event loop, 0 or 1 isn't enough here but that seems to do it

[2017-07-07 08:24] fabio-coolshop commented on #123
my fix
<pre>
module: {
     rules: [{
          test: /\.scss$/,
          use: [{
               loader: "raw-loader"
          },{
               loader: "style-loader"
          },{
               loader: "css-loader"
          },{
               loader: "sass-loader"
          }]
     }]
}
</pre>

[2017-07-10 18:22] cdbkr opened #256 "insertInto and ShadowDom"
Regarding #135 , "insertInto" seems to me incomplete or obsolete (or missing extra features) at the moment when combining it with ShadowDom.
In the ReadME there is the following example:
[code]
My concern is that the pseudo selector "::shadow" is going (probably it is) to be deprecated along with "/deep/".

Are you aware of any other way to replicate the example above using css selectors?

Maybe,

[2017-07-16 03:55] danhdoancs commented on #109
Stumbled upon this issue too and I found an every simple solution. You just need to use ExtractTextPlugin on the server side for css-loader to extract CSSs without going through style-loader. Then, we could just ignore that duplicated css file without any harm.

This is the config for css loader:
` {
                test: /\.css$/,
                exclude: /node_modules/,
                loader: E

[2017-07-24 16:57] Ross-Esmond commented on #254
It happened to me as well. My webpack config had the periods but I didn't have the '.js' extension in there. I just had '.ts' and '.tsx'. When I realized what I did it seemed kind of obvious. Just leaving a comment in case anyone else follows the exact same path I did.

[2017-07-27 00:34] gartz opened #257 "webpack 3 is returning a object instead URL"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
It display's `root_path/[Object%20Object]` instead of the URL to the asset in the CSS.

**If the current behavior is a bug, please provide the steps to reproduce.**
Use Webpack 3, with modules and url enabled.
Not sure if it affects, but I'm using also Babel (tried with 6.x and 7.x) and CSSNext.

**Wha

[2017-07-29 16:11] holgersindbaek commented on #74
+1

[2017-08-07 03:07] fedeoo opened #259 "HMR failed to update for CSS Modules when the file is empty"
**Do you want to request a *feature* or report a *bug*?**

Yes
**What is the current behavior?**
I have build a [demo](https://github.com/fedeoo/hmr-failed-case). In this project, the `src/Test.css` is empty. I add some styles to this file:
[code]
Nothing was happened! I found the style was updated correctly, but the page is not re-rendered.

**If the current behavior is a bug, please provide the

[2017-08-08 14:46] LukasBombach commented on #256
I could use this too. It seems `::shadow` is deprecated now. For reference, [I opened a thread on SO](https://stackoverflow.com/questions/45571378/is-there-a-way-to-use-queryselector-to-get-an-open-shadow-dom).

However, this could be shimmed. We could check if a `::shadow` selector is present and just do

[code]

or

[code]

respectively.

Would the maintainers care for such a PR?

[2017-08-08 19:23] LukasBombach commented on #256
This works: https://github.com/webpack-contrib/style-loader/compare/master...LukasBombach:allow-insertInto-shadow-dom

I'm gonna test this a little bit tomorrow, write unit tests and might open a PR if you want to.

[2017-08-09 00:02] morewry commented on #256
I just copied this from the README `#host::shadow>#root` and got `Uncaught Error: Couldn't find a style target. This probably means that the value for the 'insertInto' parameter is invalid.`

I take it this means it's a CSS selector and you have to write a really specific selector for a shadow root. However, this selector doesn't function in recent versions of Chrome (no longer shows a deprecation

[2017-08-09 08:07] LukasBombach commented on #256
@morewry Regarding the CSS selector for finding your web component. When you setup your project you are in control of the HTML, so you can write any specific CSS selector that fits your HTML, you don't have to account for users using your web component differently. In the end you compile everything and ship your component with the styles included independent of what selector you used during develo

[2017-08-10 05:12] jimsimon commented on #207
It looks like a duplicate issue was opened (#256) and someone has a proposed fix posted in there.

[2017-08-17 07:42] Lenic opened #261 "style-loader/useable won't work on code splitting by webpack"
我的 Webpack 配置是这样的：

My webpack's configuration is:

[code]

模块拆分的代码是这样的：

The code of Coding splitting is:

[code]

别的地方都是正常的 Vue 代码，编译后打开页面就发生了错误：
Other is normal code of vue, but occur error on opened page on browser:

[code]

经过我的研究后发现，`style-loader` 的模块没有全部加载。并且在我监视代码变更的情况下，修改任何代码导致的 Webpack 重新编译，没有加载的模块会在重新编译后打包进去，上面的问题将被修复。

According my search, the modules of `style-loader` aren’t load for

[2017-08-17 09:12] evilebottnawi commented on #261
@Lenic Please use English language for describe your problems, it is standard for speaking on github.

[2017-08-17 09:48] Lenic commented on #261
@evilebottnawi Chinese is English's translation, so it's OK read English only.

[2017-08-17 09:49] evilebottnawi commented on #261
@Lenic Thanks, in near future i investigate this

[2017-08-17 13:22] michael-ciniawsky commented on #261
`vue-router` and `vue-loader` (`vue-style-loader`) is a custom implementation, it's difficult to say where it fails if your a are unfamiliar with `vue-*` internals. Can you pin point the issue down a bit please (maybe without `vue`, but similiar approach)

[2017-08-19 15:11] Lenic commented on #261
@michael-ciniawsky Look my [demo project](https://github.com/Lenic/classic-web), clone and run it, you can find error in chrome dev tool. Modify any code and save, the error will disappear by refresh the page.

[2017-09-02 14:39] vivek-vidhema commented on #123
Thanks @daddywoodland
`{ test: /\.css$/, loaders: ['to-string-loader', 'css-loader'] }`
this worked like a charm

[2017-09-07 03:10] Lenic commented on #261
@michael-ciniawsky , Can you help me?

[2017-09-07 18:09] creeperyang commented on #109
I forked `style-loader` and make the **iso-morphic-style-loader**.  Not sure whether it will fit your needs, but it support `style-loader` work with node env, and used with isomorphic app quite well.

[**iso-morphic-style-loader**](https://github.com/creeperyang/iso-morphic-style-loader)

[2017-09-08 17:41] drawyan opened #263 "HMR code block should not be output for distribution, should accept an option"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
The output always has the following template (source code in index.js):
[code]

And this block is useless in prod because it will never be run with `if (false)` while HMR is off. But the problem is that the `"!!../node_modules/some-npm-registry/postcss-loader/2.0.6/node_modules/postcss-loader/lib/inde

[2017-09-08 18:11] evilebottnawi commented on #263
@drawyan good idea :+1: PR welcome

[2017-09-08 21:51] drawyan commented on #263
PR is here: https://github.com/webpack-contrib/style-loader/pull/264

[2017-09-13 17:59] evilebottnawi commented on #246
@BerndWessels seems you found solution https://github.com/storybooks/storybook/issues/1155#issuecomment-305346087, can we close issue here?

[2017-09-13 23:05] michael-ciniawsky commented on #246
Feel free to reopen if still regressions :)

[2017-09-13 23:05] #246 closed

[2017-09-14 08:13] #263 closed

[2017-09-19 09:01] ShoaibIqbal452 commented on #123
I am using sass in my project and following is my webpack_base_config.js
`const webpack = require("webpack")
const path = require("path")
const config = require("./config")
const ExtractTextPlugin = require("extract-text-webpack-plugin")

module.exports = {
    "cache": true,
    "entry": {
        "polyfills": path.join(__dirname, "..", "src", "polyfills.ts"),
        "vendor": path.join(__dirnam

[2017-09-26 10:34] Aqours opened #265 "Does not apply objectUrl for `<link>` tag when setting `sourceMap: true`"
**Move from**: [css-loader with `sourceMap: true` cause adding style tag delayed](https://github.com/webpack-contrib/css-loader/issues/613)

Actually, above issue is caused by style-loader.

https://github.com/webpack-contrib/style-loader/blob/378e90637f1c2c30bff026d7f92bdc82d9d4ecb8/lib/addStyles.js#L354-L363

I have an idea to resolve this issue, but it's not perfect. Consider to apply this solu

[2017-09-26 11:41] evilebottnawi commented on #265
@Aqours thank for issue, maybe best to wait when bug was fixed in `firefox` when change right source code?

[2017-09-27 08:05] Aqours commented on #265
@evilebottnawi can you provide a flag(e.g: `options.debug: true`) to enable this feature? so we can debug less/sass source code.

[2017-09-27 19:31] AdamWillden commented on #127
@waterstar I know this issue is old but I too have a webpack config that acts only on `.scss` files and I also get the hot reload 404.

Did you manage to get such a setup working without the 404?

[2017-09-28 09:17] evilebottnawi commented on #265
@d3viant0ne what do you think about this issue?

[2017-10-02 09:46] francoismassart commented on #216
I would appreciate it too.

It is kind of frustrating to be able to add only "static values" to the attributes of the injected `<style>` elements...

[2017-10-03 12:06] evilebottnawi commented on #259
@fedeoo problem still exists? If yes can you provide minimum reproducible test repo?

[2017-10-09 02:24] fedeoo commented on #259
The problem always exists. I have build a demo: https://github.com/fedeoo/hmr-failed-case

[2017-10-10 04:39] msdlisper opened #267 "Flash of Unstyled Text. when my page jump to another page, and use 'style.unuse()' in componentWillUnmount()."
**What is the current behavior?**
when a page changed, I removed my styles use 'unuse()' in 'componentWillUnmount',  the browser  recalculated and  reflowed with no styles  before next page render, so, my page have a flash. important: this flash only find in Blink browser.  other browser have same problem only in break point.

**Please mention other relevant information such as your webpack versio

[2017-10-11 21:21] vadimkuragkovskiy commented on #254
so, I'll try to save a lot of time to someone :)
In case with the error which was described above, here is the solution:

bad/error:
[code]

good/no error:
[code]

I hope it helps someone :)

[2017-10-12 07:41] Sanonz commented on #259
@fedeoo I met the same problem as you.

edit file: [https://github.com/webpack-contrib/style-loader/blob/master/useable.js#L35](https://github.com/webpack-contrib/style-loader/blob/master/useable.js#L35)
[code]
to
[code]
It works!

[2017-10-12 09:04] evilebottnawi commented on #259
@Sanonz PR welcome

[2017-10-17 05:08] shellscape opened #268 "Edge Case: Window Undefined in WebWorker"
**Do you want to request a *feature* or report a *bug*?**
A bug, but it's quite an edge case.

**What is the current behavior?**
When a bundle is compiled that is executed within a WebWorker and contains a css require (this is where it gets edgy), `window` isn't defined at all. That in turn, fails on [addStyles.js#23](https://github.com/webpack-contrib/style-loader/blob/67120f8dc831626f466d64513b4

[2017-10-17 06:10] michael-ciniawsky commented on #268
Both `window` && `document` are unavailable in `DedicatedWorkerGlobalScope`, so it isn't possible for `style-loader` to work within/from a worker context. The 'worker' bundle is generated by `worker-loader` and emitted as an asset (bundle), which `webpack-dev-server` is trying to serve ? If that's the case see https://github.com/webpack-contrib/worker-loader/blob/master/index.js#L31 which ensures

[2017-10-17 06:10] #268 closed

[2017-10-17 13:31] shellscape commented on #268
@michael-ciniawsky true. however, I think this is mislabeled as a bug, and I think the close was just a small smidgen premature. given that this should _never_ be used within a worker context, a very simple escape hatch should be considered; throwing a simple error alerting the using developer to the issue, and then bailing.

oodles of other dom-centric components will load successfully, but don't

[2017-10-23 20:07] onlywei commented on #263
@evilebottnawi @drawyan sorry for resurrecting this issue, but I think that the pull request solution to this is slightly different from the ideal. I am highly confused by this "option" to enable/disable HMR. Having an option is fine, but I think that's a totally different issue from the one this issue is originally reporting.

I look at this as a dev vs dist situation. If I am doing development,

[2017-10-23 22:01] michael-ciniawsky commented on #263
`options.hmr = true // {Default}` === Add HMR Code + Use HMR
`options.hmr = false` === Don't add HMR Code + Don't use HMR

@onlywei Could you describe what isn't ideal atm ? This is a simple opt-out for scenarios where the HMR Code/HMR isn't desired/needed. The main `style-loader` use case nevertheless is for `development` expecting HMR to 'just' work. Any other use case can be fairly simply achie

[2017-10-23 22:31] onlywei commented on #263
I agree that in `development`, HMR should 'just' work.

However, on the flip side, for distribution files the block of dead code that represents should also 'just' not exist. Not only does it increase file size, but it also messes with any other tools that rely on static analysis (such as JSPM/SystemJS). Library authors should not have to specify an option for this code to not exist in their dist

[2017-10-24 05:10] #41 closed

[2017-10-25 16:12] HectorLS opened #269 "Setup to force CSS to load before Javscript"
Hello,
I have a good webpack setup running right now for Development, the only problem is that CSS is loading after the Javascript in the browser, and then i got some ugly style issues in the first seconds on page load.

How can i force a load order
**packages**
[code]
**webpack.config.js**
[code]

[2017-10-25 23:02] michael-ciniawsky commented on #269
Inject your `bundles` into the `head` of your HTML during development.`html-webpack-plugin` has an option for that.

[2017-10-25 23:02] #269 closed

[2017-10-26 13:40] HectorLS commented on #269
If i update the `html-webpack-plugin` options like this

[code]

yeah now css is on the head, but if i go to the browser's inspector i can see how my **.js** is loaded before the **.css**

Now this part, i think is a style-loader task right ?

[2017-10-26 20:46] drawyan commented on #263
OK, I've created a new PR, which is I think a better solution than the previous. Depending on the invoking npm script lifecycle event:
* `npm prepublish/prepublishOnly` for prod distribution, default hmr to false
* Others for non-prod, default hmr to true

So that most of the packages will not have this dead code block in their dist file when publishing to npm, and we can safely fix those packages

[2017-10-26 21:16] michael-ciniawsky commented on #269
CSS will be loaded after JS by design when using the `style-loader`. It adds the CSS as `<style></style>` tags to the DOM via **JS**. What I meant was the `inject` option of `html-webpack-plugin`

[code]

This might avoid some FOUC, but if your project exceeds a certain size and especially if sourcemaps are used, preventing FOUC will be difficult with the way `style-loader`works

[2017-10-27 12:50] HectorLS commented on #269
I see..., now loads much better but i had the js in the head, so maybe this is a good approach to work in Dev mode, thank you so much

[2017-11-01 04:07] herodrigues commented on #256
Was this fixed? I'm still seeing this issue

Also. `::shadow` is deprecated now

[2017-11-08 22:43] #89 closed

[2017-11-08 22:48] michael-ciniawsky commented on #267
Won't fix from our side sry...

[2017-11-08 22:48] #267 closed

[2017-11-08 22:52] michael-ciniawsky commented on #216
We could maybe include the filename, but I'm still not really convinced by the idea. If this is really wanted feel free/please open a PR for further discussion

[2017-11-08 22:53] #247 closed

[2017-11-10 14:47] kud opened #271 "[Question] What's the point of sourceMap: true"
Hello,

When I activate sourceMaps, I've got this result:

[code]

What sourceMaps in this loader should do?

[2017-11-10 22:32] JoshuaKGoldberg opened #272 "isOldIE throws 'window is not defined' in non-browser environments"
I'm using React server-side rendering in React.NET and compiling my app with `webpack`+`style-loader`+etc. `isOldIE` assumes `window` as a variable exists and can be falsy. The correct way to check for its existence would be `typeof` like in `lib/urls.js`.

[code]

[2017-11-10 23:26] WraithKenny commented on #265
I stumbled across this issue, not because of loading delays, but because the sourcemap doesn't actually work. In your tests, was the sourcemap actually loading, or just the stylesheet?

In my test, the stylesheet loads, but the styles in the firefox inspector point to the blob:null/ location, instead of the source file name. Additionally, it doesn't load the source file in the panel when you click

[2017-11-11 01:40] michael-ciniawsky commented on #271
Where does the source map posted come from ? Where does the Error come from ?

[2017-11-11 11:05] kud commented on #271
I've no idea. I've just activated it and this is what I've got in the console of Firefox Nightly.

[2017-11-14 12:31] rosenbergdev commented on #254
Thanks! Don't forget to remove happypack cache if you're using it.

[2017-11-15 00:20] budarin opened #274 "prevent duplication styles in header"
I have webconfig:
[code]
I use some same components on a page which uses styles.use() method to inject styles into header
I've thought that id in webpack configuration add to style tag unique id of stylesheet but I see 'id' string
[code]
So after initializing some components I have some absolutely the same entries in the header

Is there a way to have only one style in header if I try to styles.us

[2017-11-15 00:30] #274 closed

[2017-11-16 21:09] indolent-developer commented on #272
Guys any update on this. do we have any PR for this. This should be simple one line change.

[2017-11-17 09:38] evilebottnawi commented on #272
@michael-ciniawsky friendly ping

[2017-11-17 15:28] michael-ciniawsky commented on #272
@indolent-developer Describe your use case please and provide `{Error}` logs and your `webpack.config.js`.

[2017-11-18 09:23] indolent-developer commented on #272
@michael-ciniawsky i have reference this in library where we see issues. And regardless of that the code is not correct. Dont you agreee? The window checks are different in code else where.

[2017-11-18 14:41] michael-ciniawsky commented on #272
@indolent-developer Then please provide more info about this issues :). Let's say I don't disagree but the checks seem to work and unless there isn't a confirmed bug within the scope of this loader there is less reason to change anything

[2017-11-18 19:10] JoshuaKGoldberg commented on #272
tl;dr: The check does not work and that doesn't matter.

As per the OP, you can't check for existence of a global variable by seeing if it's truthy (which is what the check does). Just checking `if (window)` will throw an error. You have to use `if (typeof window !== "undefined")`. The same goes for `if (document)` verses `if (typeof document !== "undefined")`.

However, it's irrelevant whether th

[2017-11-18 19:10] #272 closed

[2017-11-21 01:47] Hume83 opened #276 "style loader not working in webpack 3.8.1? 🚒"
Hi, style loader not working in webpack 3.8.1, style imports always return empty object, any idea why this happens?
Same problem in typescript project

`import style from './app.style.css'`
`console.log(style); //` {}

Here my relevant part of package.json

`"devDependencies": {
		"babel-core": "^6.26.0",
		"babel-preset-env": "^1.6.1",
		"babel-preset-react": "^6.24.1",
		"babel-eslint": "7",
		"

[2017-11-21 03:14] Hume83 commented on #276
Solved
The "localIdentName" option solved my problem! now property names apparead 🏄

`use: [{
						loader: "style-loader",
					},
					{
						loader: 'css-loader',
						options: {
							modules: true,
							localIdentName: '[path][name]__[local]--[hash:base64:5]'
						},
					},
				]`

[2017-11-21 09:46] #276 closed

[2017-11-24 20:44] budarin commented on #274
I'm sorry!
any comments?

[2017-11-26 22:30] manvalls commented on #107
That flash is caused by the delay of loading the blob created on the fly to support source maps. Either disable sourcemaps for your css or add the `singleton` option to fix it.

[2017-11-28 06:25] taven-liu opened #277 "querySelector don't support ie7"
when i upgrade style-loader to v0.19, it can't work in ie7, and v0.13 is ok. i don't know why removed the code for querySelector check

[2017-11-29 15:28] Panoplos opened #278 "style munged when using localIdentName in css-loader"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

I have the following in my webpack config:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Inside of `Main.js` I am importing `Main.less` as follows;

[code]

**What is the expected behavior?**

Expect style to be included in document with localised class names,

[2017-11-29 15:32] Panoplos commented on #278
Note also that I tested with `css-loader` and changed the file to a css import, but I get the same results, so this is not related to `less-loader`.

[2017-12-01 13:45] savelichalex commented on #256
Looks like `::shadow` not working now. What you guys think if I create PR that allow to use function in `insertInto` options? Smth like this
[code]

[2017-12-01 14:14] herodrigues commented on #256
@savelichalex `::shadow` is deprecated. It's from Shadow DOM v0 spec.

A solution would be to check if the target element has a shadow root.

[2017-12-01 14:28] savelichalex commented on #256
@herodrigues Yeah, you absolutely right 😄 And this is why I want to select target with custom function. Maybe I misspelling a little, check out this
[code]
And now in this place loader will be append new styles

[2017-12-01 18:50] cdbkr commented on #256
@savelichalex that makes sense. it might even be memoized for performance reasons.

[2017-12-04 13:54] savelichalex commented on #256
Add PR for this #279

[2017-12-04 14:49] qq20004604 opened #280 "The options.sourceMap don't work"
The description of sourceMap is: 'Enable/Disable Sourcemaps'.

But in fact, the file: `lib/addStyles.js` ,line 143, the value is not from options, but modules.

And of course, `options.convertToAbsoluteUrls` don't work either.

I try to use `css-loader`, and found that when `css-loader`'s options.Sourcemaps is true, `options.convertToAbsoluteUrls` will work.

version ``0.19.0`` from npm

[2017-12-04 14:57] evilebottnawi commented on #280
@qq20004604 can you provide minimum reproducible test repo?

[2017-12-04 15:21] qq20004604 commented on #280
@evilebottnawi
https://github.com/qq20004604/webpack-study/tree/master/5%E3%80%81Loader/style_loader_demo

[2017-12-05 09:15] qq20004604 opened #283 "singleton, default is false, not true"
https://github.com/webpack-contrib/style-loader#singleton

But in fact, singleton default is false, not true.

DEMO: https://github.com/qq20004604/webpack-study/tree/master/5%E3%80%81Loader/style_loader_demo